<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="copyright" content="Copyright © 2018 jxwanhe.com. All rights reserved.">
    <title>卖家中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">


    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
</head>
<body>

<#include "/top.html"/>

<div class="body_box">

    <#include "/navigation.html"/>

    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">
                <div class="title" style="border-bottom: 1px solid#9a9999;"><span>店铺设置</span></div>
                <div class="right_panel">

                    <form action="" method="post" class="bootstrap-frm">
                        <label>
                            <span><font color="#ff4e00">*</font>店铺名称 :</span>
                            <input type="text" id="name" name="name"  value="${sellerShop.name!''}"  maxlength="15"/>
                            <a>可修改${sellerShop.surplusChangeNameCount!''}次</a>
                        </label>
                        <label>
                            <span>店铺介绍 :</span>
                            <textarea id="introduce" name="introduce"  maxlength="500"  placeholder="请填写介绍">${sellerShop.introduce!''}</textarea>
                        </label>
                        <label>
                            <span>所在城市 :</span>
                            <input name="" id="ms_city" type="text" placeholder="请选择" autocomplete="off" value="${selectProvinceCityAreaName!''}" readonly="true">
                            <input type="hidden" id="province" name="province" value="${sellerShop.province!''}" />
                            <input type="hidden" id="city" name="city" value="${sellerShop.city!''}" />
                            <input type="hidden" id="area" name="area" value="${sellerShop.area!''}"  />
                            <input type="hidden" id="province_code" name="provinceCode" value="${sellerShop.provinceCode!''}"  />
                            <input type="hidden" id="city_code" name="cityCode" value="${sellerShop.cityCode!''}"  />
                            <input type="hidden" id="area_code" name="areaCode" value="${sellerShop.areaCode!''}"  />
                        </label>
                        <label>
                            <span>详细地址 :</span>
                            <textarea id="detail_address" name="detailAddress"  maxlength="200"  placeholder="请填写详细地址">${sellerShop.detailAddress!''}</textarea>
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>验证码</span>
                            <input type="text" value="" id="utm_vcode" name="vcode"  style="width:50%" />
                            <img id="refreshCaptcha" style="width:100px;height:40px;"  src="${basePath}/api/user/vcode" alt="点击图片刷新" title="点击图片刷新">
                        </label>
                        </label>
                        <label>
                            <span> </span>
                            <input type="button" value="保存"  onclick="updateUserShop();"/>
                        </label>
                    </form>

                    <!--<form id="usform" method="post">
                        <table border="0"  cellspacing="0" cellpadding="0">
                            <tr height="50" valign="top">
                                <td width="150">&nbsp;</td>
                                <td>
                                    <span class="fl" style="font-size:24px;"></span>
                                </td>
                            </tr>
                            <tr height="50">
                                <td align="right" style="font-size:15px;"><font color="#ff4e00">*</font>&nbsp;店铺名称 &nbsp;</td>
                                <td>
                                    <input type="text" id="name" name="name"   class="l_ipt_long" value="${sellerShop.name!''}"  maxlength="15"/>
                                    &nbsp;&nbsp;
                                    <a id="name_msg" style="color:#ff4e00;"></a>
                                </td>
                            </tr>
                            <tr height="50">
                                <td align="right"></td>
                                <td>
                                    <a>可修改店铺名称次数剩余${sellerShop.surplusChangeNameCount!''}次</a>
                                </td>
                            </tr>

                            <tr height="50">
                                <td align="right" style="font-size:15px;">&nbsp;店铺介绍 &nbsp;</td>
                                <td>
                                    <textarea id="introduce" name="introduce" class="l_textarea_long" maxlength="500"  placeholder="请填写介绍">${sellerShop.introduce!''}</textarea>
                                    &nbsp;&nbsp;
                                    <a id="introduce_msg" style="color:#ff4e00;"></a>
                                </td>
                            </tr>
                            <tr height="50">
                                <td align="right" style="font-size:15px;">所在城市 &nbsp;</td>
                                <td>
                                    <div class="s_pca_wrap">
                                        <input class="s_pca_input" name="" id="ms_city" type="text" placeholder="请选择" autocomplete="off" value="${selectProvinceCityAreaName!''}" readonly="true">
                                        <s></s>
                                    </div>
                                    <input type="hidden" id="province" name="province" value="${sellerShop.province!''}" />
                                    <input type="hidden" id="city" name="city" value="${sellerShop.city!''}" />
                                    <input type="hidden" id="area" name="area" value="${sellerShop.area!''}"  />
                                    <input type="hidden" id="province_code" name="provinceCode" value="${sellerShop.provinceCode!''}"  />
                                    <input type="hidden" id="city_code" name="cityCode" value="${sellerShop.cityCode!''}"  />
                                    <input type="hidden" id="area_code" name="areaCode" value="${sellerShop.areaCode!''}"  />
                                </td>
                            </tr>

                            <tr height="50">
                                <td align="right" style="font-size:15px;">&nbsp;详细地址 &nbsp;</td>
                                <td>
                                    <textarea id="detail_address" name="detailAddress" class="l_textarea_long" maxlength="200"  placeholder="请填写详细地址">${sellerShop.detailAddress!''}</textarea>
                                    &nbsp;&nbsp;
                                    <a id="detail_address_msg" style="color:#ff4e00;"></a>
                                </td>
                            </tr>
                            <tr height="50">
                                <td align="right" style="font-size:15px;"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                                <td>
                                    <input type="text" value="" id="utm_vcode" name="vcode" class="l_ipt" />
                                    <span style="vertical-align: middle">
									&nbsp;&nbsp;<img id="refreshCaptcha" style="width:100px;height:40px;"  src="${basePath}/api/user/vcode" alt="点击图片刷新" title="点击图片刷新">
								</span>
                                    <a id="utm_vcode_msg" style="color:#ff4e00;"></a>
                                </td>
                            </tr>
                            <tr height="60">
                                <td>&nbsp;</td>
                                <td><input type="button" value="保存"  onclick="updateUserShop();"/></td>
                            </tr>
                            <tr height="50">
                                <td align="right"></td>
                                <td>
                                    <a id="tn_msg" style="color:#ff4e00;"></a>
                                    <br>
                                    <br>
                                </td>
                            </tr>
                        </table>
                    </form>-->
                </div>
            </div>
        </div>

    </div>
</div>


<script src="${basePath}/static/js/seller/info.js"></script>
<script>
    var province=${areaList!''};
    var provinceHiddenId="province";
    var provinceCodeHiddenId="province_code";
    var cityHiddenId="city";
    var cityCodeHiddenId="city_code";
    var areaHiddenId="area";
    var areaCodeHiddenId="area_code";
</script>
<script type="text/javascript" src="${basePath}/static/js/selectProviderCityArea/citySet.js"></script>
<script type="text/javascript" src="${basePath}/static/js/selectProviderCityArea/Popt.js"></script>
<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

        $("#ms_city").click(function (e) {
            SelCity(this,e);
        });
        $(".s_pca_wrap s").click(function (e) {
            SelCity(document.getElementById("ms_city"),e);
        });
    });

</script>

<div class="footer_box">
    <div class="w1200">
        <p><span>站长图库</span><span>地址:广州市番禺区番禺大道北60-1号</span><a href="#">赣ICP备13003407号</a></p>
        <p>Copyright © 2018 <a href="#">www.zztuku.com</a>, All Rights Reserved</p>
    </div>
</div>


</body></html>


