<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="copyright" content="Copyright © 2018 jxwanhe.com. All rights reserved.">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
    <link rel="stylesheet" href="${basePath}/static/css/common/toucan-form-validate.css" />
</head>
<body>

<#include "/top.html"/>

<#assign leftName = "shopSeting">

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">店铺设置</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">
                <div class="title" style="border-bottom: 1px solid#9a9999;"><span>店铺设置</span></div>
                <div class="right_panel">

                    <form action="" id="usform" method="post" class="bootstrap-frm" enctype="multipart/form-data" >
                        <label>
                            <span>店铺状态 :</span>
                            <#if sellerShop.enableStatus == 0>
                                <span style="width:70%;height:30px;text-align:left;"><a style="color:red">禁用</a></span>
                            </#if>
                            <#if sellerShop.enableStatus == 1>
                                <span style="width:70%;height:30px;text-align:left;"><a style="color:green">启用</a></span>
                            </#if>
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>店铺图标 :</span>
                            <img src="${sellerShop.httpLogo!''}" id="pic" style="width:155px;height:150px;" />
                        </label>
                        <label>
                            <span>图标上传 :</span>
                            <input type="hidden" id="isUpload" value="1"/>
                            <input type="hidden" id="shopLogo" value="${sellerShop.httpLogo!''}"/>
                            <input type="file" name="logoFile" id="logo" />
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>店铺名称 :</span>
                            <input type="text" id="name" name="name"  value="${sellerShop.name!''}"  style="width:40%" maxlength="15" lay-verify="required|shopName" />
                            <a>可修改${sellerShop.surplusChangeNameCount!''}次</a>
                        </label>
                        <label>
                            <span>店铺介绍 :</span>
                            <textarea id="introduce" name="introduce"  maxlength="500"  placeholder="请填写介绍">${sellerShop.introduce!''}</textarea>
                        </label>
                        <label>
                            <span>所在城市 :</span>
                            <input name="" id="ms_city" style="width:40%" type="text" placeholder="请选择" autocomplete="off" value="${selectProvinceCityAreaName!''}" readonly="true">
                            <input type="hidden" id="province" name="province" value="${sellerShop.province!''}" />
                            <input type="hidden" id="city" name="city" value="${sellerShop.city!''}" />
                            <input type="hidden" id="area" name="area" value="${sellerShop.area!''}"  />
                            <input type="hidden" id="province_code" name="provinceCode" value="${sellerShop.provinceCode!''}"  />
                            <input type="hidden" id="city_code" name="cityCode" value="${sellerShop.cityCode!''}"  />
                            <input type="hidden" id="area_code" name="areaCode" value="${sellerShop.areaCode!''}"  />
                        </label>
                        <label>
                            <span>详细地址 :</span>
                            <textarea id="detail_address" name="detailAddress"  maxlength="200"  placeholder="请填写详细地址">${sellerShop.detailAddress!''}</textarea>
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>验证码</span>
                            <input type="text" value="" id="utm_vcode" name="vcode"  style="width:20%" lay-verify="required"  />
                            <img id="refreshCaptcha" style="width:100px;height:40px;"  src="${basePath}/api/user/vcode" alt="点击图片刷新" title="点击图片刷新">
                        </label>
                        </label>
                        <div style="width:100%;text-align:center;">
                            <input type="button" class="button" value="保存" id="updateUserShopBtn"  onclick="updateUserShop();"/>
                        </div>
                        <br>
                        <div id="tn_msg"  style="display: none;width:100%;height:25px;color:red;text-align:center;"></div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


<script>
    var province=${areaList!''};
    var provinceHiddenId="province";
    var provinceCodeHiddenId="province_code";
    var cityHiddenId="city";
    var cityCodeHiddenId="city_code";
    var areaHiddenId="area";
    var areaCodeHiddenId="area_code";
</script>
<script type="text/javascript" src="${basePath}/static/js/selectProviderCityArea/citySet.js"></script>
<script type="text/javascript" src="${basePath}/static/js/selectProviderCityArea/Popt.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/toucan-form-validate.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/shop_update.js"></script>
<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

        bindFileUpload();

        $("#ms_city").click(function (e) {
            SelCity(this,e);
        });
        $(".s_pca_wrap s").click(function (e) {
            SelCity(document.getElementById("ms_city"),e);
        });

    });

</script>


<#include "/footer.html"/>

</body></html>


