<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->

    <#include "/common_js.html"/>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>
        
	<script type="text/javascript" src="${basePath}/static/js/select.js"></script>
    
	<script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>
    
    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <#include "/common_js.html"/>
	<script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/cookie.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/login.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/sso.js"></script>

    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/forgetPwd/forgetPwd.css" />

    <title>犀鸟商城——找回密码</title>

    <style>
        .login_warn_icon{
            width:16px;
            height:17px;
            overflow:hidden;
            background:url(../../../static/images/login-icons.png) -104px -24px no-repeat;
        }
    </style>
</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<!--End Header End-->
<div class="top">
    <#assign pageTitle = "找回密码">
    <#include "/logo.html"/>
</div>
<!--Begin Login Begin-->
<div class="log_bg" style="height:440px;">
    <div class="forget_pwd_content">
        <div class="for-liucheng">
            <div class="liulist for-cur"></div>
            <div class="liulist for-cur"></div>
            <div class="liulist for-cur"></div>
            <div class="liulist for-cur"></div>
            <div class="liutextbox">
                <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
                <div class="liutext for-cur"><em>2</em><br /><strong>验证身份</strong></div>
                <div class="liutext for-cur"><em>3</em><br /><strong>设置新密码</strong></div>
                <div class="liutext for-cur"><em>4</em><br /><strong>完成</strong></div>
            </div>
        </div><!--for-liucheng/-->
        <div class="successs">
            <h3>恭喜您，修改成功！</h3>
        </div>
    </div><!--content/-->

</div>
<!--End Login End-->

<#include "/footer.html"/>

</body>
<script>
    $(function () {


        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/forget/vcode?"+new Date().getTime());
        });

        bind_upload_event();

    });

</script>

</html>
