<!-- 省市区静态化-->

<script>
    var province=${areaList!''};

    var provinceHiddenId="province";
    var provinceCodeHiddenId="province_code";
    var cityHiddenId="city";
    var cityCodeHiddenId="city_code";
    var areaHiddenId="area";
    var areaCodeHiddenId="area_code";
</script>

<link rel="stylesheet" href="${basePath}/static/lib/citySet/style.css">
<script type="text/javascript" src="${basePath}/static/lib/citySet/citySet.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/citySet/Popt.js"></script>
