<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.area.mapper.BannerMapper">

    <resultMap id="bannerMap" type="com.toucan.shopping.modules.area.entity.Banner" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
        <result column="click_path" jdbcType="VARCHAR" property="clickPath" />
        <result column="position" jdbcType="INTEGER" property="position" />
        <result column="banner_sort" jdbcType="VARCHAR" property="bannerSort" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="bannerVOMap" type="com.toucan.shopping.modules.area.vo.BannerVO" extends="bannerMap" >
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="title!=null and title!='' ">
            and tu.title  like concat('%',#{title},'%')

        </if>
    </sql>

    <select id="queryList" resultMap="bannerMap" parameterType="com.toucan.shopping.modules.area.vo.BannerVO">
        select ba.* from t_banner ba
        <where>
            1=1

            <if test="id!=null">
                and ba.id = #{id}
            </if>


            <if test="idArray!=null ">
                and ba.id in
                <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>

              and ba.delete_status = 0

        </where>
    </select>


    <select id="queryListPage" resultMap="bannerVOMap" parameterType="com.toucan.shopping.modules.area.page.BannerPageInfo">
        select tu.* from (
         select t.* from t_banner t
        )tu
        <where>
            1=1 and tu.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by tu.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.area.page.BannerPageInfo">
        select count(*) from (
          select t.* from t_banner t
        )tu
        <where>
            1=1 and tu.delete_status = 0

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.area.entity.Banner"  keyProperty="id" >
        insert into t_banner(id,title,img_path,click_path,position,banner_sort,remark,create_date,update_date,create_admin_id,update_admin_id)
        values(#{id},#{title},#{imgPath},#{clickPath},#{position},#{bannerSort},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.area.entity.Banner">
        update t_banner set title=#{title},img_path=#{imgPath},position=#{position},banner_sort=#{bannerSort},remark=#{remark},
          update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>


    <update id="deleteById">
        update t_banner  set delete_status=1 where id=#{id}  and delete_status=0
    </update>

</mapper>