<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <#include "/common_js.html"/>
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/info.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/order/order.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/formStyle.css" />
    <link rel="stylesheet" href="${basePath}/static/css/product/product_scroll.css">
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="${basePath}/static/js/n_navc.js"></script>



    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>

</div>

<#include "/category_navigation.html">

<#assign leftMenuName = "myOrder">

<!------------main---------------->
<div class="main">
    <div class="current-position">
        <h2>
            <a href="${basePath}/page/user/info">个人中心</a>
            &gt;
            <a href="#">我的主页</a>
        </h2>
    </div>
    <div class="user-content">

        <div class="user-menu">
            <#include "/user/info_left.html"/>
        </div>

        <div class="user-right">
            <div class="toucan-form">
                <div class="toucan-form-title">
                    <h3 style="font-size:20px;float:left;">我的订单</h3>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <br/>

                <div class="mod-main mod-comm lefta-box" id="order02">
                    <div class="mt">
                        <ul class="extra-l">
                            <li class="fore1"><a href="//order.jd.com/center/list.action" class="txt curr">全部订单</a></li>
                            <li><a href="//order.jd.com/center/list.action?s=1" id="ordertoPay" clstag="click|keycount|orderinfo|waitPay" class="txt">待付款</a></li>
                            <li><a href="//order.jd.com/center/list.action?s=128" id="ordertoReceive" clstag="click|keycount|orderinfo|waitReceive" class="txt">待收货</a></li>
                            <li><a href="//club.jd.com/mycomments.aspx" id="ordertoComment" target="_blank" class="txt" clstag="click|keycount|orderinfo|daipingjia">待评价</a><a href="//club.jd.com/mycomments.aspx"><em>10</em></a></li>

                            <li class="fore2"><a href="//order.jd.com/center/recycle.action?d=1" clstag="click|keycount|orderlist|dingdanhuishouzhan" class="ftx-03" id="ordertoRecycle">订单回收站</a></li>
                        </ul>
                        <div class="extra-r">
                            <div class="order-search">
                                <input id="ip_keyword" type="text" class="itxt" placeholder="商品名称/商品编号/订单号" style="color: rgb(204, 204, 204);">
                                <a href="javascript:;" class="search-btn" clstag="click|keycount|orderinfo|search">搜索<b></b></a>
                            </div>
                        </div>
                    </div>

                    <div class="mc">

                        <table class="td-void order-tb">
                            <colgroup>
                                <col class="number-col">
                                <col class="consignee-col">
                                <col class="amount-col">
                                <col class="status-col">
                                <col class="operate-col">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <div class="order-detail-txt ac">订单详情</div>
                                </th>
                                <th>收货人</th>
                                <th>金额</th>
                                <th>
                                    <div class="deal-state-cont " id="orderState">
                                        <div class="state-txt">全部状态<b></b><span class="blank"></span></div>
                                        <div class="state-list">
                                            <ul>
                                                <li value="4096">
                                                    <a href="#none" clstag="click|keycount|orderlist|quanbuzhuangtai" class="curr"><b></b>全部状态</a>
                                                </li>
                                                <li value="1">
                                                    <a href="#none" clstag="click|keycount|orderlist|dengdaifukuan"><b></b>等待付款</a>
                                                </li>
                                                <li value="128" clstag="click|keycount|orderlist|dengdaishouhuo">
                                                    <a href="#none"><b></b>等待收货</a>
                                                </li>
                                                <li value="1024">
                                                    <a href="#none" clstag="click|keycount|orderlist|yiwancheng"><b></b>已完成</a>
                                                </li>
                                                <li value="-1">
                                                    <a href="#none" clstag="click|keycount|orderlist|yiquxiao"><b></b>已取消</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </th>
                                <th>操作</th>
                            </tr>

                            </thead>
                            <tbody id="tb-257427220634">
                            <tr class="sep-row"><td colspan="5"></td></tr>

                            <tr class="tr-th">
                                <td colspan="5">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2022-12-22 20:20:29">2022-12-22 20:20:29</span>
                                    <input type="hidden" id="datasubmit-257427220634" value="2022-12-22 20:20:29">

                                    <span class="number">
               		                        订单号：
                                <a name="orderIdLinks" id="idUrl257427220634" target="_blank" href="//details.jd.com/normal/item.action?orderid=257427220634&amp;PassKey=CDCD2A5D9AE6922C599967FA6F565C6E" clstag="click|keycount|orderinfo|order_num">257427220634</a>



                                        </span>

                                    <div class="tr-operate">
                            <span class="order-shop">
                            <a href="//mall.jd.com/index-11360167.html" target="_blank" class="shop-txt venderName11621354 venderSite" clstag="click|keycount|orderlist|vender" title="凯尔林官方旗舰店">凯尔林官方旗舰店</a>
                            <a class="btn-im venderChat11621354" href="//chat.jd.com/index.action?venderId=11621354&amp;orderId=257427220634" target="_blank" title="联系卖家" clstag="click|keycount|orderinfo|chatim"></a>
                        </span>

                                        <span class="tel">
                            <i class="tel-icon venderTel11621354 venderSiteTel" style="display: none;"></i>
                        </span>

                                        <span class="order-tips"></span>


                                        <a href="#none" clstag="click|keycount|orderlist|dingdanshanchu" class="order-del" _orderid="257427220634" _passkey="5499DC81E5D72A6987F9EC5FEE7205DC" title="删除" style="display: none;"></a>

                                    </div>
                                </td>
                            </tr>





                            <tr class="tr-bd" id="track257427220634" oty="22,4,70" cxl="0">
                                <td>
                                    <div class="goods-item p-10032283363234">
                                        <div class="p-img">
                                            <a href="//item.jd.com/10032283363234.html" clstag="click|keycount|orderinfo|order_product" target="_blank">
                                                <img class="" src="//img10.360buyimg.com/N6/s60x60_jfs/t1/194465/37/7333/54749/60c187c6Ec5d017bc/3c486cee3de9869a.jpg" title="凯尔林马桶水箱配件冲水按钮按键双按通用坐便器按压器马桶盖开关圆形 大号圆形马桶按键" data-lazy-img="done" width="60" height="60">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a href="//item.jd.com/10032283363234.html" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="凯尔林马桶水箱配件冲水按钮按键双按通用坐便器按压器马桶盖开关圆形 大号圆形马桶按键">凯尔林马桶水箱配件冲水按钮按键双按通用坐便器按压器马桶盖开关圆形 大号圆形马桶按键</a>
                                            </div>
                                            <div class="p-extra">
                                                <ul class="o-info">
                                                    <li><span class="o-match J-o-match" data-sku="10032283363234"><i></i><em>找搭配</em></span></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x1
                                    </div>


                                    <div class="goods-repair">
                                        <a href="//myjd.jd.com/repair/ordersearchlist.action?searchString=257427220634" target="_blank" clstag="click|keycount|orderinfo|order_repair">
                                            申请售后
                                        </a>
                                    </div>
                                    <div class="clr"></div>
                                </td>

                                <td rowspan="1">
                                    <div class="consignee tooltip">
                                        <span class="txt">马健</span><b></b>
                                        <div class="prompt-01 prompt-02" style="display: none;">
                                            <div class="pc">
                                                <strong>马健</strong>
                                                <p>北京昌平区龙泽园街道昌平区回龙观镇慧华苑小区11号楼 南5-3号</p>
                                                <p>187****1892</p>
                                            </div>
                                            <div class="p-arrow p-arrow-left"></div>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
                                        <span>¥7.80</span> <br>
                                        <span class="ftx-13">在线支付</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="status">
                    <span class="order-status ftx-03">

            	已完成

                                        </span><br><a target="_blank" href="//vip.jd.com/myJingbean.html" class="ftx-01 bean-tips" data-tips="<div class='bean-tips-cont'>已返<span class='ftx-01'>7</span>京豆</div>"><i class="bean-icon"></i>+7</a>
                                        <br>

                                        <a href="//details.jd.com/normal/item.action?orderid=257427220634&amp;PassKey=CDCD2A5D9AE6922C599967FA6F565C6E" clstag="click|keycount|orderlist|dingdanxiangqing" target="_blank">订单详情</a>
                                    </div>
                                </td>
                                <td rowspan="1" id="operate257427220634">
                                    <div class="operate">


                                        <div id="pay-button-257427220634" _baina="0"></div>



                                        <a class="" target="_blank" href="//myivc.jd.com/fpzz/ivcLand.action?orderId=257427220634&amp;tagStr=CKDIyMDYzNCM1NDMjMjIjMSM1IzMjMSMxNjcxNzExNjI5MDAwIzExNjIxMzU0KSgwMDAwIzAjMCMwIzAjMCkoMCkoMSk=" clstag="click|keycount|orderinfo|invoice_show">查看发票</a><br><a class="" target="_blank" href="//club.jd.com/JdVote/TradeComment.aspx?ruleid=257427220634&amp;ot=22&amp;payid=4&amp;shipmentid=70" clstag="click|keycount|orderinfo|product_comment">评价</a>|<a class="" clstag="click|keycount|orderinfo|product_show" href="//club.jd.com/mycomments.aspx?sort=1" target="_blank">晒单</a><br><a href="//cart.jd.com/reBuyForOrderCenter.action?wids=10032283363234&amp;nums=1&amp;rid=1672124334748" class="btn-again btn-again-show " target="_blank" clstag="click|keycount|orderlist|buy"><b></b>
                                        立即购买
                                    </a><br>





                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <tbody id="tb-258417927919">
                            <tr class="sep-row"><td colspan="5"></td></tr>

                            <tr class="tr-th">
                                <td colspan="5">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2022-12-20 10:15:32">2022-12-20 10:15:32</span>
                                    <input type="hidden" id="datasubmit-258417927919" value="2022-12-20 10:15:32">

                                    <span class="number">
               		                        订单号：
                                <a name="orderIdLinks" id="idUrl258417927919" target="_blank" href="//details.jd.com/normal/item.action?orderid=258417927919&amp;PassKey=78491966DAB13E3AD58E0E0AA3BF4D65" clstag="click|keycount|orderinfo|order_num">258417927919</a>



                                        </span>

                                    <div class="tr-operate">
                            <span class="order-shop">
                            <a href="//dingfengge.jd.com" target="_blank" class="shop-txt venderName91259 venderSite" clstag="click|keycount|orderlist|vender" title="鼎风阁官方旗舰店">鼎风阁官方旗舰店</a>
                            <a class="btn-im venderChat91259" href="//chat.jd.com/index.action?venderId=91259&amp;orderId=258417927919" target="_blank" title="联系卖家" clstag="click|keycount|orderinfo|chatim"></a>
                        </span>

                                        <span class="tel">
                            <i class="tel-icon venderTel91259 venderSiteTel" style="display: none;"></i>
                        </span>

                                        <span class="order-tips"></span>


                                        <a href="#none" clstag="click|keycount|orderlist|dingdanshanchu" class="order-del" _orderid="258417927919" _passkey="D406BBCE096CA80995F1500A636EC4FE" title="删除" style="display: none;"></a>

                                    </div>
                                </td>
                            </tr>





                            <tr class="tr-bd" id="track258417927919" oty="22,4,70" cxl="0">
                                <td>
                                    <div class="goods-item p-10040264284444">
                                        <div class="p-img">
                                            <a href="//item.jd.com/10040264284444.html" clstag="click|keycount|orderinfo|order_product" target="_blank">
                                                <img class="" src="//img10.360buyimg.com/N6/s60x60_jfs/t1/150607/14/27910/204083/6344cafaE396991b1/98ad9ebafbbed7f7.jpg" title="鼎风阁2023兔年过年春节对联窗花门贴宿舍大门新年春联大礼包礼盒套装 (长118cm万事如意)LT-042" data-lazy-img="done" width="60" height="60">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a href="//item.jd.com/10040264284444.html" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="鼎风阁2023兔年过年春节对联窗花门贴宿舍大门新年春联大礼包礼盒套装 (长118cm万事如意)LT-042">鼎风阁2023兔年过年春节对联窗花门贴宿舍大门新年春联大礼包礼盒套装 (长118cm万事如意)LT-042</a>
                                            </div>
                                            <div class="p-extra">
                                                <ul class="o-info">
                                                    <li><span class="o-match J-o-match" data-sku="10040264284444"><i></i><em>找搭配</em></span></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x1
                                    </div>


                                    <div class="goods-repair">
                                        <a href="//myjd.jd.com/repair/ordersearchlist.action?searchString=258417927919" target="_blank" clstag="click|keycount|orderinfo|order_repair">
                                            申请售后
                                        </a>
                                    </div>
                                    <div class="clr"></div>
                                </td>

                                <td rowspan="1">
                                    <div class="consignee tooltip">
                                        <span class="txt">马健</span><b></b>
                                        <div class="prompt-01 prompt-02" style="display: none;">
                                            <div class="pc">
                                                <strong>马健</strong>
                                                <p>北京昌平区龙泽园街道昌平区回龙观镇慧华苑小区11号楼 南5-3号</p>
                                                <p>187****1892</p>
                                            </div>
                                            <div class="p-arrow p-arrow-left"></div>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
                                        <span>¥10.80</span> <br>
                                        <span class="ftx-13">在线支付</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="status">
                    <span class="order-status ftx-03">

            	已完成

                                        </span>
                                        <br>

                                        <a href="//details.jd.com/normal/item.action?orderid=258417927919&amp;PassKey=78491966DAB13E3AD58E0E0AA3BF4D65" clstag="click|keycount|orderlist|dingdanxiangqing" target="_blank">订单详情</a>
                                    </div>
                                </td>
                                <td rowspan="1" id="operate258417927919">
                                    <div class="operate">


                                        <div id="pay-button-258417927919" _baina="0"></div>



                                        <a class="" target="_blank" href="//myivc.jd.com/fpzz/ivcLand.action?orderId=258417927919&amp;tagStr=vKDE1MjY2OCM1NDMjMjIjMSM1IzMjMSMxNjcxNTAyNTMyMDAwIzkxMjU5KSgwMDAwIzAjMCMwIzAjMCkoMCkoMSk=" clstag="click|keycount|orderinfo|invoice_show">查看发票</a><br><a class="" target="_blank" href="//club.jd.com/JdVote/TradeComment.aspx?ruleid=258417927919&amp;ot=22&amp;payid=4&amp;shipmentid=70" clstag="click|keycount|orderinfo|product_comment">评价</a>|<a class="" clstag="click|keycount|orderinfo|product_show" href="//club.jd.com/mycomments.aspx?sort=1" target="_blank">晒单</a><br><a href="//cart.jd.com/reBuyForOrderCenter.action?wids=10040264284444&amp;nums=1&amp;rid=1672124334748" class="btn-again btn-again-show " target="_blank" clstag="click|keycount|orderlist|buy"><b></b>
                                        立即购买
                                    </a><br>





                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <tbody id="tb-257248249530">
                            <tr class="sep-row"><td colspan="5"></td></tr>

                            <tr class="tr-th">
                                <td colspan="5">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2022-12-19 20:39:58">2022-12-19 20:39:58</span>
                                    <input type="hidden" id="datasubmit-257248249530" value="2022-12-19 20:39:58">

                                    <span class="number">
               		                        订单号：
                                <a name="orderIdLinks" id="idUrl257248249530" target="_blank" href="//details.jd.com/normal/item.action?orderid=257248249530&amp;PassKey=6FFA9FA07976168625BCD52513718BC1" clstag="click|keycount|orderinfo|order_num">257248249530</a>



                                        </span>

                                    <div class="tr-operate">
                            <span class="order-shop">
                            <a href="//gongniu.jd.com" target="_blank" class="shop-txt venderName714316 venderSite" clstag="click|keycount|orderlist|vender" title="公牛官方旗舰店">公牛官方旗舰店</a>
                            <a class="btn-im venderChat714316" href="//chat.jd.com/index.action?venderId=714316&amp;orderId=257248249530" target="_blank" title="联系卖家" clstag="click|keycount|orderinfo|chatim"></a>
                        </span>

                                        <span class="tel">
                            <i class="tel-icon venderTel714316 venderSiteTel" style="display: none;"></i>
                        </span>

                                        <span class="order-tips"></span>


                                        <a href="#none" clstag="click|keycount|orderlist|dingdanshanchu" class="order-del" _orderid="257248249530" _passkey="4E8DC15D1CBD30C6E37887582D46E180" title="删除" style="display: none;"></a>

                                    </div>
                                </td>
                            </tr>





                            <tr class="tr-bd" id="track257248249530" oty="22,4,70" cxl="0">
                                <td>
                                    <div class="goods-item p-16883098754">
                                        <div class="p-img">
                                            <a href="//item.jd.com/16883098754.html" clstag="click|keycount|orderinfo|order_product" target="_blank">
                                                <img class="" src="//img10.360buyimg.com/N6/s60x60_jfs/t1/56539/16/22212/80546/63a9e452F24cb1adf/d60dc57bb09fd7db.jpg" title="公牛（BULL） 插座/带儿童保护门 新国标/插线板/插排/排插 GN-607 4位总控开关全长1.8米" data-lazy-img="done" width="60" height="60">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a href="//item.jd.com/16883098754.html" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="公牛（BULL） 插座/带儿童保护门 新国标/插线板/插排/排插 GN-607 4位总控开关全长1.8米">公牛（BULL） 插座/带儿童保护门 新国标/插线板/插排/排插 GN-607 4位总控开关全长1.8米</a>
                                            </div>
                                            <div class="p-extra">
                                                <ul class="o-info">
                                                    <li><span class="o-match J-o-match" data-sku="16883098754"><i></i><em>找搭配</em></span></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x1
                                    </div>


                                    <div class="goods-repair">
                                        <a href="//myjd.jd.com/repair/ordersearchlist.action?searchString=257248249530" target="_blank" clstag="click|keycount|orderinfo|order_repair">
                                            申请售后
                                        </a>
                                    </div>
                                    <div class="clr"></div>
                                </td>

                                <td rowspan="1">
                                    <div class="consignee tooltip">
                                        <span class="txt">马健</span><b></b>
                                        <div class="prompt-01 prompt-02" style="display: none;">
                                            <div class="pc">
                                                <strong>马健</strong>
                                                <p>北京昌平区龙泽园街道昌平区回龙观镇慧华苑小区11号楼 南5-3号</p>
                                                <p>187****1892</p>
                                            </div>
                                            <div class="p-arrow p-arrow-left"></div>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
                                        <span>¥29.80</span> <br>
                                        <span class="ftx-13">在线支付</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="status">
                    <span class="order-status ftx-03">

            	已完成

                                        </span><br><a target="_blank" href="//vip.jd.com/myJingbean.html" class="ftx-01 bean-tips" data-tips="<div class='bean-tips-cont'>已返<span class='ftx-01'>14</span>京豆</div>"><i class="bean-icon"></i>+14</a>
                                        <br>

                                        <a href="//details.jd.com/normal/item.action?orderid=257248249530&amp;PassKey=6FFA9FA07976168625BCD52513718BC1" clstag="click|keycount|orderlist|dingdanxiangqing" target="_blank">订单详情</a>
                                    </div>
                                </td>
                                <td rowspan="1" id="operate257248249530">
                                    <div class="operate">


                                        <div id="pay-button-257248249530" _baina="0"></div>



                                        <a class="" target="_blank" href="//myivc.jd.com/fpzz/ivcLand.action?orderId=257248249530&amp;tagStr=AKDI0OTUzMCM1NDMjMjIjMSM1IzMjMSMxNjcxNDUzNTk4MDAwIzcxNDMxNikoMDAwMCMwIzAjMCMwIzApKDApKDEp" clstag="click|keycount|orderinfo|invoice_show">查看发票</a><br><a class="" target="_blank" href="//club.jd.com/JdVote/TradeComment.aspx?ruleid=257248249530&amp;ot=22&amp;payid=4&amp;shipmentid=70" clstag="click|keycount|orderinfo|product_comment">评价</a>|<a class="" clstag="click|keycount|orderinfo|product_show" href="//club.jd.com/mycomments.aspx?sort=1" target="_blank">晒单</a><br><a href="//cart.jd.com/reBuyForOrderCenter.action?wids=16883098754&amp;nums=1&amp;rid=1672124334748" class="btn-again btn-again-show " target="_blank" clstag="click|keycount|orderlist|buy"><b></b>
                                        立即购买
                                    </a><br>





                                    </div>
                                </td>
                            </tr>

                            </tbody>

                        </table>

                        <div class="mt20">
                            <div class="pagin fr">

                                <span class="prev-disabled">上一页<b></b></span>
                                <a class="current">1</a>     	         	    	         	    	         	    	         	    	         	    	             	    		<span class="next-disabled">下一页<b></b></span>
                            </div>
                            <div class="clr"></div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/order/order_list.js"></script>

    <#include "/footer.html"/>

</body>



</html>
