<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.sller.mapper.SllerShopApproveRecordMapper">

    <resultMap id="entityMap" type="com.toucan.shopping.modules.sller.entity.SllerShopApproveRecord" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
        <result column="approve_desc" jdbcType="VARCHAR" property="approveDesc" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>



</mapper>