<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.seller.mapper.SellerShopMapper">

    <resultMap id="entityMap" type="com.toucan.shopping.modules.seller.entity.SellerShop" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="public_shop_id" jdbcType="VARCHAR" property="publicShopId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="introduce" jdbcType="VARCHAR" property="introduce" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
        <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="rank" jdbcType="BIGINT" property="rank" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />

    </resultMap>


    <sql id="queryListPageWhere">
        and t.delete_status = 0
        <if test="userMainId!=null  ">
            and t.user_main_id = #{userMainId}
        </if>

        <if test="name!=null and name!='' ">
            and t.name  like concat('%',#{name},'%')
        </if>

    </sql>

    <sql id="queryWhere">
        and t.delete_status = 0
        <if test="id!=null">
            and t.id = #{id}
        </if>
        <if test="userMainId!=null">
            and t.user_main_id = #{userMainId}
        </if>
        <if test="publicShopId!=null">
            and t.public_shop_id = #{publicShopId}
        </if>
        <if test="enableStatus!=null">
            and t.enable_status = #{enableStatus}
        </if>
        <if test="name!=null">
            and t.name = #{name}
        </if>

    </sql>

    <insert id="insert" parameterType="com.toucan.shopping.modules.seller.entity.SellerShop" >
        insert into t_seller_shop(id,user_main_id,public_shop_id,name,introduce,logo,change_name_count,approve_status,enable_status,type,rank,remark,create_date,delete_status)
        values(#{id},#{userMainId},#{publicShopId},#{name},#{introduce},#{logo},#{changeNameCount},#{approveStatus},#{enableStatus},#{type},#{rank},#{remark},#{createDate},#{deleteStatus})
    </insert>


    <update id="deleteById" parameterType="java.lang.Long">
        update t_seller_shop set delete_status=1 where id = #{id}
    </update>



    <update id="update" parameterType="com.toucan.shopping.modules.seller.entity.SellerShop">
        update t_seller_shop set  name=#{name},introduce=#{introduce},approve_status=#{approveStatus},logo=#{logo},rank=#{rank},
        province=#{province},city=#{city},area=#{area},province_code=#{provinceCode},city_code=#{cityCode},area_code=#{areaCode},
        enable_status=#{enableStatus},detail_address=#{detailAddress},type=#{type},remark=#{remark},update_date=#{updateDate},update_admin_id=#{updateAdminId}
          where id = #{id} and user_main_id=#{userMainId}
    </update>


    <select id="findListByEntity" resultMap="entityMap" parameterType="com.toucan.shopping.modules.seller.entity.SellerShop">
        select * from t_seller_shop t
        <where>
            1=1
            <include refid="queryWhere" />
        </where>

    </select>



    <select id="queryListPage" resultMap="entityMap" parameterType="com.toucan.shopping.modules.seller.page.SellerShopPageInfo">
        select t.* from t_seller_shop t
        <where>
            1=1

            <include refid="queryListPageWhere" />
        </where>
        order by t.user_main_id desc
        limit #{start},#{limit}
    </select>



    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.seller.page.SellerShopPageInfo">
        select count(*) from t_seller_shop t
        <where>
            1=1
            <include refid="queryListPageWhere" />
        </where>

    </select>



</mapper>