<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.seller.mapper.ShopCategoryMapper">

    <resultMap id="shopCategoryMap" type="com.toucan.shopping.modules.seller.entity.ShopCategory" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="category_sort" jdbcType="BIGINT" property="categorySort" />
        <result column="href" jdbcType="VARCHAR" property="href" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="shopCategoryVOMap" type="com.toucan.shopping.modules.seller.vo.ShopCategoryVO" extends="shopCategoryMap">

    </resultMap>

    <sql id="commonWhere">

        and t.delete_status = 0

        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="parentId!=null">
            and t.parent_id = #{parentId}
        </if>

        <if test="shopId!=null">
            and t.shop_id = #{shopId}
        </if>

        <if test="userMainId!=null">
            and t.user_main_id = #{userMainId}
        </if>


        <if test="idArray!=null ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        <if test="name!=null and name!=''">
            and t.name = #{name}
        </if>

        <if test="nameLike!=null and nameLike!=''">
            and t.name  like concat(#{nameLike},'%')
        </if>
    </sql>

    <select id="queryList" resultMap="shopCategoryMap" parameterType="com.toucan.shopping.modules.seller.vo.ShopCategoryVO">
        select t.* from t_shop_category t
        <where>
            1=1

            <include refid="commonWhere" />


        </where>
    </select>


    <select id="queryListOrderByCategorySortAsc" resultMap="shopCategoryMap" parameterType="com.toucan.shopping.modules.seller.vo.ShopCategoryVO">
        select t.* from t_shop_category t
        <where>
            1=1
            <include refid="commonWhere" />
        </where>
        order by category_sort asc
    </select>


    <select id="queryTop1" resultMap="shopCategoryMap" parameterType="com.toucan.shopping.modules.seller.vo.ShopCategoryVO">
        select t.* from t_shop_category t
        <where>
            1=1
            <include refid="commonWhere" />
        </where>
        order by category_sort asc
        limit 1
    </select>


    <select id="queryBottom1" resultMap="shopCategoryMap" parameterType="com.toucan.shopping.modules.seller.vo.ShopCategoryVO">
        select t.* from t_shop_category t
        <where>
            1=1
            <include refid="commonWhere" />
        </where>
        order by category_sort desc
        limit 1
    </select>

    <select id="queryCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.seller.entity.ShopCategory">
        select count(*) from t_shop_category t
        <where>
            1=1
            <include refid="commonWhere" />

        </where>
    </select>


    <select id="queryMaxSort" resultType="java.lang.Long" >
        select max(category_sort) from t_shop_category t
        where  1=1  and t.shop_id = #{shopId} and t.user_main_id=#{userMainId}
    </select>




    <select id="queryPcIndexList" resultMap="shopCategoryMap" parameterType="com.toucan.shopping.modules.seller.vo.ShopCategoryVO">
        select t.* from t_shop_category t
        <where>
            1=1
            and t.delete_status = 0
            and t.shop_id = #{shopId}
        </where>
        order by t.category_sort desc
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.seller.entity.ShopCategory" useGeneratedKeys="true" keyProperty="id" >
        insert into t_shop_category(id,parent_id,shop_id,user_main_id,name,href,category_sort,remark,create_date,update_date)
        values(#{id},#{parentId},#{shopId},#{userMainId},#{name},#{href},#{categorySort},#{remark},#{createDate},#{updateDate})
    </insert>



    <insert id="inserts"  useGeneratedKeys="true" keyProperty="id" >
        insert into t_shop_category(id,parent_id,shop_id,user_main_id,name,href,category_sort,remark,create_date,update_date)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.parentId},#{entity.shopId},#{entity.userMainId},#{entity.name},#{entity.href},#{entity.categorySort},#{entity.remark},
            #{entity.createDate},#{entity.updateDate})
        </foreach>

    </insert>



    <select id="queryById" resultMap="shopCategoryMap" parameterType="java.lang.Long">
        select * from t_shop_category where id=#{categoryId} and delete_status=0
    </select>

    <select id="queryByIdAndUserMainIdAndShopId" resultMap="shopCategoryMap" >
        select * from t_shop_category where id=#{id} and user_main_id = #{userMainId} and shop_id =#{shopId} and delete_status=0
    </select>

    <update id="deleteById">
        update t_shop_category  set delete_status=1 where id=#{id}   and delete_status=0
    </update>


    <update id="update" parameterType="com.toucan.shopping.modules.seller.entity.ShopCategory">
        update t_shop_category set name=#{name},href=#{href},remark=#{remark},parent_id=#{parentId},update_date=#{updateDate},category_sort=#{categorySort}
          where id=#{id}
    </update>

    <update id="updateCategorySort" parameterType="com.toucan.shopping.modules.seller.entity.ShopCategory">
        update t_shop_category set category_sort=#{categorySort},update_date=#{updateDate}
          where id=#{id} and user_main_id=#{userMainId} and shop_id=#{shopId}
    </update>


    <update id="updateName" parameterType="com.toucan.shopping.modules.seller.entity.ShopCategory">
          update t_shop_category set name=#{name},update_date=#{updateDate}
          where id=#{id} and user_main_id=#{userMainId}
    </update>

    <select id="queryByParentId" resultMap="shopCategoryMap" >
        select t.* from t_shop_category t
         where 1=1 and t.parent_id=#{parentId}   and t.delete_status=0 order by t.category_sort desc

    </select>


    <select id="findTreeTableByPageInfo" resultMap="shopCategoryVOMap" parameterType="com.toucan.shopping.modules.seller.page.ShopCategoryTreeInfo">

        select * from t_shop_category t
        <where>
            1=1
            <if test="name!=null and name!=''">
                and t.name like concat('%',#{name},'%')

            </if>
            and t.shop_id=#{shopId}
            and t.delete_status = 0
        </where>

    </select>

</mapper>