.order-detail-item-text{
    float: left;
    text-align: left;
    padding-right: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 1%;
}

.frm-div-row-group{
    width:90%;margin-top:2%;
}


.frm-div-row-item{
    width:40%;
    display: inline-block;
    text-align: left;
}

.frm-div-row-item-v-text{
    display: inline-block;
    padding:0;
}
