<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <#include "/common_js.html"/>
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>


    <#include "/common_js.html"/>

    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top_child.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>

</div>
<!--End Header End-->
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
        <div class="m_left">
            <#include "/user/info_left.html"/>
        </div>
        <div class="m_right_user_info">
            <div class="m_des">
                <table border="0" style="width:870px; line-height:22px;" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td width="115">
                            <a class="userLogoTipsOuter">
                                <img src="${userVO.httpHeadSculpture!''}" id="pic" width="90" height="90" />
                                <span class="userLogoTips" id="logoTips">点击上传</span>
                            </a>
                            <div id="file_ipt_p">
                                <input id="upload" name="file" accept="image/*" type="file" style="display: none" />
                            </div>
                        </td>
                        <td>
                            <div class="m_user">
                                ${userVO.nickName!''}
                            </div>
                            <div style="margin-top:8px;">
                                <#if userVO.isVip?? && userVO.isVip==1 >
                                <a href="#" target="_blank" class="icon-plus-icon" style="margin-top: 2px;float:left"></a><a>犀鸟plus会员</a>
                                <#elseif userVO.isVip?? && userVO.isVip==0 >
                                <a href="#" target="_blank" class="icon-plus-dropdown" style="float:left"></a><a>开通犀鸟plus会员</a>
                                <#else>
                                <a href="#" target="_blank" class="icon-plus-dropdown" style="float:left"></a><a>开通犀鸟plus会员</a>
                            </#if>
            </div>
            <p class="userInfoPersonalizedSignature">
                个性签名:${userVO.personalizedSignature!''}
            </p>
            </td>
            </tr>
            </table>
        </div>

    </div>

    <div class="m_right_user_order">

        <div class="mem_t">&nbsp;&nbsp;我的订单</div>
        <table border="0" class="mon_tab" style="width:870px; margin-bottom:20px;" cellspacing="0" cellpadding="0">
            <tr>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userPayImg"></div>
                        </a>

                        待付款 <a href="#" style="color:red">99</a>

                    </div>
                </td>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userReceiveGoodsTrainImg"></div>
                        </a>
                        待收货 <a href="#" style="color:red">99</a>
                    </div>
                </td>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userAppraiseImg"></div>
                        </a>
                        待评价 <a href="#" style="color:red">99</a>
                    </div>
                </td>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userRefundImg"></div>
                        </a>
                        退换/售后 <a href="#" style="color:red">99</a>
                    </div>
                </td>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userGoodsTrainImg"></div>
                        </a>
                        全部订单 <a href="#" style="color:red">99</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>



    <div class="m_right_follow">
        <div class="mem_follow_t">&nbsp;&nbsp;我的关注</div>
        <table border="0" class="mon_tab" style="width:870px; margin-bottom:20px;" cellspacing="0" cellpadding="0">
            <tr>
                <td >
                    <div class="userAlarm">
                        <a href="#">
                            <div class="userPayImg"></div>
                        </a>

                        待付款 <a href="#" style="color:red">99</a>

                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="m_right_logistics">

        <div class="mem_t">&nbsp;&nbsp;我的物流</div>
        <div class="s-content">
            <ul class="lg-list">

                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/65.jpg_120x120xz.jpg" alt="抗严寒冬天保暖隔凉羊毛毡底鞋垫超薄0.35厘米厚吸汗排湿气舒适">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>快件已从 义乌 发出</p>
                        <time>2015-12-20 17:58:05</time>

                        <div class="lg-detail-wrap">
                            <a class="lg-detail i-tip-trigger" href="logistics.html">查看物流明细</a>

                        </div>

                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <div class="clear"></div>

                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>

                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
                <li class="lg-item">
                    <div class="item-info">
                        <a href="#">
                            <img src="${basePath}/static/images/88.jpg_120x120xz.jpg" alt="礼盒袜子女秋冬 纯棉袜加厚 女式中筒袜子 韩国可爱 女袜 女棉袜">
                        </a>

                    </div>
                    <div class="lg-info">

                        <p>已签收,签收人是青年城签收</p>
                        <time>2015-12-19 15:35:42</time>


                    </div>
                    <div class="lg-confirm">
                        <a class="i-btn-typical" href="#">确认收货</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
<!--End 用户中心 End-->
</div>

<#include "/footer.html"/>

</body>

<script src="${basePath}/static/js/user/upload_user_headsculpture.js"></script>
<script>
    $(function () {


        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

        bind_upload_event();

    });

</script>


</html>
