    <dl>
        <dt>个人中心</dt>
        <dd class="active"><a href="${basePath}/page/user/info">我的个人中心</a></dd>
        <dd><a href="${basePath}/page/order/list">我的订单</a></dd>
        <dd><a href="comment.html">商品评价</a></dd>
        <dd><a href="favorite.html">我的收藏</a></dd>

        <dt>售后服务</dt>
        <dd><a href="order-th.html">退货单</a></dd>
        <dd><a href="order-tk.html">退款单</a></dd>
        <dd><a href="order-tk.html">维修单</a></dd>

        <dt>帐号管理</dt>
        <dd><a href="${basePath}/page/user/editHeadSculpture">更换头像</a></dd>
        <dd><a href="${basePath}/page/user/editInfo">修改资料</a></dd>
        <dd><a href="${basePath}/page/user/true/name/approve/page">实名认证</a></dd>
        <dd><a href="${basePath}/page/user/true/name/approve/page">收货地址管理</a></dd>
        <dd><a href="changePassword.html">修改密码</a></dd>
    </dl>