<div class="left_n">管理中心</div>
<div class="left_m">
    <div class="left_m_t t_bg1">个人中心</div>
    <ul>
        <li><a href="${basePath}/page/user/info">我的资料</a></li>
        <li><a href="${basePath}/page/user/true/name/approve/page">实名认证</a></li>
        <li><a href="Member_User.html">账户安全</a></li>
    </ul>
</div>
<div class="left_m">
    <div class="left_m_t t_bg2">订单中心</div>
    <ul>
        <li><a href="${basePath}/page/order/list">我的订单</a></li>
        <li><a href="Member_User.html">收货地址</a></li>
    </ul>
</div>