<dl>
        <dt>个人中心</dt>
        <#if leftMenuName??&&leftMenuName=="myIndex">
                <dd class="active"><a href="${basePath}/page/user/info">我的主页</a></dd>
        <#else>
                <dd ><a href="${basePath}/page/user/info">我的主页</a></dd>
        </#if>

        <dd><a href="${basePath}/page/order/list">我的订单</a></dd>
        <dd><a href="comment.html">商品评价</a></dd>
        <dd><a href="favorite.html">我的收藏</a></dd>

        <#if leftMenuName??&&leftMenuName=="message">
                <dd class="active" ><a href="${basePath}/page/user/message/">消息中心</a></dd>
        <#else>
                <dd><a href="${basePath}/page/user/message/">消息中心</a></dd>
        </#if>

        <dt>售后服务</dt>
        <dd><a href="order-th.html">退货单</a></dd>
        <dd><a href="order-tk.html">退款单</a></dd>
        <dd><a href="order-tk.html">维修单</a></dd>

        <dt>帐号管理</dt>
        <#if leftMenuName??&&leftMenuName=="headSculpture">
                <dd  class="active" ><a href="${basePath}/page/user/head/sculpture/approve/page">更换头像</a></dd>
        <#else>
                <dd><a href="${basePath}/page/user/head/sculpture/approve/page">更换头像</a></dd>
        </#if>
        <#if leftMenuName??&&leftMenuName=="editInfo">
                <dd class="active"  ><a href="${basePath}/page/user/editInfo">修改资料</a></dd>
        <#else>
                <dd><a href="${basePath}/page/user/editInfo">修改资料</a></dd>
        </#if>

        <#if leftMenuName??&&leftMenuName=="trueName">
                <dd class="active" ><a href="${basePath}/page/user/true/name/approve/page">实名认证</a></dd>
        <#else>
                <dd><a href="${basePath}/page/user/true/name/approve/page">实名认证</a></dd>
        </#if>
        <dd><a href="${basePath}/page/user/true/name/approve/page">收货地址</a></dd>
        <dd><a href="changePassword.html">修改密码</a></dd>
</dl>