<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->    
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>
    
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>    
        
	<script type="text/javascript" src="${basePath}/static/js/select.js"></script>
    
	<script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>
    
    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <#include "/common_js.html"/>
	<script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/cookie.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/login.js"></script>


    <#include "/title.html"/>
</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
	<div class="sou">
        <span class="fr">
        	<span class="fl"><#include "/regist_login.html"/>&nbsp; </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="${basePath}/static/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <#include "/logo.html"/>
    </div>
	<div class="login">
    	<div class="log_img"><img src="${basePath}/static/images/l_img.png" width="611" height="425" /></div>
		<div class="log_c">
        	<form>
            <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="55">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">登录</span>
                    <span class="fr">还没有商城账号，<a href="${basePath}/page/user/regist" style="color:#ff4e00;">立即注册</a></span>
                </td>
              </tr>
              <tr height="70">
                <td>用户名</td>
                <td><input type="text" id="username" name="username" value="" class="l_user" placeholder="手机号/邮箱/用户名" maxlength="50" /></td>
              </tr>
              <tr height="70">
                <td>密&nbsp; &nbsp; 码</td>
                <td><input type="password" id="password" name="password" value="" class="l_pwd" placeholder="请输入密码" maxlength="15" /></td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                    <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="button" onclick="login();" value="登录" class="log_btn" /></td>
              </tr>
                <tr height="30">
                    <td align="right"></td>
                    <td>
                        <a id="login_msg" style="color:#ff4e00;"></a>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 犀鸟商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="${basePath}/static/images/b_1.gif" width="98" height="33" /><img src="${basePath}/static/images/b_2.gif" width="98" height="33" /><img src="${basePath}/static/images/b_3.gif" width="98" height="33" /><img src="${basePath}/static/images/b_4.gif" width="98" height="33" /><img src="${basePath}/static/images/b_5.gif" width="98" height="33" /><img src="${basePath}/static/images/b_6.gif" width="98" height="33" />
    </div>    	
</div>
<!--End Footer End -->    

</body>


</html>
