<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <#include "/common_js.html"/>
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/order.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <#include "/common_js.html"/>

    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/isOnline.js"></script>


    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>

</div>
<!--End Header End-->
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
        <div class="m_left">
            <#include "/user/info_left.html"/>
        </div>
        <div class="m_right">


            <div id="main" class="mycomment-wrap">
                <div class="mycomment-hd">
                    <div class="m-title clearfix">
                        <h3 class="tit-main">我的订单</h3>
                    </div>
                </div>
                <div class="mycomment-bd">
                    <div class="m-tab-wrap clearfix">
                        <div class="m-tab">
                            <ul class="tab-trigger">
                                <li clstag="pageclick|keycount|201611254|3" class="trig-item trig-curr"><a class="text" href="?sort=0">待评价订单</a>
                                    <b class="sup">4</b>
                                </li>
                                <li clstag="pageclick|keycount|201611254|4" class="trig-item"><a href="?sort=1" class="text">待晒单</a>
                                </li>
                                <li clstag="pageclick|keycount|201611254|5" class="trig-item"><a href="?sort=3" class="text">待追评</a>
                                    <b class="sup">13</b>
                                </li>
                                <li clstag="pageclick|keycount|fuwupingjia_201703297|1" class="trig-item"><a href="?sort=4" class="text">服务评价</a>
                                    <b class="sup">6</b>
                                </li>
                                <li clstag="pageclick|keycount|201611254|6" class="trig-item"><a href="?sort=2" class="text">已评价</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mycomment-table">
                        <!--  /widget/order-table-list/order-table-list.tpl -->

                        <table class="td-void order-tb">
                            <colgroup>
                                <col class="number-col">
                                <col class="consignee-col">
                                <col class="amount-col">
                                <col class="operate-col">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>订单详情</th>
                                <th>收货人</th>
                                <th>金额</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <!-- 独立订单 -->



                            <tbody>
                            <tr class="sep-row"><td colspan="4"></td></tr>
                            <tr class="tr-th">
                                <td colspan="4">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2015-1-19 10:30:42">2021-08-29 18:46:41</span>
                                    <span class="number">订单号：
				<a href="//details.jd.com/normal/item.action?orderid=219643681852&amp;PassKey=066B01A25175BCF6B2A858AB7A2B1116" target="_blank">219643681852</a>
				</span>
                                    <div class="tr-operate">
                                        <a href="#none" class="order-del">删除</a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="tr-bd">
                                <td>
                                    <div class="goods-item">
                                        <div class="p-img">
                                            <a target="_blank" href="//item.jd.com/11294134429.html">
                                                <img style="width:60px;height:60px" src="${basePath}/static/images/xigua.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a target="_blank" href="//item.jd.com/11294134429.html">销量2.5万+【京东生鲜联名款】首鲜道帝王蟹礼盒鲜活6.4-3.2斤熟冻大螃蟹海鲜水产蟹类生鲜 大螃蟹4.4-4.0斤 京东生鲜联名（京东仓直发）</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x1
                                    </div>
                                    <div class="clr"></div>
                                </td>
                                <td rowspan="1">
                                    <div class="consignee">
                                        <span class="txt">收货人姓名</span><b></b>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
				<span>
						支付金额 ￥498.00
				</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="operate">
                                        <a href="//details.jd.com/normal/item.action?orderid=219643681852&amp;PassKey=066B01A25175BCF6B2A858AB7A2B1116" target="_blank" class="a-link">订单详情</a><br>
                                        <a clstag="pageclick|keycount|daipingjia_pingjia_201605191|1" href="//club.jd.com/myJdcomments/orderVoucher.action?ruleid=219643681852" target="_blank" class="btn-def">评价</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr class="sep-row"><td colspan="4"></td></tr>
                            <tr class="tr-th">
                                <td colspan="4">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2015-1-19 10:30:42">2021-08-09 18:09:35</span>
                                    <span class="number">订单号：
				<a href="//details.jd.com/normal/item.action?orderid=216730860786&amp;PassKey=06386C1EB0CDBCFFCBD571081B679173" target="_blank">216730860786</a>
				</span>
                                    <div class="tr-operate">
                                        <a href="#none" class="order-del">删除</a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="tr-bd">
                                <td>
                                    <div class="goods-item">
                                        <div class="p-img">
                                            <a target="_blank" href="//item.jd.com/10031284510668.html">
                                                <img style="width:60px;height:60px" src="${basePath}/static/images/xigua.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a target="_blank" href="//item.jd.com/10031284510668.html">泽时雨德国超大反向伞高端雨伞全自动超大号抗风雨伞双人三人加大加固晴雨伞折叠女士防晒晴雨两用礼品伞全新  超大124CM反向伞-黑色（礼盒皮套精装）</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x1
                                    </div>
                                    <div class="clr"></div>
                                </td>
                                <td rowspan="1">
                                    <div class="consignee">
                                        <span class="txt">收货人姓名</span><b></b>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
				<span>
						支付金额 ￥95.00
				</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="operate">
                                        <a href="//details.jd.com/normal/item.action?orderid=216730860786&amp;PassKey=06386C1EB0CDBCFFCBD571081B679173" target="_blank" class="a-link">订单详情</a><br>
                                        <a clstag="pageclick|keycount|daipingjia_pingjia_201605191|1" href="//club.jd.com/myJdcomments/orderVoucher.action?ruleid=216730860786" target="_blank" class="btn-def">评价</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr class="sep-row"><td colspan="4"></td></tr>
                            <tr class="tr-th">
                                <td colspan="4">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2015-1-19 10:30:42">2021-08-06 18:02:15</span>
                                    <span class="number">订单号：
				<a href="//details.jd.com/normal/item.action?orderid=216303603344&amp;PassKey=8A0AFC43F4B40489A2BAFFE51745DBF9" target="_blank">216303603344</a>
				</span>
                                    <div class="tr-operate">
                                        <a href="#none" class="order-del">删除</a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="tr-bd">
                                <td>
                                    <div class="goods-item">
                                        <div class="p-img">
                                            <a target="_blank" href="//item.jd.com/3836053.html">
                                                <img style="width:60px;height:60px" src="${basePath}/static/images/xigua.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a target="_blank" href="//item.jd.com/3836053.html">【活鲜】味库 大龙虾 波士顿龙虾波龙 鲜活大龙虾400-500g/只*1 直采 鲜活到家健康轻食 1人食</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x2
                                    </div>
                                    <div class="clr"></div>
                                </td>
                                <td rowspan="1">
                                    <div class="consignee">
                                        <span class="txt">收货人姓名</span><b></b>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
				<span>
						支付金额 ￥268.00
				</span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="operate">
                                        <a href="//details.jd.com/normal/item.action?orderid=216303603344&amp;PassKey=8A0AFC43F4B40489A2BAFFE51745DBF9" target="_blank" class="a-link">订单详情</a><br>
                                        <a clstag="pageclick|keycount|daipingjia_pingjia_201605191|1" href="//club.jd.com/myJdcomments/orderVoucher.action?ruleid=216303603344" target="_blank" class="btn-def">评价</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr class="sep-row"><td colspan="4"></td></tr>
                            <tr class="tr-th">
                                <td colspan="4">
                                    <span class="gap"></span>
                                    <span class="dealtime" title="2015-1-19 10:30:42">2021-07-23 10:45:51</span>
                                    <span class="number">订单号：
				<a href="//details.jd.com/normal/item.action?orderid=214846501609&amp;PassKey=65861B75D042A9C48D4842FF3C54B993" target="_blank">214846501609</a>
				</span>
                                    <div class="tr-operate">
                                        <a href="#none" class="order-del">删除</a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="tr-bd">
                                <td>
                                    <div class="goods-item">
                                        <div class="p-img">
                                            <a target="_blank" href="//item.jd.com/3836053.html">
                                                <img style="width:60px;height:60px" src="${basePath}/static/images/xigua.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="p-msg">
                                            <div class="p-name">
                                                <a target="_blank" href="//item.jd.com/3836053.html">【活鲜】味库 大龙虾 波士顿龙虾波龙 鲜活大龙虾400-500g/只*1 直采 鲜活到家健康轻食 1人食</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goods-number">
                                        x2
                                    </div>
                                    <div class="clr"></div>
                                </td>
                                <td rowspan="1">
                                    <div class="consignee">
                                        <span class="txt">收货人姓名</span><b></b>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="amount">
                                        <span>
                                                支付金额 ￥268.00
                                        </span>
                                    </div>
                                </td>
                                <td rowspan="1">
                                    <div class="operate">
                                        <a href="//details.jd.com/normal/item.action?orderid=214846501609&amp;PassKey=65861B75D042A9C48D4842FF3C54B993" target="_blank" class="a-link">订单详情</a><br>
                                        <a clstag="pageclick|keycount|daipingjia_pingjia_201605191|1" href="//club.jd.com/myJdcomments/orderVoucher.action?ruleid=214846501609" target="_blank" class="btn-def">评价</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--/ /widget/order-table-list/order-table-list.tpl -->

                        <!--  /widget/ui-page/ui-page.tpl -->
                        <div class="ui-page-wrap clearfix">
                            <div class="ui-page">
                                <span class="text">共4个订单</span>
                                <a rel="2" class="prev-disabled" href="#none"><b></b>上一页</a><a rel="1" class="ui-page-curr" href="javascript:void(0)">1</a><a class="next-disabled" href="#none">下一页<b></b></a>

                            </div>
                        </div>
                        <!--/ /widget/ui-page/ui-page.tpl -->
                    </div>

                </div>
                <div id="shareRecDemo"></div>
                <div class="mycomment-promo">
                    <!--  /widget/show/show.tpl -->

                    <!--/ /widget/show/show.tpl -->
                </div>
            </div>

        </div>
    </div>
    <!--End 用户中心 End-->
</div>

<!--Begin Footer Begin -->
<#include "/footer.html"/>
<!--End Footer End -->

</body>



</html>
