<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>
    
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>    
        
	<script type="text/javascript" src="${basePath}/static/js/select.js"></script>
    
	<script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>
    
    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <#include "/common_js.html"/>
	<script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/util/phone.js"></script>
    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/regist.js"></script>



    <title>犀鸟电商——新用户注册</title>


    <style>
        .reigst_warn_icon{
            width:16px;
            height:17px;
            overflow:hidden;
            background:url(../../static/images/login-icons.png) -104px -24px no-repeat;
        }
    </style>

</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
	<div class="sou">
        <span class="fr">
        	<span class="fl"><#include "/regist_login.html"/>&nbsp; </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="${basePath}/static/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <#include "/logo.html"/>
    </div>
	<div class="regist">
    	<div class="log_img"><img src="${basePath}/static/images/l_img.png" width="611" height="425" /></div>
		<div class="reg_c">
        	<form>
            <table border="0" style="width:450px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="95">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">注册</span>
                    <span class="fr">已有商城账号，<a href="${basePath}/page/user/login" style="color:#ff4e00;">我要登录</a></span>
                </td>
              </tr>
              <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;手机号 &nbsp;</td>
                <td><input type="text" id="regist_mobile_phone" value="" class="l_user"  maxlength="11"/></td>
              </tr>
              <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                <td><input type="password" id="regist_password" value="" class="l_pwd" maxlength="15" /></td>
              </tr>
              <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                <td><input type="password"  id="regist_confirmPassword" value="" class="l_pwd"  maxlength="15"/></td>
              </tr>
              <tr height="50">
                <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                <td>
                    <input type="text" value="" id="regist_vcode" class="l_ipt" />
                    &nbsp;&nbsp;<a href="#" id="get_vcode" style="font-size:14px; font-family:'宋体';" onclick="getvcode();">获取验证码</a>
                </td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" name="acceptUserDoc" value="1" /></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                    </span>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="button" value="立即注册" class="log_btn" onclick="regist();"/></td>
              </tr>
                <tr height="30">
                    <td align="right"></td>
                    <td id="regist_msg_c" style="display:none">
                        <b class="reigst_warn_icon">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </b>
                        <a id="regist_msg" ></a>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 犀鸟商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="${basePath}/static/images/b_1.gif" width="98" height="33" /><img src="${basePath}/static/images/b_2.gif" width="98" height="33" /><img src="${basePath}/static/images/b_3.gif" width="98" height="33" /><img src="${basePath}/static/images/b_4.gif" width="98" height="33" /><img src="${basePath}/static/images/b_5.gif" width="98" height="33" /><img src="${basePath}/static/images/b_6.gif" width="98" height="33" />
    </div>    	
</div>
<!--End Footer End -->    

</body>


</html>
