<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.user.mapper.UserTrueNameApproveMapper">

    <resultMap id="userTrueNameApproveMap" type="com.toucan.shopping.modules.user.entity.UserTrueNameApprove" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="true_name" jdbcType="VARCHAR" property="trueName" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="idcard_img1" jdbcType="VARCHAR" property="idcardImg1" />
        <result column="idcard_img2" jdbcType="VARCHAR" property="idcardImg2" />
        <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
        <result column="idcard_type" jdbcType="INTEGER" property="idcardType" />
        <result column="reject_text" jdbcType="VARCHAR" property="rejectText" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        
    </resultMap>


    <sql id="queryListPageWhere">
        and t.delete_status = 0
        <if test="userMainId!=null  ">
            and t.user_main_id = #{userMainId}
        </if>

        <if test="trueName!=null and trueName!='' ">
            and t.true_name = #{trueName}
        </if>

        <if test="id_card!=null and idCard!='' ">
            and tu.username  like concat('%',#{idCard},'%')
        </if>

    </sql>


    <select id="findListByEntity" resultMap="userTrueNameApproveMap" parameterType="com.toucan.shopping.modules.user.entity.UserTrueNameApprove">
        select * from t_user_true_name_approve t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>

            <if test="userMainId!=null">
                and t.user_main_id = #{userMainId}
            </if>

            <if test="trueName!=null and trueName!=''">
                and t.true_name = #{trueName}
            </if>

            <if test="idCard!=null and idCard!=''">
                and t.id_card = #{idCard}
            </if>

            <if test="approveStatus!=null ">
                and t.approve_status = #{approveStatus}
            </if>
            and t.delete_status = 0
        </where>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.user.entity.UserTrueNameApprove" useGeneratedKeys="false" keyProperty="id" >
        insert into t_user_true_name_approve(id,user_main_id,idcard_type,true_name,id_card,idcard_img1,idcard_img2,approve_status,create_date,delete_status)
        values(#{id},#{userMainId},#{idcardType},#{trueName},#{idCard},#{idcardImg1},#{idcardImg2},#{approveStatus},#{createDate},#{deleteStatus})
    </insert>


    <update id="update" parameterType="com.toucan.shopping.modules.user.entity.UserTrueNameApprove"  >
        update t_user_true_name_approve set idcard_type=#{idcardType} , true_name=#{trueName},
        id_card=#{idCard},idcard_img1=#{idcardImg1},idcard_img2=#{idcardImg2},
        approve_status=#{approveStatus},update_date=#{updateDate},reject_text=#{rejectText}
          where user_main_id=#{userMainId} and id=#{id} and delete_status = 0
    </update>

    <select id="queryListPage" resultMap="userTrueNameApproveMap" parameterType="com.toucan.shopping.modules.user.page.UserTrueNameApprovePageInfo">
        select t.* from t_user_true_name_approve t
        <where>
            1=1

            <include refid="queryListPageWhere" />
        </where>
        order by t.user_main_id desc
        limit #{start},#{limit}
    </select>



    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.user.page.UserTrueNameApprovePageInfo">
        select count(*) from t_user_true_name_approve tu
        <where>
            1=1
            <include refid="queryListPageWhere" />
        </where>

    </select>




    <update id="deleteById">
        update t_user_true_name_approve  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


</mapper>