<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.user.mapper.UserMobilePhoneMapper">

    <resultMap id="userMobilePhoneMap" type="com.toucan.shopping.modules.user.entity.UserMobilePhone" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>


    <select id="findListByEntity" resultMap="userMobilePhoneMap" parameterType="com.toucan.shopping.modules.user.entity.UserMobilePhone">
        select * from t_user_mobile_phone bu
        <where>
            1=1
            <if test="id!=null">
                and bu.id = #{id}
            </if>
            <if test="mobilePhone!=null and mobilePhone!='' ">
                and bu.mobile_phone = #{mobilePhone}
            </if>
            <if test="userMainId!=null  ">
                and bu.user_main_id = #{userMainId}
            </if>
                and bu.delete_status = 0
        </where>

    </select>


    <select id="findListByEntityNothingDeleteStatus" resultMap="userMobilePhoneMap" parameterType="com.toucan.shopping.modules.user.entity.UserMobilePhone">
        select * from t_user_mobile_phone bu
        <where>
            1=1
            <if test="id!=null">
                and bu.id = #{id}
            </if>
            <if test="mobilePhone!=null and mobilePhone!='' ">
                and bu.mobile_phone = #{mobilePhone}
            </if>
            <if test="userMainId!=null  ">
                and bu.user_main_id = #{userMainId}
            </if>
        </where>

    </select>


    <select id="queryListByUserMainId" resultMap="userMobilePhoneMap" >
        select tump.* from t_user_mobile_phone tump
        <where>
            1=1 and tump.delete_status = 0

            <if test="userMainIdArray!=null and userMainIdArray.length>0 ">
                and tump.user_main_id in
                <foreach item="item" index="index" collection="userMainIdArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>

        order by tump.id desc
    </select>


    <select id="queryListByUserMainIdNothingDeleteStatus" resultMap="userMobilePhoneMap" >
        select tump.* from t_user_mobile_phone tump
        <where>
            1=1
            <if test="userMainIdArray!=null and userMainIdArray.length>0  ">
                and tump.user_main_id in
                <foreach item="item" index="index" collection="userMainIdArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>

        order by tump.id desc
    </select>




    <select id="queryListPageNothingDeleteStatus" resultMap="userMobilePhoneMap" parameterType="com.toucan.shopping.modules.user.page.UserPageInfo">
        select tu.* from t_user_mobile_phone tu
        <where>
            1=1

            <if test="userMainId!=null  ">
                and tu.user_main_id = #{userMainId}
            </if>

        </where>
        order by tu.user_main_id desc
        limit #{start},#{limit}
    </select>




    <select id="queryListPageNothingDeleteStatusCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.user.page.UserPageInfo">
        select count(*) from t_user_mobile_phone tu
        <where>
            1=1

            <if test="userMainId!=null  ">
                and tu.user_main_id = #{userMainId}
            </if>

        </where>

    </select>


    <select id="findListByMobilePhone" resultMap="userMobilePhoneMap" parameterType="java.lang.String">
        select * from t_user_mobile_phone bu where  1=1  and bu.mobile_phone = #{mobilePhone}  and bu.delete_status = 0
    </select>

    <select id="findListByMobilePhoneAndUserMainIdList" resultMap="userMobilePhoneMap" >
        select * from t_user_mobile_phone bu
        where  1=1
         and bu.delete_status = 0
         and bu.mobile_phone = #{mobilePhone}

        <if test="userMianIdList!=null and userMianIdList.size > 0 ">
            and bu.user_main_id in
            <foreach item="item" index="index" collection="userMianIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="findListByMobilePhoneLike" resultMap="userMobilePhoneMap" parameterType="java.lang.String">
        select * from t_user_mobile_phone bu where  1=1  and bu.mobile_phone like concat('%',#{mobilePhone},'%')  and bu.delete_status = 0
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.user.entity.UserMobilePhone" keyProperty="id" >
        insert into t_user_mobile_phone(id,mobile_phone,user_main_id,create_date,delete_status)
        values(#{id},#{mobilePhone},#{userMainId},#{createDate},#{deleteStatus})
    </insert>



    <update id="updateDeleteStatus" >
        update t_user_mobile_phone set delete_status=#{deleteStatus}
           where user_main_id =#{userMainId} and mobile_phone=#{mobilePhone}
    </update>



    <update id="deleteByUserMainId" >
        update t_user_mobile_phone set delete_status=1  where user_main_id =#{userMainId}
    </update>



</mapper>