<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.user.mapper.UserBuyCarMapper">

    <resultMap id="entityMap" type="com.toucan.shopping.modules.user.entity.UserBuyCar" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="shop_product_sku_id" jdbcType="BIGINT" property="shopProductSkuId" />
        <result column="buy_count" jdbcType="BIGINT" property="buyCount" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>

    <insert id="insert" parameterType="com.toucan.shopping.modules.user.entity.UserBuyCar" >
        insert into t_user_buy_car(id,user_main_id,shop_product_sku_id,buy_count,create_date,delete_status)
        values(#{id},#{userMainId},#{shopProductSkuId},#{buyCount},#{createDate},#{deleteStatus})
    </insert>


    <update id="deleteById" parameterType="java.lang.Long">
        update t_user_buy_car set delete_status=1 where id = #{id}
    </update>

    <update id="update" parameterType="com.toucan.shopping.modules.user.entity.UserBuyCar">
          update t_user_buy_car set buy_count=#{buyCount} , update_date = #{updateDate} where id = #{id}
    </update>



    <select id="findListByEntity" resultMap="entityMap" parameterType="com.toucan.shopping.modules.user.vo.UserBuyCarVO">
        select * from t_user_buy_car t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>
            <if test="userMainId!=null">
                and t.user_main_id = #{userMainId}
            </if>
            <if test="shopProductSkuId!=null">
                and t.shop_product_sku_id = #{shopProductSkuId}
            </if>
            and t.delete_status = 0
        </where>

    </select>


    <select id="findListByUserMainId" resultMap="entityMap" parameterType="java.lang.Long">
        select * from t_user_buy_car t  where 1=1   and t.user_main_id = #{userMainId} and t.delete_status = 0   limit 0,100
    </select>


    <update id="deleteByIdAndUserMainId" >
        update t_user_buy_car set delete_status=1 where id = #{id} and user_main_id = #{userMainId}  and delete_status=0
    </update>

    <update id="deleteByUserMainId" parameterType="java.lang.Long">
        update t_user_buy_car set delete_status=1 where user_main_id = #{userMainId} and delete_status=0
    </update>

</mapper>