<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.user.mapper.UserMapper">

    <resultMap id="userMap" type="com.toucan.shopping.modules.user.entity.User" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>


    <resultMap id="userVOMap" type="com.toucan.shopping.modules.user.vo.UserVO" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>

    <sql id="queryListPageWhere">
        <if test="idArray!=null and idArray.length>0 ">
            and tu.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="userMainIdArray!=null and userMainIdArray.length>0 ">
            and tu.user_main_id in
            <foreach item="item" index="index" collection="userMainIdArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </sql>

    <select id="findListByEntity" resultMap="userMap" parameterType="com.toucan.shopping.modules.user.entity.User">
        select * from t_user bu
        <where>
            1=1
            <if test="id!=null">
                and bu.id = #{id}
            </if>
            <if test="userMainId!=null">
                and bu.user_main_id = #{userMainId}
            </if>
                and bu.delete_status = 0
        </where>

    </select>



    <select id="queryListPage" resultMap="userVOMap" parameterType="com.toucan.shopping.modules.user.page.UserPageInfo">
        select tu.* from t_user tu
        <where>
            1=1 and tu.delete_status = 0

            <include refid="queryListPageWhere" />

        </where>
        order by tu.user_main_id desc
        limit #{start},#{limit}
    </select>




    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.user.page.UserPageInfo">
        select count(*) from t_user tu
        <where>
            1=1 and tu.delete_status = 0

            <include refid="queryListPageWhere" />

        </where>

    </select>

    <select id="findById" resultMap="userMap" parameterType="java.lang.Long">
        select * from t_user bu where 1=1 and bu.id = #{id} and bu.delete_status = 0
    </select>

    <select id="findListByUserMainId" resultMap="userMap" parameterType="java.lang.Long">
        select * from t_user bu where 1=1 and bu.user_main_id = #{userMainId} and bu.delete_status = 0
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.user.entity.User" keyProperty="id" >
        insert into t_user(id,user_main_id,password,enable_status,create_date,delete_status)
        values(#{id},#{userMainId},#{password},#{enableStatus},#{createDate},#{deleteStatus})
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update t_user set delete_status=1 where id =#{id}
    </update>



    <update id="updateEnableStatus" >
        update t_user set enable_status=#{enableStatus} where user_main_id =#{userMainId} and delete_status=0
    </update>

    <update id="updatePasswordByUserMainId" >
        update t_user set password=#{password} where user_main_id =#{userMainId} and delete_status=0
    </update>


</mapper>