<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <#include "/common_js.html"/>
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/info.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/formStyle.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/pagination/pagination.css">
    <link rel="stylesheet" href="${basePath}/static/css/user/message/style.css">
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="${basePath}/static/js/jquery-form.js"></script>
    <#include "/common_js.html"/>
    <script type="text/javascript" src="${basePath}/static/js/n_navc.js"></script>



    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>

</div>

<#include "/category_navigation.html">

<#assign leftMenuName = "message">

<!------------main---------------->
<div class="main">

    <div class="current-position">
        <h2>
            <a href="${basePath}/page/user/info">个人中心</a>
            &gt;
            <a href="#">消息中心</a>
        </h2>
    </div>
    <div class="user-content">

        <div class="user-menu">
            <#include "/user/info_left.html"/>
        </div>

        <div class="user-right">
            <div class="toucan-form">
                <div class="toucan-form-title">
                    <h3 style="font-size:20px;float:left;">消息中心</h3>
                    &nbsp;&nbsp;&nbsp;
                    <a style="float:right;color:#0400ff;font-size: 15px;">全部已读</a>
                </div>

                <div class="toucan-form-body">
                    <div class="accordion">
                        <div class="accordion-item">
                            <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title"><i class="redpoint"></i>&nbsp;实名认证消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title"><i class="redpoint"></i>&nbsp;头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">

                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title"><i class="redpoint"></i>&nbsp;头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-6" aria-expanded="false"><span class="accordion-title">实名认证消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-7" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-8" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-9" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button id="accordion-button-10" aria-expanded="false"><span class="accordion-title">头像审核消息&nbsp;&nbsp;&nbsp;<a class="accordion-title-time">2021-12-27</a></span><span class="icon" aria-hidden="true">展开</span></button>
                            <div class="accordion-content">
                                <p>输入内容不合法,请重新输入</p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="${basePath}/static/shopping/web/js/user/message/script.js"></script>
    <script type="text/javascript" src="${basePath}/static/lib/pagination/underscore.js"></script>
    <script type="text/javascript" src="${basePath}/static/lib/pagination/pagination.build.js"></script>

    <#include "/footer.html"/>

</body>

<script>
    $(function () {
        new pagination({
            pagination:$('.pagination'),
            maxPage: 7, //最大页码数,支持奇数，左右对称
            startPage: 1,    //默认第一页
            currentPage: 2,          //当前页码
            totalItemCount: 10,    //项目总数,大于0，显示页码总数
            totalPageCount: 20,        //总页数
            callback:function(pageNum){
                console.info(pageNum);
            }
        });
    });


</script>


</html>
