<div class="i_car">
    <div class="car_t">购物车 [ <span id="buyCarProductCount">0</span> ]</div>
    <div class="car_bg">
        <!--Begin 购物车未登录 Begin-->
        <div class="un_login buy_car_login_tip">还未登录！<a href="${basePath}/page/user/login" style="color:#ff4e00;">马上登录</a> 查看购物车！</div>

        <div class="un_login buy_car_empty">购物车空空如也，快去购物吧！</div>
        <!--End 购物车未登录 End-->
        <!--Begin 购物车已登录 Begin-->
        <!--<ul class="cars">-->
            <!--<li>-->
                <!--<div class="img"><a href="#"><img src="${basePath}/static/images/car1.jpg" width="58" height="58" /></a></div>-->
                <!--<div class="name"><a href="#">法颂浪漫梦境50ML 香水女士持久清新淡香 送2ML小样3只</a></div>-->
                <!--<div class="price"><font color="#ff4e00">￥399</font> X1</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="price_sum">共计&nbsp; <font color="#ff4e00">￥</font><span>1058</span></div>-->
        <!--<div class="price_a"><a href="#">去购物车结算</a></div>-->
        <!--End 购物车已登录 End-->
    </div>
</div>


<script type="text/javascript" src="${basePath}/static/shopping/web/js/index/buy_car.js"></script>

