<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->
        <div class="nav">
            <div class="nav_t">全部商品分类</div>
            <div class="leftNav">
                <ul id="categoryListUl">

                </ul>
</div>
</div>
<!--End 商品分类详情 End-->
<ul class="menu_r">
    <li><a href="Index.html">首页</a></li>
    <li><a href="Food.html">美食</a></li>
    <li><a href="Fresh.html">生鲜</a></li>
    <li><a href="HomeDecoration.html">家居</a></li>
    <li><a href="SuitDress.html">女装</a></li>
    <li><a href="MakeUp.html">美妆</a></li>
    <li><a href="Digital.html">数码</a></li>
    <li><a href="GroupBuying.html">团购</a></li>
</ul>
<div class="m_ad">中秋送好礼！</div>
</div>
</div>