
<link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />


<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->
        <div class="nav">
            <div class="nav_t">热门商品分类</div>
            <div class="leftNavChild" style="display: none;">
                <ul id="categoryListUl">
                    <ul>
                        <li>
                            <h3><a href="#" style="color: #ffffff;padding-right:5px;">母婴</a></h3>
                            <a href="#" style="color: #ffffff;padding-right:5px;">爱他美</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">奶粉</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">米粉</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">麦肯齐</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">nuby</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">帕玛氏</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">小蜜蜂</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">挪威小鱼</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">加州宝宝</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" >童年时光</a>
                        </li>

                        <li>
                            <h3><a href="#" style="color: #ffffff;padding-right:5px;" >保健</a></h3>
                            <a href="#" class="on" style="color: #ffffff;padding-right:5px;" >GNC</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">普丽普莱</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">鱼油</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">减肥</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">维骨力</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">葡萄籽</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">自然之宝</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">MACA</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">助睡眠</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">维生素</a>
                        </li>
                        <li>
                            <h3><a href="#" style="color: #ffffff;padding-right:5px;" >保健</a></h3>
                            <a href="#" class="on" style="color: #ffffff;padding-right:5px;" >GNC</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">普丽普莱</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">鱼油</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">减肥</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">维骨力</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">葡萄籽</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">自然之宝</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;" class="on">MACA</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">助睡眠</a>
                            <a href="#" style="color: #ffffff;padding-right:5px;">维生素</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
<!--End 商品分类详情 End-->
<ul class="menu_r">
    <li><a href="Index.html">首页</a></li>
    <li><a href="Food.html">美食</a></li>
    <li><a href="Fresh.html">生鲜</a></li>
    <li><a href="HomeDecoration.html">家居</a></li>
    <li><a href="SuitDress.html">女装</a></li>
    <li><a href="MakeUp.html">美妆</a></li>
    <li><a href="Digital.html">数码</a></li>
    <li><a href="GroupBuying.html">团购</a></li>
</ul>
<div class="m_ad">中秋送好礼！</div>
</div>
</div>

