
<div id="indexColumns" style="width:100%">

<!--Begin 进口 生鲜 Begin-->
<div class="i_t mar_10">
    <span class="floor_num">1F</span>
    <span class="fl">进口 <b>·</b> 生鲜</span>
    <span class="i_mores fr"><a href="#">进口咖啡</a>&nbsp; &nbsp; &nbsp; <a href="#">进口酒</a>&nbsp; &nbsp; &nbsp; <a href="#">进口母婴</a>&nbsp; &nbsp; &nbsp; <a href="#">新鲜蔬菜</a>&nbsp; &nbsp; &nbsp; <a href="#">新鲜水果</a></span>
</div>
<div class="content">
    <div class="fresh_left">
        <div class="fre_ban">
            <div id="imgPlay1">
                <ul class="imgs" id="actor1">
                    <li><a href="#"><img src="${basePath}/static/images/fre_r.jpg" width="211" height="286" /></a></li>
                    <li><a href="#"><img src="${basePath}/static/images/fre_r.jpg" width="211" height="286" /></a></li>
                    <li><a href="#"><img src="${basePath}/static/images/fre_r.jpg" width="211" height="286" /></a></li>
                </ul>
                <div class="prevf">上一张</div>
                <div class="nextf">下一张</div>
            </div>
        </div>
        <div class="fresh_txt">
            <div class="fresh_txt_c">
                <a href="#">进口水果</a><a href="#">奇异果</a><a href="#">西柚</a><a href="#">海鲜水产</a><a href="#">品质牛肉</a><a href="#">奶粉</a><a href="#">鲜活禽蛋</a><a href="#">进口酒</a><a href="#">进口奶粉</a><a href="#">鲜活禽蛋</a>
            </div>
        </div>
    </div>
    <div class="fresh_mid">
        <ul>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_1.jpg" width="185" height="155" /></a></div>
            </li>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_2.jpg" width="185" height="155" /></a></div>
            </li>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_3.jpg" width="185" height="155" /></a></div>
            </li>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_4.jpg" width="185" height="155" /></a></div>
            </li>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_5.jpg" width="185" height="155" /></a></div>
            </li>
            <li>
                <div class="name"><a href="#">新鲜美味  进口美食</a></div>
                <div class="price">
                    <font>￥<span>198.00</span></font> &nbsp; 26R
                </div>
                <div class="img"><a href="#"><img src="${basePath}/static/images/fre_6.jpg" width="185" height="155" /></a></div>
            </li>
        </ul>
    </div>
    <div class="fresh_right">
        <ul>
            <li><a href="#"><img src="${basePath}/static/images/fre_b1.jpg" width="260" height="220" /></a></li>
            <li><a href="#"><img src="${basePath}/static/images/fre_b2.jpg" width="260" height="220" /></a></li>
        </ul>
    </div>
</div>
<!--End 进口 生鲜 End-->
</div>

<script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/tban.js"></script>


<script type="text/javascript" src="${basePath}/static/js/index/column.js"></script>
