
<div id="indexColumns" style="width:100%">



</div>

<script type="text/javascript" src="${basePath}/static/js/index/column.js"></script>

<script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
<script type="text/javascript" src="${basePath}/static/js/tban.js"></script>


