
<script src="${basePath}/static/js/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    var basePath = "${basePath!}";
    var $ = jQuery;
</script>

<script src="${basePath}/static/js/message.js"></script>
<link rel="stylesheet" href="${basePath}/static/css/message.css" />

<script src="${basePath}/static/lib/loadding/loading.js"></script>
<link rel="stylesheet" href="${basePath}/static/lib/loadding/loading.css" />

<link rel="stylesheet" href="${basePath}/static/css/common/toucan-form-validate.css" />
<script type="text/javascript" src="${basePath}/static/js/common/toucan-form-validate.js"></script>
