<!--Begin 热门商品 Begin-->
<div class="content mar_10">
    <div class="h_l_img">
        <div class="img"><img src="${basePath}/static/images/l_img.jpg" width="188" height="188" /></div>
        <div class="pri_bg">
            <span class="price fl">￥53.00</span>
            <span class="fr">16R</span>
        </div>
    </div>
    <div class="hot_pro">
        <div id="featureContainer">
            <div id="feature">
                <div id="block">
                    <div id="botton-scroll">
                        <ul class="featureUL">
                            <li class="featureBox">
                                <div class="box">
                                    <div class="h_icon"><img src="${basePath}/static/images/hot.png" width="50" height="50" /></div>
                                    <div class="imgbg">
                                        <a href="#"><img src="${basePath}/static/images/hot1.jpg" width="160" height="136" /></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>德国进口</h2>
                                            德亚全脂纯牛奶200ml*48盒
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>189</span></font> &nbsp; 26R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="h_icon"><img src="${basePath}/static/images/hot.png" width="50" height="50" /></div>
                                    <div class="imgbg">
                                        <a href="#"><img src="${basePath}/static/images/hot2.jpg" width="160" height="136" /></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>iphone 6S</h2>
                                            Apple/苹果 iPhone 6s Plus公开版
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>5288</span></font> &nbsp; 25R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="h_icon"><img src="${basePath}/static/images/hot.png" width="50" height="50" /></div>
                                    <div class="imgbg">
                                        <a href="#"><img src="${basePath}/static/images/hot3.jpg" width="160" height="136" /></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>倩碧特惠组合套装</h2>
                                            倩碧补水组合套装8折促销
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>368</span></font> &nbsp; 18R
                                    </div>
                                </div>
                            </li>
                            <li class="featureBox">
                                <div class="box">
                                    <div class="h_icon"><img src="${basePath}/static/images/hot.png" width="50" height="50" /></div>
                                    <div class="imgbg">
                                        <a href="#"><img src="${basePath}/static/images/hot4.jpg" width="160" height="136" /></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            <h2>品利特级橄榄油</h2>
                                            750ml*4瓶装组合 西班牙原装进口
                                        </a>
                                    </div>
                                    <div class="price">
                                        <font>￥<span>280</span></font> &nbsp; 30R
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="h_prev" href="javascript:void();">Previous</a>
                <a class="h_next" href="javascript:void();">Next</a>
            </div>
        </div>
    </div>
</div>
