
<script type="text/javascript" src="${basePath}/static/shopping/web/js/index/hot_product.js"></script>
<!--Begin 热门商品 Begin-->
<div class="content mar_10">
    <div class="hot_pro">
        <div id="featureContainer">
            <div id="feature">
                <div id="block">
                    <div id="botton-scroll">
                        <ul class="featureUL" id="hot_product_ul">
                        </ul>
                    </div>
                </div>
                <a class="h_prev" href="javascript:void();">Previous</a>
                <a class="h_next" href="javascript:void();">Next</a>
            </div>
        </div>
    </div>
</div>
