<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>
    <!--兼容低版本代码 -->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/select.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>


    <#include "/title.html"/>

    <style>
        .category_a{
            color: #ffffff;
        }
        a.category_a:hover{
            color:#ff4e00
        }
        .nuw a{
            color:#ff4e00
        }
    </style>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>


</div>
<!--End Header End-->
<!--Begin Menu Begin-->
<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->
        <div class="nav">
            <div class="nav_t">全部商品分类</div>
            <div class="leftNav">
                <ul>
                    <#if categorys??>
                        <#list categorys as category>
                             <li>
                                <div class="fj">
                                    <span class="n_img"><span></span><img src="${category.icon!}" /></span>
                                    <span class="fl">${category.rootLinks!}</span>

                                </div>
                                <div class="zj">
                                    <#list category.children as cc>
                                        <div class="zj_l">
                                            <div class="zj_l_c">
                                                <h2><a href="${cc.href!'#'}">${cc.name!}</a></h2>
                                                <#list cc.children as ccc>
                                                    <a href="${ccc.href!'#'}" class="ac" >${ccc.name!}</a>|
                                                 </#list>
                                            </div>
                                        </div>
                                    </#list>
                                    <div class="zj_r">
                                        <a href="#"><img src="${basePath}/static/images/n_img1.jpg" width="236" height="200" /></a>
                                        <a href="#"><img src="${basePath}/static/images/n_img2.jpg" width="236" height="200" /></a>
                                    </div>
                                </div>
                             </li>
                        </#list>
                    </#if>
                </ul>
            </div>
        </div>
        <!--End 商品分类详情 End-->
        <ul class="menu_r">
            <li><a href="Index.html">首页</a></li>
            <li><a href="Food.html">美食</a></li>
            <li><a href="Fresh.html">生鲜</a></li>
            <li><a href="HomeDecoration.html">家居</a></li>
            <li><a href="SuitDress.html">女装</a></li>
            <li><a href="MakeUp.html">美妆</a></li>
            <li><a href="Digital.html">数码</a></li>
            <li><a href="GroupBuying.html">团购</a></li>
        </ul>
        <div class="m_ad">中秋送好礼！</div>
    </div>
</div>
<!--End Menu End-->
<div class="i_bg bg_color">
    <div class="i_ban_bg">
        <!--Begin Banner Begin-->
        <div class="banner">
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">

                    <#if banners??>
                        <#list banners as banner>
                        <li><img src="${banner.httpImgPath!}" width="740" height="401" onclick="javascript:window.open('${banner.clickPath!}')" /></li>
                        </#list>
                    </#if>

                </ul>
                <div class="op_btns clearfix">
                    <a href="#" class="op_btn op_prev"><span></span></a>
                    <a href="#" class="op_btn op_next"><span></span></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //var jq = jQuery.noConflict();
            (function(){
                $(".bxslider").bxSlider({
                    auto:true,
                    prevSelector:jq(".top_slide_wrap .op_prev")[0],nextSelector:jq(".top_slide_wrap .op_next")[0]
                });
            })();
        </script>
        <!--End Banner End-->
        <div class="inews">
            <div class="news_t">
                <span class="fr"><a href="#">更多 ></a></span>新闻资讯
            </div>
            <ul>
                <li><span>[ 特惠 ]</span><a href="#">掬一轮明月 表无尽惦念</a></li>
                <li><span>[ 公告 ]</span><a href="#">好奇金装成长裤新品上市</a></li>
                <li><span>[ 特惠 ]</span><a href="#">大牌闪购 · 抢！</a></li>
                <li><span>[ 公告 ]</span><a href="#">发福利 买车就抢千元油卡</a></li>
                <li><span>[ 公告 ]</span><a href="#">家电低至五折</a></li>
            </ul>
            <div class="charge_t">
                话费充值<div class="ch_t_icon"></div>
            </div>
            <form>
                <table border="0" style="width:205px; margin-top:10px;" cellspacing="0" cellpadding="0">
                    <tr height="35">
                        <td width="33">号码</td>
                        <td><input type="text" value="" class="c_ipt" /></td>
                    </tr>
                    <tr height="35">
                        <td>面值</td>
                        <td>
                            <select class="jj" name="city">
                                <option value="0" selected="selected">100元</option>
                                <option value="1">50元</option>
                                <option value="2">30元</option>
                                <option value="3">20元</option>
                                <option value="4">10元</option>
                            </select>
                            <span style="color:#ff4e00; font-size:14px;">￥99.5</span>
                        </td>
                    </tr>
                    <tr height="35">
                        <td colspan="2"><input type="submit" value="立即充值" class="c_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!--Begin 热门商品 Begin -->
        <#include "/hot_product.html"/>
    <!--End 热门商品 End -->

    <!--Begin 限时特卖 Begin -->
        <#include "/limited_time_sale.html"/>
    <!--End 限时特卖 End -->


    <!--Begin 栏目列表 Begin -->
        <#include "/columns.html"/>
    <!--End 栏目列表 End -->
    <!--Begin 猜你喜欢 Begin-->

        <#include "/like_product.html"/>
    <!--End 猜你喜欢 End-->

    <#include "/footer.html"/>
</div>

</body>


</html>
