
<link rel="stylesheet" href="${basePath}/static/css/product/product_scroll.css">

<div class="i_t mar_10">
    <span class="fl">猜你喜欢</span>
</div>
<div class="like">
    <div id="featureContainer1">
        <div id="feature1">
            <div id="block1">
                <div id="botton-scroll1">
                    <ul class="featureUL" id="like_product_ul">

                    </ul>
                </div>
            </div>
            <a class="l_prev" href="javascript:void();">Previous</a>
            <a class="l_next" href="javascript:void();">Next</a>
        </div>
    </div>
</div>


<script type="text/javascript" src="${basePath}/static/js/product/product_scroll.js"></script>
<script type="text/javascript" src="${basePath}/static/shopping/web/js/index/like_product.js"></script>