<span id="userInfo" style="display:none">
    <span class="fl">
        <div class="ss_list">
            <a href="${basePath}/page/user/info" id="unickname" >用户昵称</a>
            <div class="ss_list_bg" style="width:280px;">
                <div class="s_city_t"></div>
                <div class="ss_list_c" >
                  <div class="dd-spacer"></div>
                  <div class="userinfo">
                   <div class="u-pic">
                    <a target="_blank" href="${basePath}/page/user/info"><img src="" id="headImg" width="60" height="60" /></a>
                   </div>
                   <div class="u-plus">
                    <a href="${basePath}/page/user/logout" class="link-logout">退出</a>
                    <a href="${basePath}/page/user/info"  class="link-nickname" id="unicknamec" >用户昵称</a>
                   </div>
                   <div class="u-msg">
                        <!--<a href="#" target="_blank">开通PLUS 平均省1012元/年&gt;</a>-->
                       <a href="#" target="_blank" class="icon-plus-icon" style="margin-top: 6px;float:left"></a><a>犀鸟plus会员</a>
                   </div>
                  </div>
                  <div class="badge-list">
                   <a href="javascript:void(0);" class="badge-list-prev">&lt;</a>
                   <div class="u-badges" style="position: relative;">
                        <div class="badge-panel-main" style="width: 296px; left: 0px; position: absolute;">
                             <div class="badge-panel fore1 u-dis" style="float: left; display: block;">
                                <a href="#" target="_blank">
                                    <i class="has-yfdm"></i>
                                    <p class="u-name">待支付</p>
                                </a>
                             </div>
                            <div class="badge-panel fore1 u-dis" style="float: left; display: block;">
                                <a href="#" target="_blank">
                                    <i class="has-yfdm"></i>
                                    <p class="u-name">待收货</p>
                                </a>
                             </div>
                            <div class="badge-panel fore1 u-dis" style="float: left; display: block;">
                                <a href="#" target="_blank">
                                    <i class="has-yfdm"></i>
                                    <p class="u-name">待评价</p>
                                </a>
                             </div>
                            <div class="badge-panel fore1 u-dis" style="float: left; display: block;">
                                <a href="#" target="_blank">
                                    <i class="has-yfdm"></i>
                                    <p class="u-name">待评价02</p>
                                </a>
                             </div>
                        </div>
                   </div>
                   <a href="javascript:void(0);" class="badge-list-next">&gt;</a>
                  </div>
                </div>

            </div>
        </div>
    </span>
</span>
<span id="registOrLogin" style="display:none">
你好，请<a href="${basePath}/page/user/login">登录</a>&nbsp; <a href="${basePath}/page/user/regist" style="color:#ff4e00;">免费注册</a>
</span>

<#include "/common_js.html"/>


<script type="text/javascript" src="${basePath}/static/shopping/web/js/cookie.js"></script>
<script>
    $(function () {
        var tss_uid=getCookie("tss_uid");
        var tss_lt=getCookie("tss_lt");
        if(tss_uid!=null&&tss_lt!=null) {
            //查询信息
            $.post(basePath + "/api/user/login/info", {}, function (result) {
                if (result.code > 0 && result.data != null) {
                    if (result.data.nickName != null) {
                        $("#unickname").text(result.data.nickName);
                        $("#unicknamec").text(result.data.nickName);
                    }
                    if (result.data.httpHeadSculpture != null) {
                        $("#headImg").attr("src", result.data.httpHeadSculpture);
                    }
                    $("#userInfo").show();
                } else {

                    $("#registOrLogin").show();
                }
            });
        }else{
            $("#registOrLogin").show();
        }

        $(".badge-list-next").click(function() {
            var widthValue = parseInt($(".badge-panel-main").css("width"));
            var leftValue = parseInt($(".badge-panel-main").css("left"));
            //判断是否是最后一页
            if(Math.abs(leftValue)<(widthValue-148))
            {
                $(".badge-panel-main").css("left",(leftValue-148)+"px");
            }
        });

        $(".badge-list-prev").click(function() {
            var widthValue = parseInt($(".badge-panel-main").css("width"));
            var leftValue = parseInt($(".badge-panel-main").css("left"));
            //判断是否是第一页
            if(Math.abs(leftValue)>0)
            {
                $(".badge-panel-main").css("left",(leftValue+148)+"px");
            }
        });
    });
</script>