<span id="userInfo" style="display:none">
    <a href="${basePath}/page/user/info" id="unickname" >用户昵称</a>
</span>
<span id="registOrLogin" style="display:none">
你好，请<a href="${basePath}/page/user/login">登录</a>&nbsp; <a href="${basePath}/page/user/regist" style="color:#ff4e00;">免费注册</a>
</span>
<script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
<script type="text/javascript" src="${basePath}/static/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="${basePath}/static/shopping/web/js/common.js"></script>

<#include "/common_js.html"/>

<script>
    $(function () {

        //查询信息
        $.post(basePath+"/api/user/info",null,function(result){
            if(result.code>0&&result.data!=null)
            {
                $("#unickname").text(result.data.nickName);
                $("#userInfo").show();
            }else{

                $("#registOrLogin").show();
            }
        });
    });
</script>