<div class="search">
    <form class="s_form" method="get">
        <input type="text" name="keyword" value="${keyword!''}" class="s_ipt" />
        <input type="hidden" id="qkeyword" value="${keyword!''}" />
        <input type="hidden" id="cid" value="${cid!''}" />
        <input type="hidden" id="ebids" value="${ebids!''}" />
        <input type="hidden" id="qbs" value="${qbs!''}" />
        <input type="hidden" id="ab" value="${ab!''}" />
        <input type="hidden" id="bid" value="${bid!''}" />
        <input type="hidden" id="bn" value="${bn!''}" />
        <input type="hidden" id="abids" value="${abids!''}" />
        <input type="hidden" id="ps" value="${ps!''}" />
        <input type="hidden" id="pe" value="${pe!''}" />
        <input type="button" value="搜索" class="s_btn" />
    </form>
    <span class="fl ">
        <a  class="q_labels">手机</a>
        <a  class="q_labels">电脑</a>
        <a  class="q_labels">新鲜美食</a>
        <a  class="q_labels">蛋糕</a>
        <a  class="q_labels">日用品</a>
        <a  class="q_labels">连衣裙</a>
    </span>
</div>


<script type="text/javascript" src="${basePath}/static/shopping/web/js/search/product/search.js"></script>