<div class="soubg">
    <div class="sou">
        <!--Begin 所在收货地区 Begin-->
        <span class="s_city_b">
            <span class="fl">
                <img src="${basePath}/static/images/icon_home.png">
                <a class="navbar-brand" href="/index">
                商城首页
                </a>&nbsp;&nbsp;&nbsp;
            </span>
            <span class="fl">
                送货至：
            </span>
            <span class="s_city">
                <span>北京</span>
                <div class="s_city_bg">
                    <div class="s_city_t"></div>
                    <div class="s_city_c">
                        <h2>请选择所在的收货区域</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0" cellpadding="0">
                          <tr>
                            <th>A</th>
                            <td class="c_h"><span data-code="340000" >安徽省</span></td>
                          </tr>
                          <tr>
                            <th>B</th>
                            <td class="c_h"><span class="c_check" data-code="110000" >北京</span></td>
                          </tr>
                          <tr>
                            <th>C</th>
                            <td class="c_h"><span data-code="500000" >重庆市</span></td>
                          </tr>
                          <tr>
                            <th>F</th>
                            <td class="c_h"><span data-code="350000" >福建省</span></td>
                          </tr>
                          <tr>
                            <th>G</th>
                            <td class="c_h"><span data-code="440000" >广东省</span><span data-code="450000" >广西壮族自治区</span></td>
                          </tr>
                          <tr>
                            <th>H</th>
                            <td class="c_h"><span data-code="130000" >河北省</span><span data-code="230000" >黑龙江省</span><span data-code="410000" >河南省</span><span data-code="420000" >湖北省</span><span data-code="430000" >湖南省</span><span data-code="460000" >海南省</span></td>
                          </tr>
                          <tr>
                            <th>J</th>
                            <td class="c_h"><span data-code="220000" >吉林省</span><span data-code="320000" >江苏省</span><span data-code="360000" >江西省</span></td>
                          </tr>
                          <tr>
                            <th>L</th>
                            <td class="c_h"><span data-code="210000" >辽宁省</span></td>
                          </tr>
                          <tr>
                            <th>N</th>
                            <td class="c_h"><span data-code="150000" >内蒙古自治区</span></td>
                          </tr>
                            <!--<tr>
                              <th>Q</th>
                              <td class="c_h"></td>
                            </tr>-->
                          <tr>
                            <th>S</th>
                            <td class="c_h"><span data-code="140000" >山西省</span><span data-code="310000" >上海市</span><span data-code="370000" >山东省</span><span data-code="510000" >四川省</span></td>
                          </tr>
                          <tr>
                            <th>T</th>
                            <td class="c_h"><span data-code="120000" >山西省</span></td>
                          </tr>
                            <!--<tr>
                              <th>X</th>
                              <td class="c_h"></td>
                            </tr>
                            <tr>
                              <th>Y</th>
                              <td class="c_h"></td>
                            </tr>-->
                          <tr>
                            <th>Z</th>
                            <td class="c_h"><span data-code="330000" >浙江省</span></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
        <!--End 所在收货地区 End-->
        <span class="fr">
                <span class="fl"><#include "/regist_login.html"/>&nbsp;|&nbsp;<a href="#">我的订单</a>&nbsp;|</span>
                <span class="fl">&nbsp;<a href="http://8.140.187.184:8101">免费开店</a>&nbsp;|</span>
                <span class="fr">
                    <div class="ss_list">
                        <a href="#">网站导航</a>
                        <div class="ss_list_bg">
                            <div class="s_city_t"></div>
                            <div class="ss_list_c">
                                <ul>
                                    <li><a href="http://www.taobao.com">淘宝网</a></li>
                                    <li><a href="http://www.jd.com">京东商城</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </span>
            </span>
    </div>
</div>