<div class="soubg">
    <div class="sou">
        <span class="s_city_b">
           <a class="navbar-brand" href="/index">
                商城首页
            </a>
        </span>
        <span class="fr">
        	<span class="fl"><#include "/regist_login.html"/>&nbsp; </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="${basePath}/static/images/s_tel.png" align="absmiddle" /></a></span>
        </span>
    </div>
</div>