<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">栏目类型</label>
        <div class="layui-input-block">
            <select id="columnType" lay-verify="required" name="columnTypeCode"  lay-search="">
                <option value="">请选择</option>
                <option th:each="ct : ${columnTypes}" th:value="${ct.code}" th:text="${ct.name}">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">栏目标题</label>
        <div class="layui-input-block">
            <input type="title" name="title" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入栏目标题" value="" class="layui-input">
            <tip>填写栏目标题。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">顶部推荐标签</label>
        <div class="layui-input-block">
            <table class="layui-hide" id="columnTopLabelTable" ></table>

            <script type="text/html" id="columnTopLabelTableBar">
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a> &nbsp;&nbsp;
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">左侧推荐标签</label>
        <div class="layui-input-block">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        var topLabelTable;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:"[[@{/column/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });

        initTopLabelTable();
        function initTopLabelTable()
        {
            topLabelTable = table.render({
                elem: '#columnTopLabelTable',
                done:function(res, curr, count)
                {
                },
                cols: [
                    [
                        {field: 'labelName', width: 600, title: '标签名称'},
                        {field: 'clickPath', width: 150, title: '点击跳转'},
                        {title: '操作', minWidth: 300, toolbar: '#columnTopLabelTableBar', align: "center"}
                    ]
                ],
                page: false,
                skin: 'line'
            });
        }


    });
</script>
</body>
</html>