<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <link rel="stylesheet" th:href="@{/lib/zTree/css/zTreeStyle/zTreeStyle.css}" >



    <style>
        .ztree *{
            font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
        }

    </style>

</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layui-layout">
    <div class="layui-side ">

        <div class="layuimini-container" style="height:90%; overflow-x: auto;">
            <div class="layuimini-main">
                <div class="layui-card">
                    <div class="layui-card-header">栏目类型</div>
                    <div class="layui-card-body" >
                        <ul id="typeTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-body">
        <div class="layuimini-container">
            <div class="layuimini-main">

                <fieldset class="table-search-fieldset">
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" id="columnSearchForm" action="">
                            <div class="layui-form-item">
                                <input type="hidden" name="columnTypeCode" id="columnTypeCode" value="-1">
                                <div class="layui-inline">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">编码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="code" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">显示状态</label>
                                    <div class="layui-input-inline">
                                        <select id="showStatus" name="showStatus"  lay-search="">
                                            <option value="-1">全部</option>
                                            <option value="1">显示</option>
                                            <option value="0">隐藏</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">栏目类型</label>
                                    <div class="layui-input-inline">
                                        <select name="type"  lay-search="" >
                                            <option th:value="-1">全部</option>
                                            <option th:each="c:${columnTypeList}" th:value="${c.code}" th:text="${c.name}" >
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">栏目位置</label>
                                    <div class="layui-input-inline">
                                        <select name="type"  lay-search="" >
                                            <option th:value="-1">全部</option>
                                            <option th:each="c:${columnPositionList}" th:value="${c.code}" th:text="${c.name}" >
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">展示时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="startShowDate" name="startShowDate" class="layui-input"  readonly >
                                    </div>
                                </div>
                                至&nbsp;&nbsp;
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" id="endShowDate" name="endShowDate" class="layui-input"  readonly >
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button type="submit" class="layui-btn layui-btn-primary"  id="queryButton" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                    <button type="reset" class="layui-btn layui-btn-primary" id="data-reset-btn" ><i class="layui-icon"></i> 重 置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>

                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <span th:each="tb : ${toolbarButtons}" th:utext="${tb}"></span>

                    </div>
                </script>

                <table class="layui-hide" id="columnTable" lay-filter="columnTableFilter"></table>

                <script type="text/html" id="columnTableBar">
                    <span th:each="btn : ${rowButtons}" th:utext="${btn}"></span>
                </script>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.excheck.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.exedit.js}"></script>
<script>
    layui.config({
        base: basePath+'/lib/layui_ext/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree/dtree',
        treeTable: 'treeTable/treeTable'
    }).use(['form', 'table','tree','treeTable','dtree','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var tree = layui.tree;
        var loadding;
        var dtree = layui.dtree;
        var treetable = layui.treeTable;
        var treetableHandler;
        var roleTree;
        var roleTreeDataArray = new Array();

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        function getFormParam(row)
        {
            var formParam = $("#columnSearchForm").serializeJson();
            if(row!=null) {
                formParam.pid = row.id;
            }else{
                formParam.pid=-1;
            }
            return formParam;
        }


        function loadTreeTable()
        {
            loadding = layer.load();
            treetableHandler = treetable.render({
                elem: '#columnTable',
                tree: {
                    iconIndex: 2
                },
                toolbar: '#toolbarDemo',
                page: false,
                cols: [
                    [
                        {type: "checkbox", width: 50},
                        {field: 'id', width: 200, title: '主键'},
                        {field: 'title',width: 200,  title: '标题'},
                        {field: 'code',width: 200,  title: '编码'},
                        {field: 'clickPath',width: 200,  title: '跳转地址'},
                        {field: 'parentTitle',width: 200,  title: '上级栏目'},
                        {field: 'typeNames',width:200,  title: '栏目类型'},
                        {field: 'positionNames',width:200,  title: '栏目位置'},
                        {field: 'columnSort',width: 200,  title: '排序'},
                        {field: 'startShowDate',width: 180,  title: '开始展示时间'},
                        {field: 'endShowDate',width: 180,  title: '结束展示时间'},
                        {field: 'extendProperty',width: 200,  title: '扩展属性'},
                        {field: 'createAdminName',width: 150,  title: '创建人'},
                        {field: 'createDate',width: 200,  title: '创建时间'},
                        {field: 'updateAdminName', width: 150,  title: '修改人'},
                        {field: 'updateDate', width: 200, title: '修改时间'},
                        {templet: '#columnTableBar', width: 350, align: 'center', title: '操作'}
                    ]
                ],
                reqData: function (selectRow, callback) {
                    $.ajax({
                        url:"[[@{/}]]column/tree/table/by/pid",
                        type:'POST',
                        data:getFormParam(selectRow),
                        success:function(res){
                            if(res.data==null||res.data.length<=0) {
                                res.data = new Array();
                            }
                            callback(res.data);
                        },
                        complete:function(data)
                        {
                            layer.closeAll('loading');
                            layer.close(loadding);
                        }
                    });
                }
            });

        }


        var laydate = layui.laydate;

        //初始化时间控件
        laydate.render({
            elem: '#startShowDate' //指定元素
            ,type: 'datetime'
        });

        //初始化时间控件
        laydate.render({
            elem: '#endShowDate' //指定元素
            ,type: 'datetime'
        });



        loadTreeTable();

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {

            loadTreeTable();

            return false;
        });



        var setting = {
            async: {
                enable: true,
                url:"[[@{/}]]column/query/type/list",
                autoParam:["id", "pid", "name"],
                dataFilter: filter
            },
            data:{
                simpleData:{
                    enable: true,
                    idKey:'id',
                    pIdKey:'parentId',
                    rootPId: -1
                }
            },
            view:{
                showIcon: true
            },
            callback: {
                onClick: typeTreeClick
            }
        };

        function typeTreeClick(event, treeId, treeNode) {
            $("#columnTypeCode").val(treeNode.code);
            $("#queryButton").click();
        }


        initCategoryTree();

        function filter(treeId, parentNode, data) {
            return data.data;
        }
        //初始化树
        function initCategoryTree(){

            loaddingTree = layer.load();
            $.ajax({
                url:"[[@{/}]]column/query/type/list",
                type:"POST",
                dataType: "json",
                success: function(data){
                    var zTreeObj = $.fn.zTree.init($("#typeTree"),setting, data.data);
                    layer.close(loaddingTree);
                },
                error: function(){

                },
                complete:function()
                {
                    layer.close(loaddingTree);
                }
            });
        }



        $("#data-reset-btn").click(function(){
            $("#typeId").val("");
            $("#columnSearchForm")[0].reset();
            layui.form.render();
        });





        /**
         * toolbar监听事件
         */
        treetable.on('toolbar(columnTable)', function (obj) {

            if (obj.event === 'add') {  // 监听添加操作
                var columnTypeCode = $("#columnTypeCode").val();
                if(columnTypeCode==null||columnTypeCode==""||columnTypeCode=="-1")
                {
                    layer.msg("请选择栏目类型");
                    return ;
                }
                var index = layer.open({
                    title: '添加栏目',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['100%', '100%'],
                    content: "[[@{/column/addPage?columnTypeCode=}]]"+columnTypeCode
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'deleteToolbar') {  // 监听删除操作
                var data = treetableHandler.checkStatus();
                if(data==null||data.length<=0)
                {
                    layer.msg("请选择要操作的记录");
                    return;
                }
                layer.confirm('确定删除栏目?', function (index) {
                    $.ajax({
                        url:"[[@{/}]]column/delete/ids",
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        data:JSON.stringify(data),
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            loadTreeTable();

                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }
        });

        //监听表格复选框选择
        treetable.on('checkbox(columnTable)', function (obj) {
            console.log(obj)
        });

        treetable.on('tool(columnTable)', function (obj) {
            var data = obj.data;
            if (obj.event == 'edit') {

                var index = layer.open({
                    title: '编辑栏目',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['100%', '100%'],
                    content: '[[@{/}]]column/editPage/'+data.id
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event == 'delete') {
                layer.confirm('确定删除该栏目?', function (index) {
                    $.ajax({
                        url:"[[@{/}]]column/delete/"+data.id,
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            loadTreeTable();

                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }
        });

    });
</script>

</body>
</html>