<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/tableFreeze/tableFreeze.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
    <link rel="stylesheet" href="${basePath}/static/css/freightTemplate/freightTemplate.css" />
    <script type="text/javascript" src="${basePath}/static/lib/layer/layer.js"></script>
</head>
<body>

<#include "/top.html"/>

<#assign leftName = "freightTemplateList">
<#assign menuType = "deliveryMenu">

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/freightTemplate/index">运费模板</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">添加模板</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">
                <div class="title" style="border-bottom: 1px solid#9a9999;"><span>添加模板</span></div>
                <div class="right_panel">

                    <form id="scaf" method="post" class="bootstrap-frm" onsubmit="return false;" style="max-width: 90%;">
                        <label>
                            <span><font color="#ff4e00">*</font>模板名称 :</span>
                            <input type="text" id="freightTemplateName" maxlength="20"  name="name"  lay-verify="required" tabindex="1"  style="width: 50%;" />
                            <div id="freightTemplateName_error"></div>
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>发货地 :</span>
                            <input name="" id="ms_city" style="width:40%" type="text" placeholder="请选择" autocomplete="off"  readonly="true">
                            <input type="hidden" id="province" name="province" />
                            <input type="hidden" id="city" name="city" />
                            <input type="hidden" id="area" name="area"   />
                            <input type="hidden" id="province_code" name="provinceCode"   />
                            <input type="hidden" id="city_code" name="cityCode"  />
                            <input type="hidden" id="area_code" name="areaCode"   />
                        </label>
                        <label>
                            <span><font color="#ff4e00">*</font>是否包邮 :</span>
                            <input type="radio" name="freightStatus" id="freightStatus_1" class="freightStatus" value="1" style="margin-top: 1%;" checked="checked" />自定义运费
                            <input type="radio" name="freightStatus" id="freightStatus_2" class="freightStatus" value="2" style="margin-top: 1%;"  />包邮
                        </label>
                        <label class="expressDiv">
                            <span><font color="#ff4e00">*</font>计价方式 :</span>
                               <input type="radio" name="valuationMethod" class="valuationMethod" value="1" style="margin-top: 1%;" checked="checked" />按件数
                                &nbsp;&nbsp;
                                <input type="radio" name="valuationMethod" class="valuationMethod" value="2" style="margin-top: 1%;"  />按重量
                                <!-- 商品属性目前没有体积,所以隐藏这种运费-->
                                <!--<input type="radio" name="valuationMethod" class="valuationMethod" value="2" style="margin-top: 2%;"  />按体积-->
                        </label>
                        <label class="expressDiv">
                            <span>运送方式 :</span>
                            <div style="margin-top: 2%;padding-top: 1.5%;">除指定地区外，其余地区的运费采用“默认运费</div>
                        </label>
                        <!--  =====================快递======================= -->
                        <label class="expressDiv" >
                            <label style="margin-left: 20%;"><input type="checkbox"  value="1" name="transportModels" id="transportModel_express" ckass="transportModelChks" />快递</label>
                        </label>
                        <label class="expressDiv">
                            <span></span>
                            <div id="expressTableDiv" style="display: none;">
                                <div style="background-color: #e8f2ff; height: 35px;margin-left: 20%;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    默认运费<input type="text" id="expressDefaultWeight" name="expressDefaultRule.defaultWeight" style="width:60px;" lay-verify="required|decimal3w" ><a class="dynamicUnitDefaultText">件内</a><input type="text" id="expressDefaultWeightMoney" name="expressDefaultRule.defaultWeightMoney" style="width:60px;" lay-verify="required|decimal3w" />元
                                    &nbsp;&nbsp;&nbsp;
                                    每增加<input type="text" id="expressDefaultAppendWeight" name="expressDefaultRule.defaultAppendWeight" style="width:60px;" lay-verify="required|decimal3w" /><a class="dynamicUnitDefaultAppendText">件内</a>,增加运费<input type="text"  id="expressDefaultAppendWeightMoney"  name="expressDefaultRule.defaultAppendWeightMoney"  style="width:60px;" lay-verify="required|decimal3w" />元
                                </div>
                                <div  style="margin-left: 20%;"  >
                                     <table id="expressTable" class="freezeTable" border="1" style="width:100%;margin-left: 0;">
                                    <tbody id="expressTableBody">
                                    <tr class="tabTh">
                                        <td style="text-align: center;    width: 30%;">运送到</td>
                                        <td style="text-align:center"><a class="dynamicUnitRowFirstText">首件数(件)</a></td>
                                        <td style="text-align:center">首费(元)</td>
                                        <td style="text-align:center"><a class="dynamicUnitRowAppendText">续件数(件)</a></td>
                                        <td style="text-align:center">续费(元)</td>
                                        <td style="text-align:center">操作</td>
                                    </tr>
                                    </tbody>
                                </table>
                                    <div style="text-align:center;background-color: #e8f2ff;">
                                        <a class="expressTableAddRow" style="color:blue;cursor: pointer;" >添加一行</a>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <!--  =====================EMS======================= -->
                        <label class="expressDiv">
                            <label style="margin-left: 20%;"><input type="checkbox"  value="2" name="transportModels" id="transportModel_ems" ckass="transportModelChks" />EMS</label>
                        </label>
                        <label class="expressDiv">
                            <span></span>
                            <div id="emsTableDiv" style="display: none;">
                                <div style="background-color: #e8f2ff; height: 35px;margin-left: 20%;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    默认运费<input type="text" id="emsDefaultWeight" name="emsDefaultRule.defaultWeight" style="width:60px;" lay-verify="required|decimal3w" ><a class="dynamicUnitDefaultText">件内</a><input type="text" id="emsDefaultWeightMoney" name="emsDefaultRule.defaultWeightMoney" style="width:60px;" lay-verify="required|decimal3w" />元
                                    &nbsp;&nbsp;&nbsp;
                                    每增加<input type="text" id="emsDefaultAppendWeight" name="emsDefaultRule.defaultAppendWeight" style="width:60px;" lay-verify="required|decimal3w" /><a class="dynamicUnitDefaultAppendText">件内</a>,增加运费<input type="text"  id="emsDefaultAppendWeightMoney"  name="emsDefaultRule.defaultAppendWeightMoney"  style="width:60px;" lay-verify="required|decimal3w" />元
                                </div>
                                <div  style="margin-left: 20%;"  >
                                    <table id="emsTable" class="freezeTable" border="1" style="width:100%;margin-left: 0;">
                                        <tbody id="emsTableBody">
                                        <tr class="tabTh">
                                            <td style="text-align: center;    width: 30%;">运送到</td>
                                            <td style="text-align:center"><a class="dynamicUnitRowFirstText">首件数(件)</a></td>
                                            <td style="text-align:center">首费(元)</td>
                                            <td style="text-align:center"><a class="dynamicUnitRowAppendText">续件数(件)</a></td>
                                            <td style="text-align:center">续费(元)</td>
                                            <td style="text-align:center">操作</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div style="text-align:center;background-color: #e8f2ff;">
                                        <a class="emsTableAddRow" style="color:blue;cursor: pointer;" >添加一行</a>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <!--  =====================平邮======================= -->
                        <label class="expressDiv">
                            <label style="margin-left: 20%;"><input type="checkbox"  value="3" name="transportModels" id="transportModel_ordinaryMail" ckass="transportModelChks" />平邮</label>
                        </label>

                        <label class="expressDiv" >
                            <span></span>
                            <div id="ordinaryMailTableDiv" style="display: none;">
                                <div style="background-color: #e8f2ff; height: 35px;margin-left: 20%;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    默认运费<input type="text" id="ordinaryMailDefaultWeight" name="ordinaryMailDefaultRule.defaultWeight" style="width:60px;" lay-verify="required|decimal3w" ><a class="dynamicUnitDefaultText">件内</a><input type="text" id="ordinaryMailDefaultWeightMoney" name="ordinaryMailDefaultRule.defaultWeightMoney" style="width:60px;" lay-verify="required|decimal3w" />元
                                    &nbsp;&nbsp;&nbsp;
                                    每增加<input type="text" id="ordinaryMailDefaultAppendWeight" name="ordinaryMailDefaultRule.defaultAppendWeight" style="width:60px;" lay-verify="required|decimal3w" /><a class="dynamicUnitDefaultAppendText">件内</a>,增加运费<input type="text"  id="ordinaryMailDefaultAppendWeightMoney"  name="ordinaryMailDefaultRule.defaultAppendWeightMoney"  style="width:60px;" lay-verify="required|decimal3w" />元
                                </div>
                                <div  style="margin-left: 20%;"  >
                                    <table id="ordinaryMailTable" class="freezeTable" border="1" style="width:100%;margin-left: 0;">
                                        <tbody id="ordinaryMailTableBody">
                                        <tr class="tabTh">
                                            <td style="text-align: center;    width: 30%;">运送到</td>
                                            <td style="text-align:center"><a class="dynamicUnitRowFirstText">首件数(件)</a></td>
                                            <td style="text-align:center">首费(元)</td>
                                            <td style="text-align:center"><a class="dynamicUnitRowAppendText">续件数(件)</a></td>
                                            <td style="text-align:center">续费(元)</td>
                                            <td style="text-align:center">操作</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div style="text-align:center;background-color: #e8f2ff;">
                                        <a class="ordinaryMailTableAddRow" style="color:blue;cursor: pointer;" >添加一行</a>
                                    </div>
                                </div>
                            </div>
                        </label>

                        <div style="width:100%;text-align:center;margin-top: 5%;">
                            <input type="button" id="saveBtn" class="button" value="保存"  />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" id="backBtn" class="button" value="返回"  />
                        </div>
                        <label>
                            <span> </span>
                            <a id="scaf_msg" ></a>
                        </label>

                        <!-- 快递 地区选择器-->
                        <div class="modal fade" id="expressSelectRegionModal" tabindex="-1" role="dialog" aria-labelledby="expressSelectRegionModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            ×
                                        </button>
                                        <h4 class="modal-title" >
                                            选择区域
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="express-select-region">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                        <button type="button" class="btn btn-primary expressSelectBtn">
                                            确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- EMS 地区选择器-->
                        <div class="modal fade" id="emsSelectRegionModal" tabindex="-1" role="dialog" aria-labelledby="emsSelectRegionModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            ×
                                        </button>
                                        <h4 class="modal-title">
                                            选择区域
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="ems-select-region">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                        <button type="button" class="btn btn-primary emsSelectBtn">
                                            确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- 快递 地区选择器-->
                        <div class="modal fade" id="ordinaryMailSelectRegionModal" tabindex="-1" role="dialog" aria-labelledby="ordinaryMailSelectRegionModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            ×
                                        </button>
                                        <h4 class="modal-title" >
                                            选择区域
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="ordinaryMail-select-region">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                        <button type="button" class="btn btn-primary ordinaryMailSelectBtn">
                                            确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="pcaDiv">
</div>


<link rel="stylesheet" href="${basePath}/static/lib/areaPlugin/RegionalChoice.css">
<script src="${basePath}/static/lib/areaPlugin/RegionalChoice.js"></script>


<script type="text/javascript" src="${basePath}/static/js/seller/freightTemplate/add.js"></script>



<#include "/footer.html"/>

</body></html>


