<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.admin.auth.mapper.AdminRoleMapper">

    <resultMap id="adminRoleMap" type="com.toucan.shopping.admin.auth.entity.AdminRole" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        
    </resultMap>


    <select id="findListByEntity" resultMap="adminRoleMap" parameterType="com.toucan.shopping.admin.auth.entity.AdminRole">
        select * from t_sa_admin_role t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>
            <if test="adminId!=null">
                and t.admin_id = #{adminId}
            </if>
            <if test="roleId!=null">
                and t.role_id = #{roleId}
            </if>
            and t.delete_status =0
        </where>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.admin.auth.entity.AdminRole" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_admin_role(admin_id,role_id,app_code,create_date,delete_status,create_admin_id)
        values(#{adminId},#{roleId},#{appCode},#{createDate},#{deleteStatus},#{createAdminId})
    </insert>


    <update id="deleteByRoleId" parameterType="java.lang.Long">
        update t_sa_admin_role set delete_status=1  where role_id = #{roleId}
    </update>

</mapper>