<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.admin.auth.mapper.AppMapper">

    <resultMap id="appMap" type="com.toucan.shopping.admin.auth.entity.App" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        
    </resultMap>


    <select id="findListByEntity" resultMap="appMap" parameterType="com.toucan.shopping.admin.auth.entity.App">
        select * from t_app ba
        <where>
            1=1
            <if test="id!=null">
                and ba.id = #{id}
            </if>
            <if test="name!=null">
                and ba.name = #{name}
            </if>
            <if test="code!=null and code!=''">
                and ba.code = #{code}
            </if>
            <if test="enableStatus!=null">
                and ba.enable_status = #{enableStatus}
            </if>
            and ba.delete_status = 0
        </where>

    </select>


    <select id="queryListPage" resultMap="appMap" parameterType="com.toucan.shopping.admin.auth.page.AppPageInfo">
        select ba.* from t_app ba
        <where>
            1=1
            <if test="name!=null and name!=''">
                and ba.name like concat('%',#{name},'%')
            </if>
            <if test="code!=null and code!=''">
                and ba.code like concat('%',#{code},'%')
            </if>
            <if test="enableStatus!=null">
                and ba.enable_status = #{enableStatus}
            </if>
            <if test="deleteStatus!=null">
                and ba.delete_status = #{deleteStatus}
            </if>
            and ba.delete_status = 0
        </where>

    </select>

    <insert id="insert" parameterType="com.toucan.shopping.admin.auth.entity.App" useGeneratedKeys="true" keyProperty="id" >
        insert into t_app(name,remark,code,create_admin_id,enable_status,create_date,delete_status)
        values(#{name},#{remark},#{code},#{createAdminId},#{enableStatus},#{createDate},#{deleteStatus})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.admin.auth.entity.App">
        update t_app set  name=#{name},code=#{code},update_date=#{updateDate},
         update_admin_id=#{updateAdminId},enable_status=#{enableStatus},
         remark=#{remark}
          where id = #{id}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update t_app set delete_status=1 where id = #{id}
    </update>

</mapper>