<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>完善信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body { background-color: #ffffff; }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="adminId" th:value="${adminId}">
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" name="nickName" maxlength="50" placeholder="请输入昵称" class="layui-input" th:value="${model.nickName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="realName" lay-verify="required" maxlength="50" lay-reqtext="真实姓名不能为空" placeholder="请输入真实姓名" class="layui-input" th:value="${model.realName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="phone" maxlength="20" placeholder="请输入手机号" class="layui-input" th:value="${model.phone}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" maxlength="100" placeholder="请输入邮箱" class="layui-input" th:value="${model.email}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <select name="gender">
                <option value="1" th:attr="selected=${model.gender == 1}">男</option>
                <option value="0" th:attr="selected=${model.gender == 0}">女</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
            <input type="text" name="idCard" maxlength="18" placeholder="请输入身份证号" class="layui-input" th:value="${model.idCard}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出生日期</label>
        <div class="layui-input-block">
            <input type="text" name="birthday" id="birthday" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input" th:value="${model.birthday != null ? #dates.format(model.birthday,'yyyy-MM-dd HH:mm:ss') : ''}">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <textarea name="address" class="layui-textarea" maxlength="255" placeholder="请输入地址" th:text="${model.address}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            $ = layui.$;

        laydate.render({
            elem: '#birthday',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        });

        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:"[[@{/}]]adminInfo/saveOrUpdate",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code <= 0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);
                    });
                }
            });
            return false;
        });

    });
</script>
</body>
</html>
