<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.user.mapper.UserDetailMapper">

    <resultMap id="userDetailMap" type="com.toucan.shopping.user.entity.UserDetail" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="true_name" jdbcType="VARCHAR" property="trueName" />
        <result column="head_sculpture" jdbcType="VARCHAR" property="headSculpture" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>


    <select id="findListByEntity" resultMap="userDetailMap" parameterType="com.toucan.shopping.user.entity.UserDetail">
        select * from t_user_detail bu
        <where>
            1=1
            <if test="id!=null">
                and bu.id = #{id}
            </if>
            and bu.delete_status = 0
        </where>

    </select>




    <select id="queryListByUserId" resultMap="userDetailMap" >
        select tud.* from t_user_detail tud
        <where>
            1=1 and tud.delete_status = 0

            <if test="array!=null  ">
                and tud.user_main_id in
                <foreach item="item" index="index" collection="array" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>

        order by tud.id desc
    </select>

    <select id="findById" resultMap="userDetailMap" parameterType="java.lang.Long">
        select * from t_user_detail bu where 1=1 and bu.id = #{id} and bu.delete_status = 0
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.user.entity.UserDetail" keyProperty="id" >
        insert into t_user_detail(id,user_main_id,nick_name,true_name,head_sculpture,id_card,sex,type,create_date,delete_status)
        values(#{id},#{userMainId},#{nickName},#{trueName},#{headSculpture},#{idCard},#{sex},#{type},#{createDate},#{deleteStatus})
    </insert>



    <insert id="update" parameterType="com.toucan.shopping.user.entity.UserDetail" keyProperty="id" >
        update t_user_detail set nick_name=#{nickName} , head_sculpture=#{headSculpture} , sex=#{sex} where user_main_id=#{userMainId} and delete_status = 0
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update t_user_detail set delete_status=1 where id =#{id}
    </update>
</mapper>