<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.user.mapper.UserUserNameMapper">

    <resultMap id="userUserNameMap" type="com.toucan.shopping.user.entity.UserUserName" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>


    <select id="findListByEntity" resultMap="userUserNameMap" parameterType="com.toucan.shopping.user.entity.UserUserName">
        select * from t_user_username bu
        <where>
            1=1
            <if test="id!=null">
                and bu.id = #{id}
            </if>
            <if test="username!=null and username!='' ">
                and bu.username = #{username}
            </if>
            <if test="userMainId!=null  ">
                and bu.user_main_id = #{userMainId}
            </if>
                and bu.delete_status = 0
        </where>

    </select>




    <select id="queryListByUserId" resultMap="userUserNameMap" >
        select tuu.* from t_user_username tuu
        <where>
            1=1 and tuu.delete_status = 0

            <if test="array!=null  ">
                and tuu.user_main_id in
                <foreach item="item" index="index" collection="array" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>

        order by tuu.id desc
    </select>



    <insert id="insert" parameterType="com.toucan.shopping.user.entity.UserUserName" keyProperty="id" >
        insert into t_user_username(id,username,userMainId,create_date,delete_status)
        values(#{id},#{username},#{user_main_id},#{createDate},#{deleteStatus})
    </insert>

</mapper>