<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.AdminMapper">

    <resultMap id="adminMap" type="com.toucan.shopping.modules.admin.auth.entity.Admin" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        
    </resultMap>



    <resultMap id="adminVOMap" type="com.toucan.shopping.modules.admin.auth.vo.AdminVO" extends="adminMap" >
        <result column="appNames" jdbcType="VARCHAR" property="appNames" />
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="username!=null and username!='' ">
            and tu.username  like concat('%',#{username},'%')

        </if>
        <if test="idArray!=null ">
            and tu.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="enableStatus!=null">
            and tu.enable_status = #{enableStatus}
        </if>
    </sql>


    <select id="findListByEntity" resultMap="adminMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.Admin">
        select * from t_sa_admin saa
        <where>
            1=1
            <if test="ids!=null ">
                and saa.id in
                <foreach item="item" index="index" collection="ids" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="id!=null">
                and saa.id = #{id}
            </if>
            <if test="username!=null">
                and saa.username = #{username}
            </if>
            <if test="adminId!=null and adminId!=''">
                and saa.admin_id = #{adminId}
            </if>
            <if test="enableStatus!=null">
                and saa.enable_status = #{enableStatus}
            </if>
                and saa.delete_status = 0
        </where>

    </select>



    <select id="queryListPage" resultMap="adminVOMap" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminPageInfo">
        select tu.* from (
            select tsa.*,ds2.appNames from t_sa_admin tsa left join (
                select ds.admin_id,group_concat(ds.appName) as appNames from (
                    select tu.*,ta.name as appName from t_sa_admin tu
                    left join t_sa_admin_app tsaa on tu.admin_id = tsaa.admin_id and tsaa.delete_status=0
                    left join t_app ta on tsaa.app_code = ta.code and ta.delete_status = 0
                    where tu.delete_status = 0

                    <if test="appCode!=null and appCode!='' ">
                        and ta.code = #{appCode}
                    </if>

                )ds
                group by ds.admin_id
            )ds2 on tsa.admin_id = ds2.admin_id
        )tu
        <where>
            1=1 and tu.delete_status = 0 and tu.appNames is not null
            <include refid="queryListPageWhere" />
        </where>
        order by tu.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminPageInfo">
        select count(*) from (
            select tsa.*,ds2.appNames from t_sa_admin tsa left join (
                    select ds.admin_id,group_concat(ds.appName) as appNames from (
                        select tu.*,ta.name as appName from t_sa_admin tu
                        left join t_sa_admin_app tsaa on tu.admin_id = tsaa.admin_id and tsaa.delete_status=0
                        left join t_app ta on tsaa.app_code = ta.code and ta.delete_status = 0
                        where tu.delete_status = 0

                        <if test="appCode!=null and appCode!='' ">
                            and ta.code = #{appCode}
                        </if>

                  )ds
                group by ds.admin_id
            )ds2 on tsa.admin_id = ds2.admin_id
        )tu
        <where>
            1=1 and tu.delete_status = 0  and tu.appNames is not null

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.Admin" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_admin(id,username,password,admin_id,enable_status,create_date,delete_status,create_admin_id,remark)
        values(#{id},#{username},#{password},#{adminId},#{enableStatus},#{createDate},#{deleteStatus},#{createAdminId},#{remark})
    </insert>




    <update id="update" parameterType="com.toucan.shopping.modules.admin.auth.entity.Admin">
        update t_sa_admin set  username=#{username},update_date=#{updateDate},
         update_admin_id=#{updateAdminId},enable_status=#{enableStatus},
         remark=#{remark}
          where admin_id = #{adminId}
    </update>

    <update id="updatePassword" parameterType="com.toucan.shopping.modules.admin.auth.vo.AdminVO">
        update t_sa_admin set  password=#{password},update_date=#{updateDate},update_admin_id=#{updateAdminId}
          where admin_id = #{adminId} and delete_status=0
    </update>


    <update id="deleteById" parameterType="java.lang.Long">
        update t_sa_admin set delete_status=1 where id = #{id}
    </update>


</mapper>