<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.AdminAppMapper">

    <resultMap id="adminAppMap" type="com.toucan.shopping.modules.admin.auth.entity.AdminApp" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="login_status" jdbcType="INTEGER" property="loginStatus" />

    </resultMap>

    <resultMap id="adminAppVOMap" type="com.toucan.shopping.modules.admin.auth.vo.AdminAppVO" extends="adminAppMap" >
        <result column="name" jdbcType="VARCHAR" property="name" />

    </resultMap>


    <sql id="queryColumns">
        saa.id,
        saa.admin_id,
        saa.app_code,
        saa.create_date,
        saa.delete_status,
        saa.create_admin_id,
        saa.login_status
    </sql>



    <sql id="queryListPageWhere">


        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="adminId!=null and adminId!=''">
            and t.admin_id = #{adminId}
        </if>

        <if test="appCode!=null and appCode!=''">
            and t.app_code = #{appCode}
        </if>

        <if test="loginStatus!=null and loginStatus!=-1">
            and t.login_status = #{loginStatus}
        </if>

        and t.delete_status = 0

    </sql>



    <select id="findListByEntity" resultMap="adminAppMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.AdminApp">
        select * from t_sa_admin_app saa
        <where>
            1=1
            <if test="id!=null">
                and saa.id = #{id}
            </if>
            <if test="adminId!=null">
                and saa.admin_id = #{adminId}
            </if>
            <if test="appCode!=null and appCode!=''">
                and saa.app_code = #{appCode}
            </if>
            and saa.delete_status =0
        </where>

    </select>


    <select id="findAppListByAdminAppEntity" resultMap="adminAppVOMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.AdminApp">
        select ta.name, <include refid="queryColumns" /> from t_app ta left join t_sa_admin_app saa on ta.code = saa.app_code
           where 1=1 and saa.delete_status =0 and ta.delete_status = 0 and ta.enable_status=1
            <if test="adminId!=null">
                and saa.admin_id = #{adminId}
            </if>
            <if test="appCode!=null and appCode!=''">
                and saa.app_code = #{appCode}
            </if>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.AdminApp" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_admin_app(admin_id,app_code,create_date,delete_status,create_admin_id)
        values(#{adminId},#{appCode},#{createDate},#{deleteStatus},#{createAdminId})
    </insert>


    <update id="deleteByAppCode" parameterType="java.lang.String">
        update t_sa_admin_app set delete_status=1 where app_code = #{appCode} and delete_status=0
    </update>


    <update id="deleteByAdminId" parameterType="java.lang.String">
        update t_sa_admin_app set delete_status=1 where admin_id = #{adminId} and delete_status=0
    </update>


    <update id="deleteByAdminIdAndAppCode" >
        update t_sa_admin_app set delete_status=1 where admin_id = #{adminId} and app_code = #{appCode} and delete_status=0
    </update>

    <update id="updateLoginStatus">
        update t_sa_admin_app set login_status=#{loginStatus} where admin_id = #{adminId} and app_code = #{appCode} and delete_status=0
    </update>


    <select id="queryListPage" resultMap="adminAppVOMap" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminAppPageInfo">
        select <include refid="queryColumns" /> from t_sa_admin_app t
        <where>
            1=1
            <include refid="queryListPageWhere" />
        </where>
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminPageInfo">
        select count(*) from t_sa_admin_app t
        <where>
            1=1
            <include refid="queryListPageWhere" />
        </where>

    </select>



    <select id="queryLoginListPage" resultMap="adminAppVOMap" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminAppPageInfo">
        SELECT t.admin_id,GROUP_CONCAT(t.app_code),t.login_status  from t_sa_admin_app t
        <where>
            1=1
            <include refid="queryListPageWhere" />
        </where>
        GROUP BY t.admin_id
        limit #{start},#{limit}
    </select>


    <select id="queryLoginListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.admin.auth.page.AdminPageInfo">
        select count(*) from (
            SELECT t.admin_id,GROUP_CONCAT(t.app_code),t.login_status  from t_sa_admin_app t
            <where>
                1=1
                <include refid="queryListPageWhere" />
            </where>
            GROUP BY t.admin_id
        )ds

    </select>

</mapper>