<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.AdminOrgnazitionMapper">

    <resultMap id="adminOrgnazitionMap" type="com.toucan.shopping.modules.admin.auth.entity.AdminOrgnazition" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
        <result column="orgnazition_id" jdbcType="VARCHAR" property="orgnazitionId" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>

    <resultMap id="adminOrgnazitionVOMap" type="com.toucan.shopping.modules.admin.auth.vo.AdminOrgnazitionVO" extends="adminOrgnazitionMap" >

    </resultMap>

    <select id="findListByEntity" resultMap="adminOrgnazitionMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.AdminOrgnazition">
        select * from t_sa_admin_orgnazition saa
        <where>
            1=1
            <if test="id!=null">
                and saa.id = #{id}
            </if>
            <if test="adminId!=null">
                and saa.admin_id = #{adminId}
            </if>
            <if test="orgnazitionId!=null">
                and saa.orgnazition_id = #{orgnazitionId}
            </if>
            <if test="appCode!=null and appCode!=''">
                and saa.app_code = #{appCode}
            </if>
            and saa.delete_status =0
        </where>

    </select>




    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.AdminOrgnazition" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_admin_orgnazition(admin_id,orgnazition_id,app_code,create_date,delete_status,create_admin_id)
        values(#{adminId},#{orgnazitionId},#{appCode},#{createDate},#{deleteStatus},#{createAdminId})
    </insert>


    <insert id="inserts"  useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_admin_orgnazition(admin_id,orgnazition_id,app_code,create_date,delete_status,create_admin_id)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.adminId},#{entity.orgnazitionId},#{entity.appCode},#{entity.createDate},#{entity.deleteStatus},#{entity.createAdminId})
        </foreach>

    </insert>


    <update id="deleteByAppCode" parameterType="java.lang.String">
        update t_sa_admin_orgnazition set delete_status=1 where app_code = #{appCode} and delete_status=0
    </update>


    <update id="deleteByOrgnazitionId" parameterType="java.lang.String">
        update t_sa_admin_orgnazition set delete_status=1  where orgnazitionId = #{orgnazition_id} and delete_status=0
    </update>


    <update id="deleteByAdminId" parameterType="java.lang.String">
        update t_sa_admin_orgnazition set delete_status=1 where admin_id = #{adminId} and delete_status=0
    </update>


    <update id="deleteByAdminIdAndAppCode" >
        update t_sa_admin_orgnazition set delete_status=1 where admin_id = #{adminId} and app_code = #{appCode} and delete_status=0
    </update>


    <update id="deleteByAdminIdAndAppCodes" >
        update t_sa_admin_orgnazition set delete_status=1  where 1=1
        and admin_id = #{adminId} and delete_status=0
        and app_code in
        <foreach item="item" index="index" collection="appCodes" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>