<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.DictCategoryMapper">

    <resultMap id="dictCategoryMap" type="com.toucan.shopping.modules.admin.auth.entity.DictCategory" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="dict_category_sort" jdbcType="BIGINT" property="dictCategorySort" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        
    </resultMap>

    <resultMap id="dictCategoryVOMap" type="com.toucan.shopping.modules.admin.auth.vo.DictCategoryVO" extends="dictCategoryMap">
        <result column="create_admin_username" jdbcType="VARCHAR" property="createAdminUsername" />
        <result column="update_admin_username" jdbcType="VARCHAR" property="updateAdminUsername" />
        <result column="appNames" jdbcType="VARCHAR" property="appNames" />
    </resultMap>


    <sql id="queryListPageWhere">

        <if test="name!=null and name!=''">
            and t.name like concat(#{name},'%')
        </if>

        <if test="code!=null and code!=''">
            and t.code like concat(#{code},'%')
        </if>

        <if test="enableStatus!=null and enableStatus!=-1">
            and t.enable_status = #{enableStatus}
        </if>

        <if test="appCode!=null and appCode!='' ">
            and t.app_code = #{appCode}
        </if>
    </sql>



    <sql id="findListByVO">

        <if test="code!=null and code!=''">
            and t.code =#{code}
        </if>

        <if test="enableStatus!=null and enableStatus!=-1">
            and t.enable_status = #{enableStatus}
        </if>

        <if test="appCodes!=null and appCodes.size>0">
            and t.app_code in
                <foreach item="item" index="index" collection="appCodes" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        </if>

    </sql>

    <select id="findListByEntity" resultMap="dictCategoryVOMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.DictCategory">
        select * from t_sa_dict_category t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and t.name = #{name}
            </if>
            <if test="code!=null and code!=''">
                and t.code = #{code}
            </if>
            <if test="appCode!=null and appCode!=''">
                and t.app_code = #{appCode}
            </if>
            and t.delete_status = 0
        </where>

    </select>



    <select id="findListByVO" resultMap="dictCategoryVOMap" parameterType="com.toucan.shopping.modules.admin.auth.vo.DictCategoryVO">
        select * from t_sa_dict_category t
        <where>
            1=1
            <include refid="findListByVO" />
            and t.delete_status = 0
        </where>

    </select>


    <select id="queryListPage" resultMap="dictCategoryVOMap" parameterType="com.toucan.shopping.modules.admin.auth.page.DictCategoryPageInfo">
        SELECT t.* FROM t_sa_dict_category t
        <where>
            1=1
            <include refid="queryListPageWhere" />

            and t.delete_status = 0
        </where>
        order by t.create_date desc
        limit #{start},#{limit}
    </select>

    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.admin.auth.page.DictCategoryPageInfo">
        SELECT count(*) FROM t_sa_dict_category t
        <where>
            1=1
            <include refid="queryListPageWhere" />

            and t.delete_status = 0
        </where>
    </select>




    <select id="findById" resultMap="dictCategoryVOMap" parameterType="java.lang.Long">
        select * from t_sa_dict_category t where  1=1 and t.id = #{id} and t.delete_status = 0
    </select>



    <select id="findByIdAndAppCode" resultMap="dictCategoryVOMap" >
         select t.* from t_sa_dict_category t
            where  1=1 and t.id = #{id} and t.delete_status = 0 and t.app_code=#{appCode}

    </select>

    <select id="queryListByAppCode" resultMap="dictCategoryVOMap" parameterType="java.lang.String">
        select * from t_sa_dict_category t
         where  1=1  and t.app_code = #{appCode} and  t.delete_status = 0
    </select>

    <select id="queryAll" resultMap="dictCategoryVOMap" parameterType="java.lang.String">
        select * from t_sa_dict_category t where  1=1  and t.delete_status = 0
    </select>

    <select id="queryListByAppCodeArray" resultMap="dictCategoryVOMap" >
        select * from t_sa_dict_category t
         where  1=1  and t.delete_status = 0
          and t.app_code in
            <foreach item="item" index="index" collection="appCodes" open="("  close=")" separator=",">
                #{item}
            </foreach>
    </select>



    <select id="findListByPid" resultMap="dictCategoryVOMap" parameterType="java.lang.Long">
        select * from t_sa_dict_category t where  1=1 and t.pid = #{pid} and t.delete_status = 0
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.DictCategory" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_dict_category(name,code,app_code,dict_category_sort,remark,enable_status,create_admin_id,create_date,delete_status)
        values(#{name},#{code},#{appCode},#{dictCategorySort},#{remark},#{enableStatus},#{createAdminId},#{createDate},#{deleteStatus})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.admin.auth.entity.DictCategory">
        update t_sa_dict_category set  name=#{name},code=#{code},app_code=#{appCode},dict_category_sort=#{dictCategorySort},enable_status=#{enableStatus},
        update_date=#{updateDate},update_admin_id=#{updateAdminId},remark=#{remark}
          where id = #{id}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update t_sa_dict_category set delete_status=1 where id = #{id}
    </update>


    <select id="queryMaxSort" resultType="java.lang.Integer" >
        select max(t.dict_category_sort) from t_sa_dict_category t where  1=1 and t.delete_status = 0
    </select>

</mapper>