<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.DictAppMapper">

    <resultMap id="dictAppMap" type="com.toucan.shopping.modules.admin.auth.entity.DictApp" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="dict_id" jdbcType="BIGINT" property="dictId" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>

    <resultMap id="dictAppVOMap" type="com.toucan.shopping.modules.admin.auth.vo.DictAppVO" extends="dictAppMap" >

    </resultMap>

    <select id="findListByEntity" resultMap="dictAppMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.DictApp">
        select * from t_sa_dict_app t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>
            <if test="dictId!=null">
                and t.dict_id = #{dictId}
            </if>
            <if test="appCode!=null and appCode!=''">
                and t.app_code = #{appCode}
            </if>
            and t.delete_status =0
        </where>

    </select>




    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.DictApp"  keyProperty="id" >
        insert into t_sa_dict_app(id,dict_id,app_code,create_date,delete_status,create_admin_id)
        values(#{id},#{dictId},#{appCode},#{createDate},#{deleteStatus},#{createAdminId})
    </insert>

    <insert id="inserts"  keyProperty="id" >
        insert into t_sa_dict_app(id,dict_id,app_code,create_date,delete_status,create_admin_id)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.dictId},#{entity.appCode},#{entity.createDate},#{entity.deleteStatus},#{entity.createAdminId})
        </foreach>

    </insert>

    <update id="deleteByAppCode" parameterType="java.lang.String">
        update t_sa_dict_app set delete_status=1 where app_code = #{appCode} and delete_status=0
    </update>


    <update id="deleteByDictId" parameterType="java.lang.Long">
        update t_sa_dict_app set delete_status=1 where dict_id = #{dictId} and delete_status=0
    </update>

    <update id="deleteByCategoryId" parameterType="java.lang.Integer">
        update t_sa_dict_app set delete_status=1 where delete_status=0 and dict_id in (
          select dict_id from t_sa_dict where category_id = #{categoryId} and delete_status=0
        )
    </update>

    <update id="deleteByDictIdList" parameterType="java.util.List">
        update t_sa_dict_app set delete_status=1 where delete_status=0
        and dict_id in
        <foreach item="item" index="index" collection="ids" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </update>



    <update id="deleteByCategoryIdAndAppCode" >
        update t_sa_dict_app set delete_status=1 where delete_status=0 and dict_id in (
          select dict_id from t_sa_dict where category_id = #{categoryId} and delete_status=0
        ) and app_code=#{appCode}
    </update>
</mapper>