<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.admin.auth.mapper.FunctionMapper">

    <resultMap id="functionMap" type="com.toucan.shopping.modules.admin.auth.entity.Function" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="function_id" jdbcType="VARCHAR" property="functionId" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="function_text" jdbcType="VARCHAR" property="functionText" />
        <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        
    </resultMap>

    <resultMap id="functionVOMap" type="com.toucan.shopping.modules.admin.auth.vo.FunctionVO" extends="functionMap">
        <result column="create_admin_username" jdbcType="VARCHAR" property="createAdminUsername" />
        <result column="update_admin_username" jdbcType="VARCHAR" property="updateAdminUsername" />
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="name!=null and name!=''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="enableStatus!=null">
            and t.enable_status = #{enableStatus}
        </if>
    </sql>

    <select id="findListByEntity" resultMap="functionMap" parameterType="com.toucan.shopping.modules.admin.auth.entity.Function">
        select * from t_sa_function t
        <where>
            1=1
            <if test="id!=null">
                and t.id = #{id}
            </if>
            <if test="pid!=null">
                and t.pid = #{pid}
            </if>
            <if test="url!=null and url!='' ">
                and t.url = #{url}
            </if>
            <if test="name!=null and name!=''">
                and t.name = #{name}
            </if>
            <if test="appCode!=null and appCode!=''">
                and t.app_code = #{appCode}
            </if>
            <if test="enableStatus!=null">
                and t.enable_status = #{enableStatus}
            </if>
            and t.delete_status = 0
        </where>

    </select>



    <select id="findTreeTableByPageInfo" resultMap="functionVOMap" parameterType="com.toucan.shopping.modules.admin.auth.page.FunctionTreeInfo">
        select *,tsa.username as create_admin_username,tsau.username as update_admin_username from t_sa_function t
            left join t_sa_admin tsa on t.create_admin_id = tsa.admin_id
            left join t_sa_admin tsau on t.update_admin_id = tsau.admin_id
        <where>
            1=1
            <if test="name!=null and name!=''">
                and t.name  like concat('%',#{name},'%')
            </if>
            <if test="appCode!=null and appCode!=''">
                and t.app_code = #{appCode}
            </if>
            and t.delete_status = 0
        </where>

    </select>


    <select id="queryListPage" resultMap="functionMap" parameterType="com.toucan.shopping.modules.admin.auth.page.FunctionTreeInfo">
        select t.* from t_sa_function t
        <where>
            1=1

            <include refid="queryListPageWhere" />

            and t.delete_status = 0
        </where>
        order by t.create_date desc
        limit #{start},#{limit}
    </select>

    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.admin.auth.page.FunctionTreeInfo">
        select count(*) from t_sa_function t
        <where>
            1=1

            <include refid="queryListPageWhere" />

            and t.delete_status = 0
        </where>
    </select>




    <select id="findById" resultMap="functionVOMap" parameterType="java.lang.Long">
        select * from t_sa_function t where  1=1 and t.id = #{id} and t.delete_status = 0
    </select>



    <select id="queryListByAppCode" resultMap="functionVOMap" parameterType="java.lang.String">
        select * from t_sa_function t where  1=1 and t.app_code = #{appCode} and t.delete_status = 0
    </select>



    <select id="findListByPid" resultMap="functionVOMap" parameterType="java.lang.Long">
        select * from t_sa_function t where  1=1 and t.pid = #{pid} and t.delete_status = 0
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.admin.auth.entity.Function" useGeneratedKeys="true" keyProperty="id" >
        insert into t_sa_function(pid,function_text,type,name,icon,url,permission,function_id,function_sort,remark,app_code,create_admin_id,enable_status,create_date,delete_status)
        values(#{pid},#{functionText},#{type},#{name},#{icon},#{url},#{permission},#{functionId},#{functionSort},#{remark},#{appCode},#{createAdminId},#{enableStatus},#{createDate},#{deleteStatus})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.admin.auth.entity.Function">
        update t_sa_function set  name=#{name},type=#{type},pid=#{pid},icon=#{icon},url=#{url},permission=#{permission},
         function_sort=#{functionSort},app_code=#{appCode},update_date=#{updateDate},function_text=#{functionText},
         update_admin_id=#{updateAdminId},enable_status=#{enableStatus},
         remark=#{remark}
          where id = #{id}
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        update t_sa_function set delete_status=1 where id = #{id}
    </update>



    <select id="queryListByAdminIdAndAppCode" resultMap="functionVOMap" >
        select tsf.* from t_sa_role_function tsrf
            left join t_sa_role tsr on tsrf.role_id = tsr.role_id and tsr.delete_status=0 and tsr.enable_status=1
            left join t_sa_function tsf  on tsf.function_id = tsrf.function_id  and tsf.delete_status=0 and tsf.enable_status=1
            left join t_sa_admin_role tsar on tsar.role_id = tsrf.function_id and tsar.delete_status=0
            left join t_sa_admin_app tsap on tsap.admin_id = tsar.admin_id and tsrf.delete_status=0   and tsap.admin_id=#{adminId}  and tsap.app_code=#{appCode}
            where 1=1
    </select>

</mapper>