<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/tableFreeze/tableFreeze.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
    <link rel="stylesheet" href="${basePath}/static/css/order/orderShow.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/tabs/tabs-basic.css" />
    <script type="text/javascript" src="${basePath}/static/lib/layer/layer.js"></script>
</head>
<body>

<#include "/top.html"/>

<#assign leftName = "orderList">
<#assign menuType = "deliveryMenu">

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/order/index">订单列表</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">查看模板</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">

        <input type="hidden" id="id" value="${id!''}" />

        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">

                <div class="title" style="border-bottom: 1px solid#9a9999;">
                    <span>查看订单</span>
                    <a id="backBtn" style="cursor:pointer;font-size:15px;">返回列表</a>
                </div>
                <div class="right_panel" style="min-height: 900px;">
                        <div class="tabs-basic" >
                            <ul>
                                <li>
                                    <a data-index="0" href="#" class="tab-active" >订单信息</a>
                                </li>
                                <li>
                                    <a data-index="1" href="#" class="">物流信息</a>
                                </li>
                            </ul>

                            <div class="tabs-content-placeholder" style="min-height: 700px;">

                                <div class="tab-content-active tabs-content-placeholder-div">
                                    <form id="scaf" method="post" class="bootstrap-frm" onsubmit="return false;" style="max-width: 100%;"  >

                                        <div class="frm-div-row" style="width:90%;">
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;">
                                                <label class="order-detail-item-text" for="orderNo" >订单编号 :</label>
                                                <input type="text" id="orderNo"  tabindex="1"  style="margin:0" />
                                            </div>
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;">
                                                <label class="order-detail-item-text" for="orderAmount" >订单金额 :</label>
                                                <input type="text" id="orderAmount"  tabindex="2"  style="margin:0"  />
                                            </div>
                                        </div>

                                        <div class="frm-div-row" style="width:90%;margin-top:2%;">
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;">
                                                <label class="order-detail-item-text" for="payAmount" >付款金额 :</label>
                                                <input type="text" id="payAmount"  tabindex="1"  style="margin:0" />
                                            </div>
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;" >
                                                <label class="order-detail-item-text"  style="display: inline-block;" >订单状态 :</label>
                                                <div id="tradeStatus" style="display: inline-block;padding:0;" ></div>
                                            </div>
                                        </div>

                                        <div class="frm-div-row" style="width:90%;margin-top:2%;">
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;">
                                                <label class="order-detail-item-text"  style="display: inline-block;" >支付状态 :</label>
                                                <div id="payStatus" style="display: inline-block;padding:0;" ></div>
                                            </div>
                                            <div class="frm-div-row" style="width:40%;display: inline-block;text-align: left;" >
                                                <label class="order-detail-item-text"  style="display: inline-block;" >支付方式 :</label>
                                                <div id="payMethod" style="display: inline-block;padding:0;" ></div>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                                <div class="tabs-content-placeholder-div">
                                    111111
                                </div>

                            </div>

                        </div>



                </div>
            </div>
        </div>

    </div>
</div>


<div id="pcaDiv">
</div>


<link rel="stylesheet" href="${basePath}/static/lib/areaPlugin/RegionalChoice.css">
<script src="${basePath}/static/lib/areaPlugin/RegionalChoice.js"></script>


<script type="text/javascript" src="${basePath}/static/js/seller/order/show.js"></script>



<#include "/footer.html"/>

</body></html>


