<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" th:value="${model.id}" />
    <input type="hidden" name="publicShopId" th:value="${model.publicShopId}" />
    <input type="hidden" name="provinceCode" th:value="${model.provinceCode}" />
    <input type="hidden" name="cityCode" th:value="${model.cityCode}" />
    <input type="hidden" name="areaCode" th:value="${model.areaCode}" />
    <input type="hidden" id="provinceName" th:value="${model.province}" />
    <input type="hidden" id="cityName" th:value="${model.city}" />
    <input type="hidden" id="areaName" th:value="${model.area}" />


    <div class="layui-form-item" >
        <label class="layui-form-label required" >店铺名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name"  th:value="${model.name}"  lay-verify="required" maxlength="15" lay-reqtext="名称不能为空" placeholder="请输入店铺名称" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label required" >改名次数</label>
        <div class="layui-input-block">
            <input type="text" name="changeNameCount" id="changeNameCount"  th:value="${model.changeNameCount}"  lay-verify="required" maxlength="6" lay-reqtext="改名次数"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required" >排名权重</label>
        <div class="layui-input-block">
            <input type="text" name="rank" id="rank"  th:value="${model.rank}"  lay-verify="required" maxlength="6" lay-reqtext="排名权重"  value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="uploadlogo">
                <i class="layui-icon">&#xe67c;</i>上传图标
            </button>
        </div>
        <input type="hidden" id="logo" name="logo"  th:value="${model.logo}">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标正面预览</label>
        <div class="layui-input-block">
            <img th:src="${model.httpLogo}" id="previewLogo" th:width="240" th:height="220">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">介绍</label>
        <div class="layui-input-block">
            <textarea name="introduce" class="layui-textarea" maxlength="500" th:text="${model.introduce}" placeholder="请填写介绍"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">店铺状态</label>
        <div class="layui-input-block" th:if="${model.enableStatus eq 1}">
            <select name="enableStatus" lay-verify="required" lay-search="">
                <option value="1" selected>启用</option>
                <option value="0">禁用</option>
            </select>
        </div>
        <div class="layui-input-block" th:if="${model.enableStatus eq 0}">
            <select name="enableStatus" lay-verify="required" lay-search="">
                <option value="1" >启用</option>
                <option value="0" selected>禁用</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">店铺类型</label>
        <div class="layui-input-block" th:if="${model.type eq 1}">
            <select name="type" lay-verify="required" lay-search="">
                <option value="1" selected>个人</option>
                <option value="2">企业</option>
            </select>
        </div>
        <div class="layui-input-block" th:if="${model.type eq 2}">
            <select name="type" lay-verify="required" lay-search="">
                <option value="1" >个人</option>
                <option value="0" selected>企业</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea" maxlength="500" th:text="${model.remark}" placeholder="请填写备注"></textarea>
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required" >所属掌柜</label>
        <div class="layui-input-block">
            <input type="text" name="userMainId" id="userMainId"  th:value="${model.userMainId}"  lay-verify="required" maxlength="20" lay-reqtext="掌柜ID不能为空"  value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">联系地址</label>
        <div class="layui-input-block" >
            <select name="province" id="province" lay-verify="required" lay-search="">
                <option value="-1" selected>请选择</option>
            </select>
            <select name="city" id="city" lay-verify="required" lay-search="">
                <option value="-1" selected>请选择</option>
            </select>
            <select name="area" id="area" lay-verify="required" lay-search="">
                <option value="-1" selected>请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-block">
            <textarea name="detailAddress" class="layui-textarea" maxlength="200" th:text="${model.detailAddress}" placeholder="请填写详细地址"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/toucan-shopping/province-city-area.js}" charset="utf-8"></script>

<script>

    layui.use(['form','layer','upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var index;
        var upload = layui.upload;
        var publicShopId = $("#publicShopId").val();
        var loadding;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:"[[@{/seller/shop/update}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code==0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });

        var provinceCode=$("#provinceCode").val();
        var cityCode=$("#cityCode").val();
        var areaCode=$("#areaCode").val();
        initProvinceCityAreaControl("province",provinceCode,"city",cityCode,"area",areaCode);


        //执行实例
        var uploadlogo = upload.render({
            elem: '#uploadlogo' //绑定元素
            ,url: '/seller/shop/upload/logo' //上传接口
            ,data:{publicShopId:publicShopId}
            ,done: function(res){
                if(res.code==1)
                {
                    layer.msg(res.msg);
                }
                $("#previewlogo").attr("src",res.data.httpLogo);
                $("#logo").val(res.data.logo);
            }
            ,error: function(){
                layer.msg("上传异常");
            }
        });

    });
</script>
</body>
</html>