<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="designerPageModelSearchForm" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">店铺ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="shopId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">掌柜ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userMainId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                                <select id="type"  name="type"  lay-search="" >
                                    <option value="-1">全部</option>
                                    <option value="1">预览页</option>
                                    <option value="2">正式页</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">位置</label>
                            <div class="layui-input-inline">
                                <select id="position"  name="position"  lay-search="" >
                                    <option value="-1">全部</option>
                                    <option value="1">PC首页</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="data-reset-btn" ><i class="layui-icon"></i> 重 置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <span th:each="tb : ${toolbarButtons}" th:utext="${tb}"></span>

            </div>
        </script>

        <table class="layui-hide" id="designerPageModelTable" lay-filter="designerPageModelTableFilter"></table>

        <script type="text/html" id="designerPageModelTableBar">
            <span th:each="btn : ${rowButtons}" th:utext="${btn}"></span>
        </script>

    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script>
    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree' //定义该组件模块名
    }).use(['form', 'table','tree','dtree'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var tree = layui.tree;
        var loadding;
        var dtree = layui.dtree;
        var roleTree;
        var roleTreeDataArray = new Array();

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        function getFormParam()
        {
            var formParam = $("#designerPageModelSearchForm").serializeJson();
            return formParam;
        }

        table.render({
            elem: '#designerPageModelTable',
            url: "[[@{/}]]seller/designer/page/model/list",
            method:'POST',
            where:getFormParam(),
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            done:function(res, curr, count)
            {
            },
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'id',  width: 200, title: '主键'},
                    {field: 'shopId', width: 150, title: '店铺ID'},
                    {field: 'shopName', width: 150, title: '店铺名称'},
                    {field: 'userMainId',  width: 200, title: '掌柜ID'},
                    {field: 'position', width: 150, title: '位置',
                        templet: function (row) {
                            if(row.position == "1"){
                                return "PC首页"
                            }
                            return row.position;
                        }},
                    {field: 'type', width: 150, title: '类型',
                        templet: function (row) {
                            if(row.type == "1"){
                                return "预览页"
                            }else if(row.type == "2"){
                                return "正式页"
                            }
                            return row.type;
                    }},
                    {field: 'enableStatus', width: 100, title: '状态',
                        templet: function (row) {
                            if(row.enableStatus == "1"){
                                return "启用"
                            }else if(row.enableStatus == "0"){
                                return "停用"
                            }
                            return row.enableStatus;
                        }},
                    {field: 'designerVersion', width: 200, title: '设计器版本'},
                    {field: 'createDate', width: 200, title: '创建时间'},
                    {title: '操作', minWidth: 300, toolbar: '#designerPageModelTableBar', align: "center"}
                ]
            ],
            limits: [15,30,100,200],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('designerPageModelTable', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');

            return false;
        });


        $("#data-reset-btn").click(function(){
            $("#designerPageModelSearchForm")[0].reset();
            layui.form.render();
        });

        function reloadTable(data)
        {
            //执行搜索重载
            table.reload('designerPageModelTable', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');
        }



        table.on('tool(designerPageModelTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                var typeName="";
                var positionName="";
                if(data.type=="1")
                {
                    typeName="预览页";
                }else if(data.type=="2"){
                    typeName="正式页";
                }
                if(data.position=="1")
                {
                    positionName="PC首页";
                }

                layer.confirm("确定删除店铺“"+data.shopName+"”的"+positionName+""+typeName+"?", function (index) {
                    $.ajax({
                        url:"[[@{/}]]seller/designer/page/model/delete/"+data.id,
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            reloadTable(data);
                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }else if(obj.event === 'pcIndexPreviewPage'){
                window.open(data.pcIndexPreviewPage);
            }
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(designerPageModelTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {  // 监听删除操作
            }
        });

        //监听表格复选框选择
        table.on('checkbox(designerPageModelTableFilter)', function (obj) {
            console.log(obj)
        });


    });
</script>

</body>
</html>