<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/info.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/formStyle.css" />
    <link rel="stylesheet" href="${basePath}/static/css/product/product_scroll.css">
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <#include "/common_js.html"/>
    <script type="text/javascript" src="${basePath}/static/js/n_navc.js"></script>



    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top_child.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>

</div>

<#include "/category_navigation.html">

<!------------main---------------->
<div class="main">

    <div class="current-position">
        <h2>
            <a href="${basePath}/page/user/info">账号管理</a>
            &gt;
            <a href="#">更换头像</a>
        </h2>
    </div>
    <div class="user-content">

        <div class="user-menu">
            <#include "/user/info_left.html"/>
        </div>

        <div class="user-right">
            <div  style="width:100%;">
                <br>
                <br>
                <br>
                <div style="width:100%;text-align:center">
                    <img src="${basePath}/static/images/edit_head_sculpture_submit_success.png" />
                </div>
                <div  style="width:100%;text-align:center">
                    <a style="font-size:25px;" target="_blank">提交成功</a>
                    <br>
                    <br>
                    <a style="font-size:15px;" target="_blank">我们将会在1~2个工作日内完成审核</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>


    <#include "/footer.html"/>

</body>

<link rel="stylesheet" href="${basePath}/static/css/common/toucan-form-validate.css" />
<script type="text/javascript" src="${basePath}/static/js/common/toucan-form-validate.js"></script>
<script type="text/javascript" src="${basePath}/static/shopping/web/js/user/truename.js"></script>
<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

    });


</script>


</html>
