<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/style.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/user/info/info.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/formStyle.css" />
    <link rel="stylesheet" href="${basePath}/static/css/product/product_scroll.css">
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <#include "/common_js.html"/>
    <script type="text/javascript" src="${basePath}/static/js/n_navc.js"></script>



    <#include "/title.html"/>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top_child.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>

</div>

<#include "/category_navigation.html">

<!------------main---------------->
<div class="main">

    <div class="current-position">
        <h2>
            <a href="${basePath}/page/user/info">账号管理</a>
            &gt;
            <a href="#">修改资料</a>
        </h2>
    </div>
    <div class="user-content">

        <div class="user-menu">
            <#include "/user/info_left.html"/>
        </div>

        <div class="user-right">
                <form id="userEditInfo" method="post" onsubmit="return false;">
                    <div class="toucan-form">
                        <div class="toucan-form-title">
                            <h3 style="font-size:20px;">帐户信息</h3>
                        </div>
                        <div class="toucan-form-body">

                        <div class="item">
                            <span class="label"><span class="red">*</span>昵称：</span>
                            <div class="field">
                                <input type="text" id="nickname" name="nickName" maxlength="15" style="width:307px" class="l_ipt" tabindex="1" lay-verify="required|nickName" value="${userVO.nickName!''}" />
                            </div>
                        </div><!--item end-->


                        <div class="item">
                            <span class="label">性别：</span>
                            <div class="field">
                                <#if userVO.sex?? && userVO.sex==1 >
                                <input type="radio" class="l_radio" name="sex" id="sex_1" value="1" checked/> <label for="sex_1">男</label>
                                <input type="radio" class="l_radio" name="sex" id="sex_0" value="0" /><label for="sex_1">女</label>
                                <#elseif userVO.sex?? && userVO.sex==0 >
                                <input type="radio" class="l_radio" name="sex" id="sex_1" value="1" /> <label for="sex_1">男</label>
                                <input type="radio" class="l_radio" name="sex" id="sex_0" value="0" checked /><label for="sex_1">女</label>
                                <#else>
                                <input type="radio" class="l_radio" name="sex" id="sex_1" value="1" checked/> <label for="sex_1">男</label>
                                <input type="radio" class="l_radio" name="sex" id="sex_0" value="0"  /><label for="sex_1">女</label>
                                  </#if>
                            </div>
                        </div><!--item end-->

                    <div class="item">
                        <span class="label"><span class="red">*</span>个性签名：</span>
                        <div class="field">
                            <input type="text" id="personalizedSignature" name="personalizedSignature" style="width:307px" maxlength="50" class="l_ipt" tabindex="1" value="${userVO.personalizedSignature!''}" />
                        </div>
                    </div><!--item end-->
                    <div class="item">
                        <span class="label"><span class="red">*</span>验证码：</span>
                        <div class="field" >
                            <span style="float:left;">
                                <input type="text" id="vcode" name="vcode" class="l_ipt" autocomplete="off" MaxLength="4" tabindex="6" />
                            </span>
                            <span style="float:left;margin-left:5px;">
                                <img id="refreshCaptcha"  src="${basePath}/api/user/vcode" alt="点击图片刷新" title="点击图片刷新" style="cursor:pointer;width:100px;height:40px;"/
                            </span>
                        </div>
                    </div><!--item end-->

                        <br>
                        <br>
                    <div class="item" style="width:150px;">
                        <span class="label">&nbsp;</span>
                        <input type="button" value="保存" class="log_btn" id="ueibtn" style="font-size:15px;" />
                    </div><!--item end-->

                    <div class="item">
                        <br>
                        <a id="edit_info_msg" style="color:#ff4e00;"></a>
                    </div>

                        </div>
                </form>
        </div>
    </div>


    <#include "/footer.html"/>

</body>

<link rel="stylesheet" href="${basePath}/static/css/common/toucan-form-validate.css" />
<script type="text/javascript" src="${basePath}/static/js/common/toucan-form-validate.js"></script>
<script src="${basePath}/static/js/user/upload_user_headsculpture.js"></script>
<script type="text/javascript" src="${basePath}/static/shopping/web/js/user/editInfo.js"></script>
<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

        init_events();
    });


</script>


</html>
