<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- StyleSheets -->
<link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
<link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
<link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style2.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/jqueryFormValidate/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/selectProductCategory/style.css" />

<!--[if IE 6]>
<script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
    EvPNG.fix('div, ul, img, li, input, a');
</script>
<![endif]-->
<script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
<script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>

<script type="text/javascript" src="${basePath}/static/js/jquery-form.js"></script>
<script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>


    <#include "/common_js.html"/>

</head>
    <body>
            <form id="scef" method="post" onsubmit="return false;">
                <input type="hidden" id="parentId" name="parentId" value="${model.parentId!''}" >
                <input type="hidden" id="id" name="id" value="${model.id!''}" >
                <table border="0" style="width:400px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">

                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;分类名称 &nbsp;</td>
                        <td>
                            <input type="text" id="shopCategoryName" maxlength="25" name="name" class="l_ipt_long" tabindex="1"  value="${model.name!''}" />
                            &nbsp;&nbsp;
                            <label id="shopCategoryName_succeed" class="blank"></label>
                            <span class="clear"></span>
                            <div id="shopCategoryName_error"></div>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="button" id="scefbtn" value="保存" class="log_btn" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"></td>
                        <td>
                            <span class="label">&nbsp;</span>
                            <a id="scef_msg" ></a>
                        </td>
                    </tr>
                </table>
            </form>

        <script type="text/javascript" src="${basePath}/static/js/seller/shop/category/edit.js"></script>

    </body>
</html>