<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layui-form layuimini-form">
    <input type="hidden" name="id" id="id" th:value="${model.id}">
    <div class="layui-form-item">
        <label class="layui-form-label required">商标注册地区</label>
        <div class="layui-input-block"  th:if="${model.trademarkAreaType eq 1}" >
            <select name="trademarkAreaType"  lay-search="">
                <option value="1" selected>中国大陆地区</option>
                <option value="2">香港、澳门特别行政区，台湾省和境外国家</option>
            </select>
        </div>
        <div class="layui-input-block"  th:if="${model.trademarkAreaType eq 2}" >
            <select name="trademarkAreaType"  lay-search="">
                <option value="1" >中国大陆地区</option>
                <option value="2" selected>香港、澳门特别行政区，台湾省和境外国家</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">品牌名(中文)</label>
        <div class="layui-input-block">
            <input type="text" name="chineseName"  maxlength="255" lay-reqtext="不能为空" placeholder="请输入品牌名(中文)" th:value="${model.chineseName}" class="layui-input">
            <tip>填写品牌名(中文)。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">品牌名(英文)</label>
        <div class="layui-input-block">
            <input type="text" name="englishName"  maxlength="255" lay-reqtext="不能为空" placeholder="请输入品牌名(英文)" th:value="${model.englishName}" class="layui-input">
            <tip>填写品牌名(英文)。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">商标注册号</label>
        <div class="layui-input-block">
            <input type="text" name="registNumber1" lay-verify="required" maxlength="200" lay-reqtext="不能为空" placeholder="请输入商标注册号" th:value="${model.registNumber1}" class="layui-input">
            <tip>填写商标注册号。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">商标注册号</label>
        <div class="layui-input-block">
            <input type="text" name="registNumber2" lay-verify="required" maxlength="200" lay-reqtext="不能为空" placeholder="请输入商标注册号" th:value="${model.registNumber2}" class="layui-input">
            <tip>填写商标注册号。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">发源地</label>
        <div class="layui-input-block">
            <input type="text" name="seminary" lay-verify="required" maxlength="200" lay-reqtext="不能为空" placeholder="请输入发源地" th:value="${model.seminary}" class="layui-input">
            <tip>填写发源地。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">品牌所有人</label>
        <div class="layui-input-block">
            <input type="text" name="ownerName" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入所有人" th:value="${model.ownerName}" class="layui-input">
            <tip>填写所有人。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">所属分类</label>
        <div class="layui-input-block">
            <input type="hidden" name="categoryIdCache" id="categoryIdCache" th:value="${model.categoryIdCache}" >
            <input type="text" readonly  id="selectcategoryIdCache" lay-verify="required"  placeholder="请选择所属分类" th:value="${model.categoryNamePath}" class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block"  th:if="${model.enabledStatus eq 1}"  >
            <select name="enabledStatus"  lay-search="">
                <option value="1" selected >有效</option>
                <option value="0">无效</option>
            </select>
        </div>
        <div class="layui-input-block"  th:if="${model.enabledStatus eq 0}"  >
            <select name="enabledStatus"  lay-search="">
                <option value="1"  >有效</option>
                <option value="0" selected>无效</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree' //定义该组件模块名
    }).use(['form','tree','dtree','upload','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        var tree = layui.tree;
        var dtree = layui.dtree;
        var categoryTree;
        var categoryTreeDataArray = new Array();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            if(data.field.chineseName==""&&data.field.englishName=="")
            {
                layer.msg("品牌名不能为空");
                return false;
            }
            $.ajax({
                url:"[[@{/product/brand/update}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });



        /**
         * 拿到所有选中节点的ID
         * @param data
         * @param idArray
         */
        function getCheckdNodeId(data,idArray)
        {
            for(var i=0;i<data.length;i++)
            {
                categoryTreeDataArray.push(data[i]);
                if(data[i].state.checked==true)
                {
                    idArray.push(data[i].id);
                }
                if(data[i].children!=null&&data[i].children.length>0)
                {
                    getCheckdNodeId(data[i].children,idArray);
                }
            }
        }


        /**
         * 拿到指定节点对象
         */
        function getNodeObject(nodeId)
        {
            for(var i=0;i<categoryTreeDataArray.length;i++)
            {
                if(categoryTreeDataArray[i].id==nodeId)
                {
                    return categoryTreeDataArray[i];
                }
            }
            return null;
        }


        /**
         * 拿到上级节点信息
         */
        function getParentNode(categoryArray,pid)
        {
            for(var i=0;i<categoryTreeDataArray.length;i++)
            {

                if(categoryTreeDataArray[i].id==pid)
                {
                    var exists=false;
                    //判断上级节点ID是否已经保存了
                    for(var j=0;j<categoryArray.length;j++)
                    {
                        if(categoryArray[j].id==pid) {
                            exists = true;
                        }
                    }
                    //避免上级节点ID重复保存两份
                    if(!exists)
                    {
                        categoryArray.push({id:categoryTreeDataArray[i].id,name:categoryTreeDataArray[i].name})
                    }
                    if(categoryTreeDataArray[i].pid!=-1) {
                        //找到这个节点的上级节点
                        getParentNode(categoryArray, categoryTreeDataArray[i].pid);
                    }
                }
            }
        }

        $("#selectcategoryIdCache").click(function(){

            var idValue = $("#id").val();
            index = layer.open({
                title: '选择类别',
                type: 1,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['40%', '70%'],
                btn: ['确定'],
                content: "<ul id='categoryTree' class='dtree' data-id='0' ></ul>",
                success:function(layero){
                    loadding = layer.load();
                    $.ajax({
                        url:"[[@{/}]]product/brand/query/category/tree",
                        type:'POST',
                        data:{brandId:idValue},
                        success:function(data){
                            if(data.code==1)
                            {
                                //已选择节点
                                var idArray = new Array();
                                categoryTreeDataArray = new Array();
                                getCheckdNodeId(data.data,idArray);
                                categoryTree = dtree.render({
                                    elem: "#categoryTree",//html中的id值
                                    data:data.data,
                                    width:'100%',
                                    checkbarType: "no-all",
                                    checkbar: true,  //开启复选框
                                    checkbarData: "choose",// 记录选中（默认）， "change"：记录变更， "all"：记录全部， "halfChoose"："记录选中和半选（V2.5.0新增）"
                                    done: function (res, $ul, first) {
                                        if (first) {
                                            if(idArray!=null&&idArray.length>0) {
                                                dtree.chooseDataInit("categoryTree", idArray); //"001001,001002"被选中的子节点id
                                                dtree.initNoAllCheck("categoryTree");// 反选半选状态(原始数据中父节点的选中或半选状态并没有被带上)
                                            }
                                        }

                                    }
                                });
                            }
                        },
                        complete:function()
                        {
                            layer.close(loadding);
                        }
                    });

                },
                yes: function(index, layero){
                    var selectNodes = categoryTree.getCheckbarNodesParam("categoryTree");
                    if(selectNodes==null||selectNodes.length<=0)
                    {
                        layer.msg("请选择类别");
                        return false;
                    }
                    var categoryArray =  new Array();
                    for (var i = 0; i < selectNodes.length; i++) {
                        var selectNodeObject = getNodeObject(selectNodes[i].nodeId);
                        categoryArray.push({id:selectNodeObject.id,name:selectNodeObject.name});
                        getParentNode(categoryArray,selectNodeObject.pid);
                    }

                    var categoryIdCache="";
                    var categoryNames="";
                    for (var j = 0; j < categoryArray.length; j++) {
                        categoryIdCache+=categoryArray[j].id;
                        categoryNames+=categoryArray[j].name;
                        if(j+1<categoryArray.length)
                        {
                            categoryIdCache+=",";
                            categoryNames+=",";
                        }
                    }

                    $("#categoryIdCache").val(categoryIdCache);
                    $("#selectcategoryIdCache").val(categoryNames);

                    layer.close(index);
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        });


    });
</script>
</body>
</html>