<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/formStyle.css" />
    <link rel="stylesheet" href="${basePath}/static/js/seller/product/selectProductCategory/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/selectPage/selectpage.css" type="text/css">
    <link rel="stylesheet" href="${basePath}/static/css/product/attribute.css" type="text/css">
    <link rel="stylesheet" href="${basePath}/static/lib/tupload/css/upload.css" type="text/css">
    <script type="text/javascript" src="${basePath}/static/lib/selectPage/selectpage.js" ></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/product/brand_list.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/product/attribute.js"></script>

    <style>
        .releaseProductInputText {
            border: 1px solid #CCC;
            color: #000000;
            height: 30px;
            line-height:15px;
            margin-bottom: 16px;
            margin-right: 6px;
            margin-top: 2px;
            outline: 0 none;
            padding: 5px 0px 5px 5px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
        .attributeList{
            margin-left: 6%;
            width: 85%;
            padding-top: 2px;
            height:auto!important;
            border: 1px dashed #ccc;
            background-color: #f6f6f6;

        }
        .clearfloat{
            clear:both;
            height:0;
            font-size: 1px;
            line-height: 0px;
        }
        .releaseProductButton{
            width:40px;
        }

        .skuTable {
            width:90%;
            border-collapse: collapse;
            text-align:center;
            color:#303030;
            border-color:#c6d1db;
            margin-top: 10px;
            border-top:1px solid #c6d1db;
            border-right:1px solid #c6d1db;
            border-bottom:1px solid #c6d1db;
            border-left:1px solid #c6d1db;
        }

        .skuTable td{
            font-size:11px;
            padding: 4px 8px;
            border-top:1px solid #c6d1db;
            border-right:1px solid #c6d1db;
            border-bottom:1px solid #c6d1db;
            border-left:1px solid #c6d1db;
        }

        .skuTable th{
            border-top:1px solid #c6d1db;
            border-right:1px solid #c6d1db;
            border-bottom:1px solid #c6d1db;
            border-left:1px solid #c6d1db;
        }

        .skuTable tr{
            box-sizing: border-box;
            border-top:1px solid #c6d1db;
            border-right:1px solid #c6d1db;
            border-bottom:1px solid #c6d1db;
            border-left:1px solid #c6d1db;
        }
    </style>

</head>
<body>

<#include "/top.html"/>

<#assign leftName = "publishProduct">

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/shop/category/list">店铺分类</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">添加分类</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
                <div class="title" style="border-bottom: 1px solid#9a9999;"><span>发布商品</span></div>
                <div class="right_panel">

                    <form action="" id="productReleaseForm" method="post" class="bootstrap-frm" enctype="multipart/form-data" >

                        <div class="toucan-form">
                            <div id="step1">
                                <div class="toucan-form-body">
                                    <div class="item">
                                        <!--商品分类-->
                                        <div class="wareSort clearfix">
                                            <ul id="sort1"></ul>
                                            <ul id="sort2" style="display: none;"></ul>
                                            <ul id="sort3" style="display: none;"></ul>
                                        </div>
                                        <div class="selectedSort"><b>您当前选择的商品类别是：</b><i id="selectedSort"></i></div>
                                        <input type="hidden" id="categoryId"  name="categoryId"/>
                                    </div>

                                    <div class="item" id="brandDiv" style="display:none;">
                                        <div style="width:50%;float:left;">
                                            <div class="field" style="width:100%;text-align:right;" >
                                                品牌：
                                                <span  id="selectBrandDiv">
                                                    <input type="text" name="brandId" id="selectBrand" class="releaseProductInputText" >
                                                </span>
                                                未找到需要的品牌？<a href="#">点击申请</a>
                                            </div>
                                        </div>

                                        <div style="width:45%;float:left;">
                                            <div class="field" style="text-align:right;" >
                                                货号：<input type="text" id="articleNumber" name="articleNumber"  class="releaseProductInputText" style="width:200px;">
                                            </div>
                                        </div>

                                    </div>




                                    <div class="item" style="clear:both;margin-bottom: 25px;">
                                        <span class="wareSortBtn">
                                            <input type="button" id="releaseBtn" class="button" value="下一步，完善商品信息" disabled="disabled"  />
                                        </span>
                                    </div><!--item end-->

                                </div>

                            </div>


                            <div id="step2" style="display:none">
                                <div class="toucan-form-body">

                                    <div class="item"  >
                                        <div class="field" style="width:100%;text-align:left;padding-left:6%;" >
                                            商品主图预览：
                                            <img src="${basePath}/static/lib/tupload/images/imgadd.png" style="width:100px;height:100px;" id="mainPhotoImg">
                                        </div>
                                    </div>

                                    <div class="item"  >
                                        <div class="field" style="width:100%;text-align:left;padding-left:6%;" >
                                            <span class="red">*</span>商品主图上传：
                                            <input type="file" name="mainPhotoFile" id="mainPhotoFile" />
                                        </div>
                                    </div>

                                    <div class="item"  >
                                        <div class="field" style="width:100%;text-align:left;padding-left:6%;" >
                                            商品预览图：
                                        </div>
                                    </div>

                                    <div class="item"  >
                                        <div id="productPreviewImages" style="width:90%;margin-left:6%;">
                                            <div class="uploading-img">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item" >
                                        <div class="field" style="width:100%;text-align:left;padding-left:6%;" >
                                            <span class="red">*</span>名称：
                                            <input type="text" id="name" name="name" class="releaseProductInputText" lay-verify="required|productName" placeholder="请输入商品名称,最多输入100汉字" style="width:70%;" tabindex="1"  />
                                        </div>

                                    </div>


                                    <div class="item" >
                                        <div class="field" style="width:100%;text-align:left;padding-left:6%;" >
                                            商家编码：
                                            <input type="text" id="sellerNo" name="sellerNo" class="releaseProductInputText" style="width:65%;"  placeholder="请输入商家编码" tabindex="4"  />

                                        </div>

                                    </div>





                                    <!--商品属性 -->
                                    <div class="rp_attr_div">

                                    </div>

                                    <input type="hidden" id="attributes" name="attributes" />

                                    <div class="item" >
                                        <div style="width:40%;float:left;">
                                            <div class="field" style="width:100%;text-align:center;" >
                                                <span class="red">*</span>总数量：
                                                <input type="text" id="num" name="num" class="releaseProductInputText" style="width:200px;"  tabindex="3"  readonly />件
                                            </div>
                                        </div>

                                        <div style="width:45%;float:left;">
                                            <div class="field" style="text-align:center;" >
                                                <span class="red">*</span>一口价：
                                                <input type="text" id="price" name="price" class="releaseProductInputText" lay-verify="required|nickName" style="width:200px;" tabindex="2"  />元
                                            </div>
                                        </div>

                                    </div>

                                    <div class="item" style="clear:both;margin-bottom: 25px;">
                                        <span class="wareSortBtn" style="margin-right:10px;">
                                            <input type="button" id="step2Back" class="button" value="上一步，调整商品分类"  />
                                        </span>

                                        <span class="wareSortBtn" style="margin-left:10px;">
                                            <input type="button" id="step2Next" class="button" value="下一步，完善支付信息"  />
                                        </span>
                                    </div><!--item end-->
                                </div>
                            </div>

                            <div id="step3" style="display:none">
                                <div class="toucan-form-body">
                                    <div class="item" >
                                        <div style="width:40%;float:left;">
                                            <div class="field" style="width:100%;text-align:center;" >
                                                <span class="red">*</span>付款方式：
                                                <input type="radio" class="radio" name="payMethod" id="pay_method_1" value="1" checked/> <label for="pay_method_1">一口价(普通交易模式)</label>
                                            </div>
                                        </div>

                                        <div style="width:45%;float:left;">
                                            <div class="field" style="text-align:center;" >
                                                <span class="red">*</span>库存计数：
                                                <input type="radio" class="radio" name="buckleInventoryMethod" id="buckle_inventory_method_1" value="1" checked/> <label for="buckle_inventory_method_1">买家拍下减库存</label>
                                                <input type="radio" class="radio" name="buckleInventoryMethod" id="buckle_inventory_method_2" value="2" checked/> <label for="buckle_inventory_method_2">买家付款减库存</label>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="item" >
                                        <div style="width:40%;float:left;">
                                            <div class="field" style="width:100%;text-align:center;" >
                                                <span class="red">*</span>售后服务：
                                                <input type="checkbox" class="checkbox" name="giveInvoice" id="giveInvoice_1" value="1" /> <label for="giveInvoice_1">提供发票</label>
                                                <input type="checkbox" class="checkbox" name="changeOrReturn" id="changeOrReturn_1" value="1" /> <label for="changeOrReturn_1">退换货承诺</label>

                                            </div>
                                        </div>

                                        <div style="width:45%;float:left;">
                                        </div>
                                    </div>

                                    <div class="item" style="clear:both;margin-bottom: 25px;">
                                        <span class="wareSortBtn" style="margin-right:10px;">
                                            <input type="button" id="step3Back" class="button" value="上一步，调整商品信息"  />
                                        </span>

                                        <span class="wareSortBtn" style="margin-left:10px;">
                                            <input type="button" id="step3Next" class="button" value="下一步，完善物流信息"  />
                                        </span>
                                    </div><!--item end-->

                                </div>
                            </div>

                            <div id="step4" style="display:none">
                                <div class="toucan-form-body">
                                    <div class="item" >
                                        <div style="width:40%;float:left;">
                                            <div class="field" style="width:100%;text-align:center;" >
                                                <span class="red">*</span>提取方式：
                                                <input type="checkbox" class="checkbox" name="etractMethod" id="etractMethod_1" value="1" /> <label for="etractMethod_1">使用物流配送</label>
                                            </div>
                                        </div>

                                        <div style="width:45%;float:left;">
                                        </div>

                                    </div>

                                    <div class="item" style="clear:both;margin-bottom: 25px;">
                                        <span class="wareSortBtn" style="margin-right:10px;">
                                            <input type="button" id="step4Back" class="button" value="上一步，调整支付信息"  />
                                        </span>

                                        <span class="wareSortBtn" style="margin-left:10px;">
                                            <input type="button" id="step4Next" class="button" value="下一步，完善店铺分类"  />
                                        </span>
                                    </div><!--item end-->


                                </div>
                            </div>

                            <div id="step5" style="display:none" >
                                <div class="toucan-form-body">
                                    <!--商品分类-->
                                    <div class="wareSort clearfix">
                                        <ul id="shop_category_sort1"></ul>
                                        <ul id="shop_category_sort2" style="display: none;"></ul>
                                    </div>
                                    <div class="selectedSort"><b>您当前选择的店铺分类是：</b><i id="selectedShopCategorySort"></i></div>
                                    <input type="hidden" id="shopCategoryId"  name="shopCategoryId"/>


                                    <div class="item" >
                                        <div class="field" style="width:100%;text-align:center;" >
                                            <span class="red">*</span>验证码：
                                            <input type="text" id="vcode" name="vcode" class="releaseProductInputText" autocomplete="off" MaxLength="4" tabindex="6" />
                                            <label class="img"><img id="refreshCaptcha"  src="${basePath}/api/shop/product/vcode" alt="点击图片刷新" title="点击图片刷新" style="cursor:pointer;width:100px;height:40px;"/>
                                            </label>
                                            <label>&nbsp;看不清？点击验证码图片更换</label>
                                        </div>
                                    </div>

                                    <div class="item" style="clear:both;margin-bottom: 25px;">
                                        <span class="wareSortBtn" style="margin-right:10px;">
                                            <input type="button" id="step5Back" class="button" value="上一步，调整物流信息"  />
                                        </span>

                                        <span class="wareSortBtn" style="margin-left:10px;">
                                            <input type="button" id="ppfbtn" class="button" value="发布"  />
                                        </span>
                                    </div><!--item end-->
                                </div>
                            </div>

                            <div class="item" id="publish_msg_c" style="display:none;text-align: center;margin-top: 40px;margin-bottom: 40px;">
                                <a id="publish_msg" style="color:green;font-size: 15px;"></a>
                            </div>
                        </div>
                    </form>

                </div>
        </div>

    </div>
</div>




<#include "/footer.html"/>

</body>


<script>
    /*定义三级分类数据*/
    var category_list=${categoryList!''};
    var shop_category_list=${shopCategoryList!''};
</script>

<script src="${basePath}/static/js/seller/product/selectProductCategory/selectCategory.js"></script>
<script src="${basePath}/static/js/seller/product/selectShopCategory/selectShopCategory.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/product/publish_product.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/tupload/js/T_upload.js"></script>


</html>


