<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
    <!--<link href="${basePath}/static/lib/jquery-treegrid/bootstrap-2.3.2/css/bootstrap.css" rel="stylesheet">-->
    <script type="text/javascript" src="${basePath}/static/lib/layer/layer.js"></script>
    <link rel="stylesheet" href="${basePath}/static/lib/pagination/toPage.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/tableFreeze/tableFreeze.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/datetimepicker/jquery.datetimepicker.css" />

    <style type="text/css">

    </style>

</head>
<body>

<#include "/top.html"/>

<#assign leftName = "shopBanner">
<#assign menuType = "shopSetting">

<div class="body_box">


    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">轮播图</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content" >
        <div class="right_bg mb-15" style="width:100%;min-height: 700px;">
            <div class="title" style="border-bottom: 1px solid#9a9999;"><span>轮播图</span></div>
            <div class="right_panel">

                <div class="bootstrap-frm" style="width:100%;max-width:100%;"  >
                    <form id="shopBannerForm">
                        <label style="width:40%;float: left;">
                            <span>标题 :</span>
                            <input type="text" id="title" maxlength="25"  name="title"   tabindex="1"  style="width:50%" />
                        </label>
                        <label style="width:40%;float: left;">
                            <span>发布日期 :</span>
                            <input type="text" id="startShowDate"  style="width:30%" />
                            至
                            <input type="text" id="endShowDate"   style="width:30%" />
                        </label>
                        <div style="width:40%;float: left;text-align: center;margin-bottom: 2%;">
                            <input type="button" id="queryBtn" class="button" style="width:100px;" value="查询"  />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" id="resetBtn" class="button" style="width:100px;" value="重置"  />
                        </div>
                    </form>
                </div>
                <div class="pageToolbar">
                    <table id="shopBannerTable" class="freezeTable" border="1" width="900">
                        <tbody id="shopBannerTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="${basePath}/static/lib/pagination/toPage.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/tableFreeze/tableFreeze.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/shop/banner/index.js"></script>



<#include "/footer.html"/>



</body></html>





