<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>

    <#if pageView??>
        <#list pageView.componentViewPlugins as cvp>
            <#if cvp?? && cvp.pluginName=="sliderMe" && cvp.pluginVersion=="1.0">
                <link type="text/css" rel="stylesheet" href="${basePath}/static/lib/sliderMe/meSlider.css" />
                <script type="text/javascript" src="${basePath}/static/lib/sliderMe/sliderMe.js"></script>
            </#if>
        </#list>
    </#if>

    <#include "/title.html"/>

</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="top">
    <#include "/logo.html"/>
    <#include "/search.html"/>
    <#include "/buy_car.html"/>


</div>

<!--End Header End-->
<!--Begin Menu Begin-->

<div class="menu_bg" style="height:10px;">
</div>
<#include "/shop/shop_top.html"/>

<div class="shop-index-main-page" >
<div class="shop-index-main">
    <#if pageView??>
        <input type="hidden" id="shopId"  value="${pageView.shopId}" />
    </#if>



</div>
</div>

<script type="text/javascript">
    <#if pageViewJson??>
        var pageView=${pageViewJson};
    </#if>
</script>

<#list pageView.componentViews as cv>
    <#if cv?? && cv.type=="shopBannerView">
        <script type="text/javascript" src="${basePath}/static/shopping/web/js/shop/pc/index/banner.js"></script>
    <#elseif cv?? && cv.type=="imageView">
    <#elseif cv?? && cv.type=="shopCategoryView">
        <link href="${basePath}/static/css/shop/pcIndex/modern-menu.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="${basePath}/static/shopping/web/js/shop/pc/index/category.js"></script>
    </#if>
</#list>



<script type="text/javascript" src="${basePath}/static/shopping/web/js/shop/pc/index/index.js"></script>

<#include "/footer.html"/>



</body>


</html>
