<div class="menu_bg" style="height:10px;">
</div>
<div class="shop-index-top" >
    <div class="shop-index-top-right">
        <div class="shop-index-top-right-shop-logo">
            <img src="${shop.httpLogo}" style="width:20px;height:20px;">&nbsp;
        </div>
        <div class="shop-index-top-right-shop-name"><a href="${basePath}/pc/index/${shop.id}">${shop.name}</a></div>
        <div class="shop-index-top-right-shop-collect-div">
            <span class="shop-index-top-right-shop-collect-icon shop-index-top-right-shop-collect">关注店铺</span>
        </div>

    </div>
</div>
