<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layui-form layuimini-form">

    <input type="hidden" name="attributeKeyId" id="attributeKeyId" th:value="${attributeKeyId}">

    <div class="layui-form-item">
        <label class="layui-form-label required">SKU特有属性</label>
        <div class="layui-input-block">
            <select id="isSpecific"  name="isSpecific" lay-search="" lay-filter="isSpecific">
                <option value="1" >是</option>
                <option value="0" selected>否</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">搜索状态</label>
        <div class="layui-input-block">
            <select id="queryStatus"  name="queryStatus" lay-search="" lay-filter="queryStatus">
                <option value="1" selected>可被搜索</option>
                <option value="0">不可搜索</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">属性值</label>
        <div class="layui-input-block">
            <input type="text" name="attributeValue" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入属性值" value="" class="layui-input">
            <tip>填写属性值。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">属性值扩展1</label>
        <div class="layui-input-block">
            <input type="text" name="attributeValueExtend1"  maxlength="100" lay-reqtext="不能为空" placeholder="属性值扩展1" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">属性值扩展2</label>
        <div class="layui-input-block">
            <input type="text" name="attributeValueExtend2"  maxlength="100" lay-reqtext="不能为空" placeholder="填写属性值扩展2" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">属性值扩展3</label>
        <div class="layui-input-block">
            <input type="text" name="attributeValueExtend3"  maxlength="100" lay-reqtext="不能为空" placeholder="填写属性值扩展3" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">显示状态</label>
        <div class="layui-input-block">
            <input type="radio" name="showStatus" value="1" title="显示" checked="">
            <input type="radio" name="showStatus" value="0" title="隐藏">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">排序</label>
        <div class="layui-input-block">
            <input type="number" name="attributeSort"    placeholder="请输入排序" value="" class="layui-input" lay-verify="number">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea" maxlength="255" placeholder="请输入备注信息"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;


        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:"[[@{/product/attribute/attributeValue/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });



    });
</script>
</body>
</html>