<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="userSearchForm" action="">
                    <input type="hidden" name="attributeKeyId" id="attributeKeyId" th:value="${attributeKeyId}">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">属性值</label>
                            <div class="layui-input-inline">
                                <input type="text" name="attributeValue" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="data-reset-btn" ><i class="layui-icon"></i> 重 置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <span th:each="tb : ${toolbarButtons}" th:utext="${tb}"></span>

            </div>
        </script>

        <table class="layui-hide" id="attributeValueTable" lay-filter="attributeValueTableFilter"></table>

        <script type="text/html" id="attributeValueTableBar">
            <span th:each="btn : ${rowButtons}" th:utext="${btn}"></span>
        </script>

    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var loadding;
        var attributeKeyId = $("#attributeKeyId").val();

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        function getFormParam()
        {
            var formParam = $("#userSearchForm").serializeJson();
            return formParam;
        }

        table.render({
            elem: '#attributeValueTable',
            url: "[[@{/}]]product/attribute/attributeValue/list",
            method:'POST',
            where:getFormParam(),
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            done:function(res, curr, count)
            {
            },
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'id',  title: '主键'},
                    {field: 'attributeValue',  title: '属性值'},
                    {field: 'attributeType',  title: '属性类型',
                        templet: function (row) {
                            if(row.attributeType == null){
                                return "";
                            }
                            if(row.attributeType == "1"){
                                return "普通属性";
                            }
                            if(row.attributeType == "2"){
                                return "颜色属性";
                            }
                            return row.attributeType;
                        }},
                    {field: 'attributeValueExtend1',  title: '属性值扩展1'},
                    {field: 'attributeValueExtend2',  title: '属性值扩展2'},
                    {field: 'attributeValueExtend3',  title: '属性值扩展3'},
                    {field: 'attributeSort',  title: '排序'},
                    {field: 'createAdminName', title: '创建人'},
                    {field: 'createDate',  title: '创建时间'},
                    {field: 'updateAdminName',  title: '修改人'},
                    {field: 'updateDate',  title: '修改时间'},
                    {title: '操作', minWidth: 300, toolbar: '#attributeValueTableBar', align: "center"}
                ]
            ],
            limits: [15,30,100,200],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('attributeValueTable', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');

            return false;
        });


        $("#data-reset-btn").click(function(){
            $("#categoryId").val("");
            $("#userSearchForm")[0].reset();
            layui.form.render();
        });




        /**
         * toolbar监听事件
         */
        table.on('toolbar(attributeValueTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加属性值',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['100%', '100%'],
                    content: "[[@{/product/attribute/attributeValue/addPage}]]/"+attributeKeyId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'deleteToolbar') {  // 监听删除操作
                var checkStatus = table.checkStatus('attributeValueTable')
                    , data = checkStatus.data;
                if(data==null||data.length<=0)
                {
                    layer.msg("请选择要操作的记录");
                    return;
                }
                layer.confirm('确定删除属性值?', function (index) {
                    $.ajax({
                        url:"[[@{/}]]product/attribute/attributeValue/delete/ids",
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        data:JSON.stringify(data),
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            table.reload('attributeValueTable', {
                                page: {
                                    curr: 1
                                }
                                , where: data.field
                            }, 'data');

                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }
        });






        //监听表格复选框选择
        table.on('checkbox(attributeValueTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(attributeValueTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event == 'edit') {

                var index = layer.open({
                    title: '编辑属性值',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['100%', '100%'],
                    content: '[[@{/}]]product/attribute/attributeValue/editPage/'+data.id
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event == 'delete') {
                layer.confirm('确定删除该属性值?', function (index) {
                    $.ajax({
                        url:"[[@{/}]]product/attribute/attributeValue/delete/"+data.id,
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            table.reload('attributeValueTable', {
                                page: {
                                    curr: 1
                                }
                                , where: data.field
                            }, 'data');

                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }
        });

    });
</script>

</body>
</html>