<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.message.mapper.MessageTypeMapper">

    <resultMap id="entityMap" type="com.toucan.shopping.modules.message.entity.MessageType" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="appCode" jdbcType="VARCHAR" property="app_code" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

    </resultMap>

    <resultMap id="messageTypeVOMap" type="com.toucan.shopping.modules.message.vo.MessageTypeVO" extends="entityMap" >
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="name!=null and name!='' ">
            and t.name  like concat(#{name},'%')
        </if>
    </sql>


    <sql id="queryListWhere">
        and t.delete_status = 0
        <if test="id!=null">
            and t.id = #{id}
        </if>
    </sql>
    
    <insert id="insert" parameterType="com.toucan.shopping.modules.message.entity.MessageType" >
        insert into t_message_type(id,code,name,app_code,create_date,delete_status)
        values(#{id},#{code},#{name},#{appCode},#{createDate},#{deleteStatus})
    </insert>


    <update id="deleteById" parameterType="java.lang.Long">
        update t_message_type set delete_status=1 where id = #{id}
    </update>



    <update id="update" parameterType="com.toucan.shopping.modules.message.entity.MessageType">
        update t_message_type set  name=#{name},code=#{code},
        update_date=#{updateDate}
          where id = #{id}
    </update>


    <select id="findListByEntity" resultMap="entityMap" parameterType="com.toucan.shopping.modules.message.entity.MessageType">
        select * from t_message_type t
        <where>
            1=1
            <if test="ids!=null ">
                and t.id in
                <foreach item="item" index="index" collection="ids" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="id!=null">
                and t.id = #{id}
            </if>
            and t.delete_status = 0
        </where>

    </select>

    <select id="queryList" resultMap="bannerVOMap" parameterType="com.toucan.shopping.modules.area.vo.BannerVO">
        select t.* from t_message_type t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>
    </select>


    <select id="queryListPage" resultMap="messageTypeVOMap" parameterType="com.toucan.shopping.modules.message.page.MessageTypePageInfo">
        select t.* from t_message_type t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.message.page.MessageTypePageInfo">
        select t.* from t_message_type t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />
        </where>

    </select>

</mapper>