<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="Keywords" content="卖家登录">
    <meta name="Description" content="描述">
    <link rel="stylesheet" href="${basePath}/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/css/login.css">
    <script src="${basePath}/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/seller/login.js"></script>
	<script type="text/javascript" src="${basePath}/static/js/seller/sso.js"></script>
	<link rel="stylesheet" href="${basePath}/static/css/style2.css" />
	<title>登录页面</title>
    <#include "/common_js.html"/>

	<style>
		.login_warn_icon{
			width:16px;
			height:17px;
			overflow:hidden;
			background:url(../../static/images/login-icons.png) -104px -24px no-repeat;
		}
	</style>

</head>
<body>

<!--Begin Header Begin-->
<div class="soubg">
	<div class="sou">
    <span class="s_city_b">
       <img src="${basePath}/static/images/icon_home.png" >
       <a  href="${shoppingPcPath}">
            首页
        </a>
    </span>
		<!--End 所在收货地区 End-->
		<span class="fr">
            <span class="fl"><#include "/regist_login.html"/>&nbsp;|&nbsp;</span>
            <span class="fr">
                <div class="ss_list">
                	<a href="#">网站导航</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="http://www.taobao.com">淘宝网</a></li>
                                <li><a href="http://www.jd.com">京东商城</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>
        </span>
	</div>
</div>

<!-- **************头部页面开始****** -->
<div class="w">
	<div id="logo">
		<a href="${shoppingPcPath}">
			<img src="${basePath}/static/images/logo.png" alt="">
		</a>
		<b></b>
	</div>
</div>
<!-- ************头部页面结束********** -->
<div id="content">
   <!-- login-wrapk开始 -->
  <div class="login-wrap">
    <!-- w开始 -->
  	<div class="w">
           <!-- *****************登录页面开始************ -->
  		<div class="login-form">
  			<div class="login-tab login-tab-l">
  				<a href="javascript:;">扫码登录</a>
  			</div>
  			<div class="login-tab login-tab-r">
  				<a href="javascript:;">账号登录</a>
  			</div>
  			<!-- login-box开始（账户登录） -->
  			<div class="login-box" style="visibility: visible; display: block;" id="ldiv">
  			  <div class="mt tab-h"></div>
  			  <div class="mc">
				  <br>
  			  	<div class="form">
  			  		<form  id="formlogin" method="post" onsubmit="return false;">
						<input type="hidden" id="ivcode" value="${isShowInputVcode?string('1','0')}"/>
  			  			<!-- 用户名输入框fore1 -->
  			  			<div class="item item-fore1 item-error">
  			  				<label for="username" class="login-label name-label"></label>
  			  				<input type="text" name="username" id="username" class="itxt" tabindex="1" autocomplete="off" placeholder="邮箱/用户名/已验证手机">
  			  				<span class="clear-btn" style="display:inline;"></span>
  			  			</div>
  			  			<!-- 密码输入框fore2 -->
  			  			<div id="entry" class="item item-fore2" style="visibility: visible">
  			  				<label class="login-label pwd-label" for="password"></label>
  			  				<input type="password" name="password" id="password" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
  			  				<span class="clear-btn" style="display: inline;"></span>
  			  				<span class="capslock" style="display: none;">
  			  				</span>
  			  			</div>
						<div class="item" id="vcodetr" style="display:none">
							<!-- 图片验证码开始 fore3-->
							<div class="item item-fore1 item-error" style="text-align:left;" >
								<label for="vcode" class="login-label pwd-label"></label>
								<input type="text" name="vcode" id="vcode" class="itxt" style="width:150px;text-align:left;"  tabindex="3" autocomplete="off" maxlength="4"  placeholder="验证码">
								<img id="refreshCaptcha" style="width:100px;height:40px;vertical-align:middle;"  src="${basePath}/api/user/login/faild/vcode" >
							</div>
						</div>
                        <!-- 自动登录开始fore4 -->
                        <div class="item item-fore4">
                        	<div class="safe">
                        		<!--<span>
                        			<input type="checkbox" name="chkRememberMe" id="autologin" tabindex="3">
                        			<label for="">自动登录</label>
                        		</span>-->
                        		<span class="forget-pw-safe">
                        			<a href="https://www.17sucai.com/preview/663563/2016-12-10/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9/demo.html">忘记密码</a>
                        		</span>
                        	</div>
                        </div>
                        <!-- 登录按钮开始 -->
                        <div class="item item-fore5">
                        	<div class="login-btn">
                        		<a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" tabindex="6" onclick="login()">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                        	</div>
                        </div>

						<div class="item item-fore5">
							<div id="login_msg_c" style="display:none">
								<b class="login_warn_icon">
									&nbsp;&nbsp;&nbsp;&nbsp;
								</b>
								<a id="login_msg" style="color:#ff4e00;"></a>
							</div>
						</div>
  			  		</form>
  			  	</div>
  			  </div>
  			  <!-- mc结束 2input+自动登录+登录按钮-->

  			</div>
  			<!-- login-box结束（账户登录） -->
  			<!-- 二维码登陆开始 （扫码登录）-->
  			<div class="qrcode-login" style="display: none; visibility: visible;">
  				<div class="mc">
  					<div class="qrcode-error-2016">
  						<div class="qrcode-error-mask"></div>
  						<p class="err-cont">服务器出错</p>
  						<a href="javascript:void(0)" class="refresh-btn">刷新</a>
  					</div>
  					<div class="qrcode-main">

  						<div class="qrcode-img" style="">
  							<img src="${basePath}/static/images/code.png" alt="">
  							<div class="qrcode-error-02 hide" id="J-qrcodeerror" style="display: none;">
  								<a href="https://www.17sucai.com/preview/663563/2016-12-10/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9/demo.html#none">
  									<span class="error-icon"></span>
  									<div class="txt">
  									   网络开小差咯
  									   <span class="ml10">刷新二维码</span>
  									 </div>
  								</a>
  							</div>
  						</div>

  						<div class="qrcode-help" style="display: none;"></div>
  					</div>
  					<!-- 二维码结束 -->
  					<div class="qrcode-panel">
  						<ul>
  							<li class="fore1">
  								<span>打开</span>
  								<a href="https://www.17sucai.com/preview/663563/2016-12-10/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9/demo.html">
  									<span class="red">手机京东</span>
  								</a>
  							</li>
  							<li>扫描二维码</li>
  						</ul>
  					</div>
  					<!-- panel结束 -->
  					<div class="coagent qr-coagent" id="qrCoagent" style="display: block; visibility: visible;">
  						<ul>
  							<li><b></b><em>免输入</em></li>
  							<li><b class="faster"></b><em>更快&nbsp;</em></li>
  							<li><b class="more-safe"></b><em>更安全</em></li>
  						</ul>
  					</div>
  				</div>
  				<!-- mc结束 -->
  			</div>
  			<!-- 二维码登录结束 （扫码登录）-->
  			<!-- 登录框底部登录方式 开始qq,微信-->
  			<div class="coagent" id="kbCoagent">
  				<ul>
  					<li>
  						<a href="javascript:void(0)" onclick="return false;" class="pdl">
  							<b class="QQ-icon"></b>
  							<span>QQ</span>
  						</a>
  						<span class="line">|</span>
  					</li>
  					<li>
  						<a href="javascript:void(0)" onclick="return false;" class="pdl">
  							<b class="weixin-icon"></b>
  							<span>微信</span>
  						</a>
  						<span class="line">|</span>
  					</li>
  					<li class="extra-r">
  					   <div class="regist-link">
  						<a href="${basePath}/page/user/regist" >
  							<b></b>立即注册
  						</a>
  					   </div>
  					</li>
  				</ul>
  			</div>
  			<!-- 登录框底部登录方式 结束qq,微信-->
  		</div>
  		  <!-- ************ 登录页面login-form结束************  -->
  	</div>
  	<!-- w结束 -->
  	<!-- 中间广告部分开始 -->
  	<div class="login-banner" style="background-color: #f5f5f6">
  		<div class="w">
  			<div id="banner-bg" class="i-inner" style="background: url(${basePath}/static/images/l_img.png);"></div>
  		</div>
  	</div>
  	<!-- 中间背景广告结束 -->
  </div>
	<!-- login-wrap结束 -->
</div>
<!-- 内容部分结束 -->
<!-- 底部页面开始 -->


<!--Begin Footer Begin -->
<div class="b_btm_bg b_btm_c">
	<div class="b_btm">
		<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
			<tr>
				<td width="72"><img src="${basePath}/static/images/b1.png" width="62" height="62" /></td>
				<td><h2>正品保障</h2>正品行货  放心购买</td>
			</tr>
		</table>
		<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
			<tr>
				<td width="72"><img src="${basePath}/static/images/b2.png" width="62" height="62" /></td>
				<td><h2>满38包邮</h2>满38包邮 免运费</td>
			</tr>
		</table>
		<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
			<tr>
				<td width="72"><img src="${basePath}/static/images/b3.png" width="62" height="62" /></td>
				<td><h2>天天低价</h2>天天低价 畅选无忧</td>
			</tr>
		</table>
		<table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
			<tr>
				<td width="72"><img src="${basePath}/static/images/b4.png" width="62" height="62" /></td>
				<td><h2>准时送达</h2>收货时间由你做主</td>
			</tr>
		</table>
	</div>
</div>
<div class="b_nav">
	<dl>
		<dt><a href="#">新手上路</a></dt>
		<dd><a href="#">售后流程</a></dd>
		<dd><a href="#">购物流程</a></dd>
		<dd><a href="#">订购方式</a></dd>
		<dd><a href="#">隐私声明</a></dd>
		<dd><a href="#">推荐分享说明</a></dd>
	</dl>
	<dl>
		<dt><a href="#">配送与支付</a></dt>
		<dd><a href="#">货到付款区域</a></dd>
		<dd><a href="#">配送支付查询</a></dd>
		<dd><a href="#">支付方式说明</a></dd>
	</dl>
	<dl>
		<dt><a href="#">会员中心</a></dt>
		<dd><a href="#">资金管理</a></dd>
		<dd><a href="#">我的收藏</a></dd>
		<dd><a href="#">我的订单</a></dd>
	</dl>
	<dl>
		<dt><a href="#">服务保证</a></dt>
		<dd><a href="#">退换货原则</a></dd>
		<dd><a href="#">售后服务保证</a></dd>
		<dd><a href="#">产品质量保证</a></dd>
	</dl>
	<dl>
		<dt><a href="#">联系我们</a></dt>
		<dd><a href="#">网站故障报告</a></dd>
		<dd><a href="#">购物咨询</a></dd>
		<dd><a href="#">投诉与建议</a></dd>
	</dl>
	<div class="b_tel_bg">
		<a href="#" class="b_sh1">新浪微博</a>
		<a href="#" class="b_sh2">腾讯微博</a>
		<p>
			服务热线：<br />
			<span>400-123-4567</span>
		</p>
	</div>
	<div class="b_er">
		<div class="b_er_c"><img src="${basePath}/static/images/er.gif" width="118" height="118" /></div>
		<img src="${basePath}/static/images/ss.png" />
	</div>
</div>
<div class="btmbg">
	<div class="btm">
		备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 犀鸟商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
		<img src="${basePath}/static/images/b_1.gif" width="98" height="33" /><img src="${basePath}/static/images/b_2.gif" width="98" height="33" /><img src="${basePath}/static/images/b_3.gif" width="98" height="33" /><img src="${basePath}/static/images/b_4.gif" width="98" height="33" /><img src="${basePath}/static/images/b_5.gif" width="98" height="33" /><img src="${basePath}/static/images/b_6.gif" width="98" height="33" />
	</div>
</div>
<!--End Footer End -->
<!-- 底部页面结束 -->


<script type="text/javascript">
	//alert($)
	//微信登录和账号登录切换
	$(".login-tab-r").click(function(){
		$(".login-box").css({"display":"block","visibility":"visible"});
		$(".qrcode-login").css({"display":"none"})				
	});
	$(".login-tab-l").click(function(){
		$(".login-box").css({"display":"none"});
		$(".qrcode-login").css({"display":"block","visibility":"visible"})				
	});
	//点击微信图片显示帮助
	$(".qrcode-img").hover(function(){
		$(".qrcode-img").css({"left": "0"});
		$(".qrcode-help").css({"display":"block"});				
	},function(){
		$(".qrcode-img").css({"left": "64px"});
		$(".qrcode-help").css({"display":"none"});	
	});
	//确认输入用户名密码后，显示验证码
	$("#nloginpwd").blur(function(){
		if(($("#loginname").val() !="" )&&($("#nloginpwd").val() !="")){
		$("#o-authcode").css({"display":"block"});	
	}
	});

</script>
</body></html>