    <div class="left_n">管理中心</div>
    <div class="left_m">
        <div class="left_m_t t_bg1">个人中心</div>
        <ul>
            <li><a href="${basePath}/page/user/true/name/approve/page">实名认证</a></li>
        </ul>
    </div>
    <div class="left_m">
        <div class="left_m_t t_bg2">店铺中心</div>
        <ul>
            <li><a href="${basePath}/page/shop/info">店铺信息</a></li>
            <li><a href="Member_Msg.html">发布商品</a></li>
            <li><a href="Member_Msg.html">商品列表</a></li>
            <li><a href="Member_Links.html">订单管理</a></li>
            <li><a href="#">退款管理</a></li>
        </ul>
    </div>