<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style2.css" />
    <!-- StyleSheets -->
    <link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/jquery-form.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/select.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/phone.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/truename.js"></script>

    <#include "/common_js.html"/>
</head>
<body>
<#include "/title.html"/>
<!--Begin Login Begin-->
<div >
    <div class="top">
        <#include "/logo.html"/>
    </div>
	<div >
		<div  style="width:100%;">
        	<form id="utnform" method="post">
            <table border="0" style="width:650px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="150">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">实名认证</span>
                </td>
              </tr>
              <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;姓名 &nbsp;</td>
                <td>
                    <input type="text" id="trueName" name="trueName" value="${userTrueNameApprove.trueName!''}"   class="l_user"  maxlength="11"/>
                    &nbsp;&nbsp;
                    <a id="trueName_msg" style="color:#ff4e00;"></a>
                </td>
              </tr>
                <tr height="50">
                    <td align="right"><font color="#ff4e00">*</font>&nbsp;证件类型 &nbsp;</td>
                    <td>
                        <input type="hidden" value="${userTrueNameApprove.idcardType!''}" id="idcardTypeValue"/>
                        <select class="l_select" id="idcardType" name="idcardType">
                            <option value="1">身份证</option>
                            <option value="2">护照</option>
                            <option value="3" >海外</option>
                        </select>
                    </td>
                </tr>
                <tr height="50">
                    <td align="right"><font color="#ff4e00">*</font>&nbsp;证件号码 &nbsp;</td>
                    <td>
                        <input type="text" id="idCard" name="idCard" value="${userTrueNameApprove.idCard!''}" class="l_num"  maxlength="30"/>
                        &nbsp;&nbsp;
                        <a id="idCard_msg" style="color:#ff4e00;"></a>
                    </td>
                </tr>
                <tr height="50">
                    <td align="right">&nbsp; &nbsp;</td>
                    <td>
                        &nbsp;&nbsp;<img src="${basePath}/static/images/id_card1.png" >
                    </td>
                </tr>
                <tr height="50">
                    <td align="right"><font color="#ff4e00">*</font>&nbsp;证件正面 &nbsp;</td>
                    <td>
                        <input type="file" name="idcardImg1File" id="idcardImg1File" >
                        <a id="idcardImg1File_msg" style="color:#ff4e00;"></a>
                    </td>
                </tr>
                <tr height="50">
                    <td align="right">&nbsp; &nbsp;</td>
                    <td>
                        &nbsp;&nbsp;<img src="${basePath}/static/images/id_card2.png" >
                    </td>
                </tr>
                <tr height="50">
                    <td align="right"><font color="#ff4e00">*</font>&nbsp;证件背面 &nbsp;</td>
                    <td>
                        <input type="file" name="idcardImg2File" id="idcardImg2File" >
                        <a id="idcardImg2File_msg" style="color:#ff4e00;"></a>
                    </td>
                </tr>
              <tr height="50">
                <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                <td>
                    <input type="text" value="" id="utm_vcode" name="vcode" class="l_ipt" />
                    <span style="vertical-align: middle">
                        &nbsp;&nbsp;<img id="refreshCaptcha" style="width:100px;height:40px;"  src="${basePath}/api/user/vcode" > 点击图片刷新
                    </span>
                    <a id="utm_vcode_msg" style="color:#ff4e00;"></a>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="button" value="重新提交" class="log_btn" onclick="submitTrueName();"/></td>
              </tr>
                <tr height="50">
                    <td align="right"></td>
                    <td>
                        <a id="tn_msg" style="color:#ff4e00;"></a>
                        <br>
                        <br>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 犀鸟商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="${basePath}/static/images/b_1.gif" width="98" height="33" /><img src="${basePath}/static/images/b_2.gif" width="98" height="33" /><img src="${basePath}/static/images/b_3.gif" width="98" height="33" /><img src="${basePath}/static/images/b_4.gif" width="98" height="33" /><img src="${basePath}/static/images/b_5.gif" width="98" height="33" /><img src="${basePath}/static/images/b_6.gif" width="98" height="33" />
    </div>
</div>
<!--End Footer End -->

</body>

<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

        $("#idcardType").val($("#idcardTypeValue").val());
    });

</script>


</html>
