<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="${basePath}/static/css/style2.css" />
    <!-- StyleSheets -->
    <link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/jquery-form.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/select.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/phone.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/truename.js"></script>

    <#include "/common_js.html"/>
</head>
<body>
<#include "/title.html"/>
<!--Begin Login Begin-->
<div >
    <div class="top">
        <#include "/logo.html"/>
    </div>
	<div >
		<div  style="width:100%;">
            <br>
            <br>
            <br>
        	<div style="width:100%;text-align:center">
                <img src="${basePath}/static/images/true_name_approve_submit_success.png" />
            </div>
            <div  style="width:100%;text-align:center">
                <a style="font-size:25px;" target="_blank">提交成功</a>
                <br>
                <br>
                <a style="font-size:15px;" target="_blank">我们将会在1~3个工作日内完成审核</a>
                <br>
                <a style="font-size:15px;" target="_blank">具体请在</a><a style="font-size:15px;color:blue" target="_blank"><b>我的</b></a><a style="font-size:15px;" target="_blank">进行查看</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 犀鸟商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="${basePath}/static/images/b_1.gif" width="98" height="33" /><img src="${basePath}/static/images/b_2.gif" width="98" height="33" /><img src="${basePath}/static/images/b_3.gif" width="98" height="33" /><img src="${basePath}/static/images/b_4.gif" width="98" height="33" /><img src="${basePath}/static/images/b_5.gif" width="98" height="33" /><img src="${basePath}/static/images/b_6.gif" width="98" height="33" />
    </div>
</div>
<!--End Footer End -->

</body>

<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

    });

</script>


</html>
