<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js css-menubar" lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>

    <link rel="stylesheet" href="${basePath}/static/css/selectProviderCityArea/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/globalShopForm.css" />
    <!--<link href="${basePath}/static/lib/jquery-treegrid/bootstrap-2.3.2/css/bootstrap.css" rel="stylesheet">-->
    <script type="text/javascript" src="${basePath}/static/lib/layer/layer.js"></script>
    <link rel="stylesheet" href="${basePath}/static/lib/pagination/toPage.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/tableFreeze/tableFreeze.css" />
    <link rel="stylesheet" href="${basePath}/static/lib/datetimepicker/jquery.datetimepicker.css" />

    <style type="text/css">

    </style>

</head>
<body>

<#include "/top.html"/>

<#assign leftName = "productApprove">

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">商品管理</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">商品审核</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content" >
        <div class="right_bg mb-15" style="width:100%;min-height: 700px;">
            <div class="title" style="border-bottom: 1px solid#9a9999;"><span>审核列表</span></div>
            <div class="right_panel">

                <div class="bootstrap-frm" style="width:100%;max-width:100%;"  >
                    <form id="productApproveForm">
                        <label style="width:40%;float: left;">
                            <span>商品名称 :</span>
                            <input type="text" id="name" maxlength="25"  name="name"   tabindex="1"  style="width:50%" />
                        </label>
                        <label style="width:40%;float: left;">
                            <span>发布日期 :</span>
                            <input type="text" id="startDate"  style="width:30%" />
                            至
                            <input type="text" id="endDate"   style="width:30%" />
                        </label>
                        <label style="width:40%;float: left;">
                            <span>审核状态 :</span>
                            <select>
                                <option>全部</option>
                                <option>审核中</option>
                                <option>审核驳回</option>
                                <option>审核通过</option>
                            </select>
                        </label>
                        <div style="width:40%;float: left;">
                            <input type="button" id="queryBtn" class="button" style="width:100px;" value="查询"  />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" id="resetBtn" class="button" style="width:100px;" value="重置"  />
                        </div>
                    </form>
                </div>
                <div class="pageToolbar">
                    <table id="productApproveTable" class="productApproveTable" border="1" width="900">
                        <tbody>
                        <tr class="tabTh">
                            <td >序号</td>
                            <td >审核状态</td>
                            <td >商品名称</td>
                            <td >商品分类</td>
                            <td >发布时间</td>
                            <td >操作</td>
                        </tr>
                        <tr align="center" class="tabTd">
                            <td>1</td>
                            <td><a style="color:red;">审核驳回</a></td>
                            <td>小米10</td>
                            <td>数码产品/手机</td>
                            <td>2022-4-8 15:06:23</td>
                            <td>
                                <a href="#" style="color:red">查看驳回原因</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" style="color:blue">重新发布</a>
                            </td>
                        </tr>

                        <tr align="center" class="tabTd">
                            <td>1</td>
                            <td><a style="color:green;">审核通过</a></td>
                            <td>小米11</td>
                            <td>数码产品/手机</td>
                            <td>2022-4-8 15:06:23</td>
                            <td></td>
                        </tr>
                        <tr align="center" class="tabTd">
                            <td>1</td>
                            <td>审核中</td>
                            <td>小米9</td>
                            <td>数码产品/手机</td>
                            <td>2022-4-8 15:06:23</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="${basePath}/static/lib/pagination/toPage.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/tableFreeze/tableFreeze.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/product/approve/approve.js"></script>

<script>
    /*容器2参数*/
    var pagegizationConfigObject={
        obj_box:'.pageToolbar',//翻页容器
        total_item:999,//条目总数
        per_num:20,//每页条目数
        current_page:1//当前页
    };
    function drawTable()
    {
        $("#productApproveTable").FrozenTable(2,0,0);
    }

    $(document).ready(function(){
        page_ctrl(pagegizationConfigObject,drawTable);
    });
</script>


<#include "/footer.html"/>



</body></html>





