<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.category.mapper.CategoryMapper">

    <resultMap id="categoryMap" type="com.toucan.shopping.category.entity.Category" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="BIGINT" property="createAdminId" />
        <result column="update_admin_id" jdbcType="BIGINT" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>

    <select id="queryList" resultMap="categoryMap" parameterType="com.toucan.shopping.category.entity.Category">
        select bc.* from t_category bc
        <where>
            1=1

            <if test="id!=null">
                and bc.id = #{id}
            </if>

            <if test="parentId!=null">
                 and bc.parent_id = #{parentId}
            </if>

            <if test="type!=null">
                and bc.type = #{type}
            </if>


            <if test="idArray!=null ">
                and bc.id in
                <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>


            <if test="name!=null and name!=''">
                and bc.name = #{name}
            </if>

            and bc.delete_status = 0

        </where>
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.category.entity.Category" useGeneratedKeys="true" keyProperty="id" >
        insert into t_category(parent_id,icon,name,type,remark,create_date,update_date,create_admin_id,update_admin_id)
        values(#{parentId},#{icon},#{name},#{type},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId})
    </insert>


    <select id="queryById" resultMap="categoryMap" parameterType="java.lang.Long">
        select * from t_category where id=#{categoryId} and delete_status=0
    </select>


    <update id="deleteById">
        update t_category  set delete_status=1 where id=#{id}   and delete_status=0
    </update>


    <update id="update" parameterType="com.toucan.shopping.category.entity.Category">
        update t_category set name=#{name},remark=#{remark},type=#{type},icon=#{icon},
        update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>

    <select id="queryByParentId" resultMap="categoryMap" >
        select bc.* from t_category bc
         where 1=1 and bc.parent_id=#{parentId}   and bc.delete_status=0 order by bc.category_sort desc

    </select>

</mapper>