<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
    </style>


</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layuimini-container" style="height:100%">
    <div class="layui-form layuimini-form">
        <div class="layuimini-main" >
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">商品信息</li>
                    <li>公共属性</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label class="layui-form-label required ">商品名称<a style="color:red;position: absolute;font-weight: bold;line-height: 1.8em;">*</a></label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入商品名称" value="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label required">所属分类</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="categoryId" id="categoryId"  >
                                <input type="text" readonly  id="selectCategoryId" lay-verify="required"  placeholder="请选择所属分类"  class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">所属品牌</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="brandId" id="brandId"  >
                                <input type="text" readonly  id="selectBrand" lay-verify="required"  placeholder="请选择所属品牌"  class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block" >
                                <select name="status"  lay-search="">
                                    <option value="1" >有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">

                        <div class="layui-form-item">
                            <label class="layui-form-label ">公共属性</label>
                            <div class="layui-input-block">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label "></label>
                            <div class="layui-input-block">

                                <script type="text/html" id="toolbarDemo">
                                    <div class="layui-btn-container">
                                        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加属性 </button>
                                    </div>
                                </script>
                                <table class="layui-hide" id="attributeTable" lay-filter="attributeTableFilter"></table>
                                <script type="text/html" id="attributeTableBar">
                                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="moveTop">置顶</a> &nbsp;&nbsp;
                                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="moveUp">上移</a> &nbsp;&nbsp;
                                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="moveDown">下移</a> &nbsp;&nbsp;
                                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="moveBottom">置底</a> &nbsp;&nbsp;
                                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a> &nbsp;&nbsp;
                                </script>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label ">属性预览</label>
                            <div class="layui-input-block">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label "></label>
                            <div class="layui-input-block">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form','element', 'table','carousel'], function () {
        var $ = layui.jquery,
            form = layui.form,
            attributeTable = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        var carousel = layui.carousel;
        var carouselsku = layui.carousel;
        var attributeDataArray = new Array();

        attributeDataArray.push({id:"1111",parentPath:"主体",attributeName:"型号",attributeValue:"12X"});
        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $.ajax({
                url:"[[@{/productSpu/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:{id:form.field.id},
                success:function(data){
                    if(data.code==0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });



        attributeTable.render({
            elem: '#attributeTable',
            toolbar: '#toolbarDemo',
            data:attributeDataArray,
            height:550,
            loading: true,
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {field: 'id', hide:true, title: '属性值ID'},
                    {field: 'parentPath',width: 350,  title: '上级属性路径'},
                    {field: 'attributeName', width: 350,edit: 'text', title: '属性名'},
                    {field: 'attributeValue',width: 350, edit: 'text', title: '属性值'},
                    {title: '操作', minWidth: 400, toolbar: '#attributeTableBar', align: "center"}
                ]
            ],
            page: false,
            skin: 'line'
        });


        //重新加载
        // attributeTable.reload({
        //     data : attributeDataArray
        // });

        /**
         * toolbar监听事件
         */
        attributeTable.on('toolbar(attributeTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加属性',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['80%', '80%'],
                    content: "[[@{/productSpu/addAttributePage}]]"
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });



        $("#selectCategoryId").click(function(){
            index = layer.open({
                title: '选择所属分类',
                type: 1,
                shade: 0.2,
                maxmin:true,

                area: ['20%', '60%'],
                content: "<div id='categoryTree'></div>",
                success:function(layero){

                    loadding = layer.load();
                    $.ajax({
                        url:"[[@{/}]]productSpu/query/category/tree",
                        contentType: "application/json; charset=utf-8",
                        type:'GET',
                        data:null,
                        success:function(data){
                            if(data.code==1)
                            {
                                //渲染
                                var inst1 = tree.render({
                                    elem: '#categoryTree'  //绑定元素
                                    ,data: data.data,
                                    click: function(obj){
                                        if(obj.data.id==-1)
                                        {
                                            layer.msg("不能选择根节点");
                                            return;
                                        }
                                        $("#selectCategoryId").val(obj.data.title);
                                        $("#categoryId").val(obj.data.id);
                                        layer.close(index);
                                    }
                                });
                            }
                        },
                        complete:function()
                        {
                            layer.close(loadding);
                        }
                    });

                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });

        });


    });
</script>
</body>
</html>