<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
    </style>


</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layuimini-container" style="height:100%">
    <div class="layui-form layuimini-form">
        <div class="layuimini-main" >
            <div class="layui-tab layui-tab-brief" lay-filter="productTab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="productInfoTab" >商品信息</li>
                    <li lay-id="commonAttributeTab" id="commonAttributeTab">公共属性</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label class="layui-form-label required ">商品名称<a style="color:red;position: absolute;font-weight: bold;line-height: 1.8em;">*</a></label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入商品名称" value="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label required">商品分类<a style="color:red;position: absolute;font-weight: bold;line-height: 1.8em;">*</a></label>
                            <div class="layui-input-block">
                                <input type="hidden" name="categoryId" id="categoryId"  >
                                <input type="text" readonly  id="selectCategoryId" lay-verify="required"  placeholder="请选择商品分类"  class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">所属品牌<a style="color:red;position: absolute;font-weight: bold;line-height: 1.8em;">*</a></label>
                            <div class="layui-input-block">
                                <input type="hidden" name="brandId" id="brandId"  >
                                <input type="text" readonly  id="selectBrand" lay-verify="required"  placeholder="请选择所属品牌"  class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block" >
                                <select name="status"  lay-search="">
                                    <option value="1" >有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item" style="height:90%">

                        <div class="layui-form-item">
                            <label class="layui-form-label "></label>
                            <div class="layui-input-block" id="commonAttributeList">

                                    <!--<div class="layui-form-item" >-->
                                        <!--<label class="layui-form-label">主体01</label>-->
                                        <!--<div class="layui-input-block">-->
                                            <!--<div class="layui-form-item" style="clear:none;" >-->
                                                <!--<div class="layui-input-block" style="margin-left:0px;">-->
                                                    <!--<input type="checkbox" name="like[write]" title="主体值01">-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="layui-form-item" >-->
                                                <!--<label class="layui-form-label">主体02</label>-->
                                                <!--<div class="layui-input-block">-->
                                                    <!--<div class="layui-form-item" style="clear:none;" >-->
                                                        <!--<div class="layui-input-block" style="margin-left:0px;">-->
                                                            <!--<input type="checkbox" name="like[write]" title="主体值01">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item" >-->
                                                        <!--<label class="layui-form-label">品牌</label>-->
                                                        <!--<div class="layui-input-block">-->
                                                            <!--<input type="checkbox" name="like[write]" title="华为（HUAWEI）">-->
                                                            <!--<input type="checkbox" name="like[write]" title="小米">-->
                                                            <!--<input type="checkbox" name="like[write]" title="苹果">-->
                                                            <!--<input type="checkbox" name="like[write]" title="OPPO">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item" >-->
                                                        <!--<label class="layui-form-label">首销日期</label>-->
                                                        <!--<div class="layui-input-block">-->
                                                            <!--<input type="checkbox" name="like[write]" title="以官网信息为准">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="layui-form-item" >-->
                                                        <!--<label class="layui-form-label">上市年份</label>-->
                                                        <!--<div class="layui-input-block">-->
                                                            <!--<input type="checkbox" name="2020" title="2020年">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="layui-form-item" >-->
                                        <!--<label class="layui-form-label">基本信息</label>-->
                                        <!--<div class="layui-input-block">-->
                                            <!--<div class="layui-form-item" >-->
                                                <!--<label class="layui-form-label">机身材质</label>-->
                                                <!--<div class="layui-input-block">-->
                                                    <!--<input type="checkbox" name="2020" title="以官网信息为准">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="layui-form-item" >-->
                                        <!--<label class="layui-form-label">包装清单</label>-->
                                        <!--<div class="layui-input-block">-->
                                            <!--<input type="checkbox" name="2020" title="暂无">-->
                                        <!--</div>-->
                                    <!--</div>-->

                            </div>
                            <div class="layui-flow-more"><a href="javascript:;"><cite>加载更多</cite></a></div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label ">属性预览</label>
                            <div class="layui-input-block">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label "></label>
                            <div class="layui-input-block">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>

    layui.use(['form','element', 'table','carousel','tree','flow'], function () {
        var $ = layui.jquery,
            form = layui.form,
            attributeTable = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        var carousel = layui.carousel;
        var tree = layui.tree;
        var carouselsku = layui.carousel;
        var flow = layui.flow;
        var loaddingAttributeTree;
        var attributeTotal,attributePage=1,attributeLimit=10;

        element.on('tab(productTab)', function(){

            var layId = this.getAttribute("lay-id");

            //公共属性
            if(layId!=null&&layId=="commonAttributeTab") {
                var categoryName = $("#selectCategoryId").val();
                var categoryId = $("#categoryId").val();
                if (categoryId == null || categoryId == "") {
                    layer.msg("请先选择商品分类");
                    layui.element.tabChange('productTab', "productInfoTab");
                    return;
                }

                loaddingAttributeTree = layer.load();

                $.ajax({
                    url:"[[@{/query/attribute/tree/page}]]",
                    contentType: "application/json; charset=utf-8",
                    type:'POST',
                    data:{categoryId:categoryId},
                    success:function(data){
                        if(data.code==0) {
                            layer.msg(data.msg);
                            return false;
                        }


                        if(data.data!=null) {
                            drawCommonAttributeControl(eval(data.data));
                        }

                    },
                    complete:function()
                    {
                        layer.close(loaddingAttributeTree);
                    }
                });
            }
        });

        function getAttributeHtml(attribute)
        {
            var attHtml = "<div class=\"layui-form-item\" >";
            attHtml+=" <label class=\"layui-form-label\">"+attribute.attributeName+"</label>";
            attHtml+="<div class=\"layui-input-block\">";
            if(attribute.values!=null&&attribute.values.length>0)
            {
                attHtml+=" <div class=\"layui-form-item\" style=\"clear:none;\" >";
                attHtml+=" <div class=\"layui-input-block\" style=\"margin-left:0px;\">";
                for(var vi=0;vi<attribute.values.length;vi++)
                {
                    var attributeValue = attribute.values[i];
                    attHtml+="<input type=\"checkbox\"  title=\""+attributeValue.attributeValue+"\">";
                }
                attHtml+="</div>";
                attHtml+="</div>";
            }
            if(attribute.children!=null&&attribute.children.length>0){
                for(var ci=0;ci<attribute.children.length;ci++)
                {
                    var attributeChild = attribute.children[ci];
                    attHtml+=getAttributeHtml(attributeChild);
                }
            }
            attHtml+="</div>";
            attHtml+="</div>";

        }

        //绘制公共属性控件
        function drawCommonAttributeControl(data)
        {
            if(data.total>0)
            {
                var attributeHtmls = "";
                attributeTotal = data.total;
                for(var i=0;i<data.list.length;i++)
                {
                    attributeHtmls+=getAttributeHtml(data.list[i]);
                }

                $("#commonAttributeList").append(attributeHtmls);
            }
        }



        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $.ajax({
                url:"[[@{/productSpu/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:{id:form.field.id},
                success:function(data){
                    if(data.code==0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                }
            });
            return false;
        });






        $("#selectCategoryId").click(function(){
            var index = layer.open({
                title: '选择所属分类',
                type: 1,
                shade: 0.2,
                maxmin:true,

                area: ['20%', '60%'],
                content: "<div id='categoryTree'></div>",
                success:function(layero){

                    loadding = layer.load();
                    $.ajax({
                        url:"[[@{/}]]productSpu/query/category/tree",
                        contentType: "application/json; charset=utf-8",
                        type:'GET',
                        data:null,
                        success:function(data){
                            if(data.code==1)
                            {
                                //渲染
                                var inst1 = tree.render({
                                    elem: '#categoryTree'  //绑定元素
                                    ,data: data.data,
                                    click: function(obj){
                                        if(obj.data.id==-1)
                                        {
                                            layer.msg("不能选择根节点");
                                            return;
                                        }
                                        $("#selectCategoryId").val(obj.data.path);
                                        $("#categoryId").val(obj.data.id);
                                        layer.close(index);
                                    }
                                });
                            }
                        },
                        complete:function()
                        {
                            layer.close(loadding);
                        }
                    });

                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });

        });


        /**
         * 设置品牌
         * @param brandId
         * @param brandName
         */
        function setBrand(brandId,brandName)
        {
            $("#selectBrand").val(brandName);
            $("#brandId").val(brandId);
        }


        $("#selectBrand").click(function(){
            var categoryName = $("#selectCategoryId").val();
            var categoryId = $("#categoryId").val();
            if(categoryId==null||categoryId=="")
            {
                layer.msg("请先选择商品分类");
                return;
            }
            var index = layer.open({
                title: categoryName+'的品牌列表',
                type: 2,
                shade: 0.2,
                maxmin:true,
                btn: ["<i class='layui-icon layui-icon-ok'></i>确定", "关闭" ],
                yes: function (index) {
                    var brandObject = window["layui-layer-iframe" + index].getSelectBrand();
                    setBrand(brandObject.brandId,brandObject.brandName);
                    layer.close(index);
                },
                area: ['80%', '80%'],
                content: "[[@{/productSpu/selectBrandPage/}]]"+categoryId,
                zIndex: layer.zIndex,
                success: function(layero){
                    layer.setTop(layero);
                }
            });
            $(window).on("resize", function () {
                layer.full(index);
            });

        });



    });
</script>
</body>
</html>