<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/lib/designer/pc/index/bootstrap-4.2.1.css">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/lib/designer/pc/index/font-awesome.5.81.all.css">
    <link rel="stylesheet" href="${basePath}/static/lib/designer/pc/index/style.css">
    <link rel="stylesheet" href="${basePath}/static/lib/designer/pc/index/ui-container.css">
    <link rel="stylesheet" href="${basePath}/static/lib/designer/css/dp-style.css">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/lib/spectrum/spectrum.css">
    <link rel="stylesheet" href="${basePath}/static/css/common/toucan-form-validate.css" />

    <#include "/title.html"/>

    <#include "/shop_common.html"/>
</head>
<body>

<#include "/top.html"/>

<#assign leftName = "pageDesigner">
<#assign menuType = "shopSetting">



<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/designer/index">页面装修</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">PC首页装修</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <input type="hidden" id="position" value="1" />

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">
                <div class="right_panel">

                    <div style="background: white;" >
                        <div>
                            <form id="designerPanelForm">
                            <section class="el-container container-main">
                                <aside class="el-aside main-right" style="width: 250px;">
                                    <header class="el-header header-title" style="height: 60px;font-size: 15px;">常用组件</header>
                                    <div class="draggable-container">
                                        <div class="widget-holder " style="height:600px;">

                                            <#include "/designer/pc/component/shopBanner.html"/>

                                            <#include "/designer/pc/component/shopCategory.html"/>

                                            <div class="fg-widget custom-widget custom-widget-handle components">
                                                <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
                                                <i class="fa fa-times fg-remove-widget" title="remove this widget"></i>
                                                <i class="fas fa-arrows-alt move-widget fg-widget-handle"></i>
                                                <div class="fg-widget-inner fg-widget-inner-bg-color"><label class="fg-widget-handle" style="widht:100%;height:100%">热门商品1</label></div>
                                            </div>

                                            <#include "/designer/pc/component/image.html"/>
                                        </div>
                                    </div>
                                </aside>
                                <section class="el-container is-vertical">
                                    <header class="el-header main-bottom header-padding" style="height: 60px;">
                                            <span class="header-tags el-tag  el-tag--small el-tag--plain">
                                                <span class="publish-btn">保存发布</span>
                                            </span>
                                            <span class="header-tags el-tag el-tag--small el-tag--plain">
                                                <span class="preview-btn">预览</span>
                                            </span>
                                    </header>
                                    <main class="el-main box-padding">
                                        <div class="widget-form-container">
                                            <div id="zone_div">
                                                <div class="flexgrid-container" style="width: 98%; height: 539px;">
                                                    <div class="flexgrid-grid"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </section>
                                <aside class="el-aside main-left" style="width: 250px;">
                                    <div class="el-tabs el-tabs--top" style="margin-top: -4px;">


                                        <div class="mt-tabpage" id="designerProperty">
                                            <div class="mt-tabpage-title">
                                                <a href="javascript:;" attr-page="mtc1" class="mt-tabpage-item mt-tabpage-item-cur">页面设置</a>
                                                <a href="javascript:;" attr-page="mtc2" class="mt-tabpage-item">组件属性</a>
                                            </div>
                                            <div class="mt-tabpage-count">
                                                <div class="mt-tabpage-content mtc1" >
                                                    <#include "/designer/pc/property/pageProperty.html"/>
                                                </div>
                                                <div class="mt-tabpage-content mtc2" >
                                                    <#include "/designer/pc/property/imageProperty.html"/>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </aside>
                            </section>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<#include "/footer.html"/>


<!-- partial -->

<script src="${basePath}/static/js/common/toucan-uuid.js"></script>
<script src="${basePath}/static/js/jquery/jquery-1.10.2.js"></script>
<script src="${basePath}/static/js/jquery/jquery-ui-1.11.0.js"></script>
<script src='${basePath}/static/js/jquery/jquery.ui.touch-punch.min.js'></script>
<script src="${basePath}/static/js/seller/designer/pc/property/componentProperty.js"></script>
<script src="${basePath}/static/js/seller/designer/pc/defineComponent.js"></script>
<script src="${basePath}/static/js/seller/designer/pc/defineModel.js"></script>
<script src="${basePath}/static/js/seller/designer/pc/designerPanel.js"></script>
<script src="${basePath}/static/lib/spectrum/spectrum.js"></script>
<script src="${basePath}/static/js/seller/designer/pc/selectBgColor.js"></script>
<!--再次引用message -->
<script src="${basePath}/static/js/message.js"></script>
<link rel="stylesheet" href="${basePath}/static/css/message.css" />

<script type="text/javascript" src="${basePath}/static/lib/layer/layer.js"></script>
<link rel="stylesheet" href="${basePath}/static/lib/pagination/toPage.css" />
<link rel="stylesheet" href="${basePath}/static/lib/tableFreeze/tableFreeze.css" />
<script type="text/javascript" src="${basePath}/static/lib/pagination/toPage.js"></script>
<script type="text/javascript" src="${basePath}/static/lib/tableFreeze/tableFreeze.js"></script>
<script type="text/javascript" src="${basePath}/static/js/common/toucan-form-validate.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/designer/pc/selectImageDialog.js"></script>
<script type="text/javascript" src="${basePath}/static/js/seller/designer/pc/index.js"></script>
</body>

</html>
