<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/lib/designer/pc/index/bootstrap-4.2.1.css">
    <link rel="stylesheet" type="text/css" href="${basePath}/static/lib/designer/pc/index/font-awesome.5.81.all.css">
    <link rel="stylesheet" href="${basePath}/static/lib/designer/pc/index/style.css">
    <link rel="stylesheet" href="${basePath}/static/lib/designer/pc/index/ui-container.css">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>
</head>
<body>

<#include "/top.html"/>




<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/designer/index">页面装修</a>
        </li>
        <li class="breadcrumb-item">
            <a href="javascript:;">PC首页装修</a>
        </li>
    </ol>


    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15" style="width:100%">
            <div class="index_top_left" style="width:100%">
                <div class="title" style="border-bottom: 1px solid#9a9999;"><span>PC首页装修</span></div>
                <div class="right_panel">

                    <div style="background: white;" >
                        <div>
                            <section class="el-container container-main">
                                <aside class="el-aside main-right" style="width: 250px;">
                                    <header class="el-header header-title" style="height: 60px;font-size: 15px;">常用组件</header>
                                    <div class="draggable-container">
                                        <div class="widget-holder " style="height:600px;">
                                            <div class="fg-widget custom-widget custom-widget-handle ">
                                                <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
                                                <i class="fa fa-times fg-remove-widget" title="remove this widget"></i>
                                                <i class="fas fa-arrows-alt move-widget fg-widget-handle"></i>
                                                <div class="fg-widget-inner"><label class="fg-widget-handle" style="widht:100%;height:100%">轮播图</label></div>
                                            </div>
                                            <div class="fg-widget custom-widget custom-widget-handle ">
                                                <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
                                                <i class="fa fa-times fg-remove-widget" title="remove this widget"></i>
                                                <i class="fas fa-arrows-alt move-widget fg-widget-handle"></i>
                                                <div class="fg-widget-inner"><label class="fg-widget-handle" style="widht:100%;height:100%">店铺分类</label></div>
                                            </div>
                                            <div class="fg-widget custom-widget custom-widget-handle ">
                                                <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
                                                <i class="fa fa-times fg-remove-widget" title="remove this widget"></i>
                                                <i class="fas fa-arrows-alt move-widget fg-widget-handle"></i>
                                                <div class="fg-widget-inner"><label class="fg-widget-handle" style="widht:100%;height:100%">热门商品</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                <section class="el-container is-vertical">
                                    <header class="el-header main-bottom header-padding" style="height: 60px;">
					<span class="header-tags el-tag  el-tag--small el-tag--plain">
						<span>保存发布</span>
					</span>
                                        <span class="header-tags el-tag el-tag--small el-tag--plain">
						<span>预览</span>
					</span>
                                    </header>
                                    <main class="el-main box-padding">
                                        <div class="widget-form-container">
                                            <div id="zone_div">
                                                <div class="flexgrid-container" style="width: 98%; height: 539px;">
                                                    <div class="flexgrid-grid"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </section>
                                <aside class="el-aside main-left" style="width: 250px;">
                                    <div class="el-tabs el-tabs--top" style="margin-top: -4px;">
                                        <div class="el-tabs__header is-top">
                                            <div class="el-tabs__nav-wrap is-top">
                                                <div class="el-tabs__nav-scroll">
                                                    <div role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                                                        <div id="tab-second" aria-controls="pane-second" role="tab" tabindex="0" class="el-tabs__item is-top is-active" aria-selected="true">组件属性</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="el-tabs__content">

                                            <div role="tabpanel" id="pane-second" aria-labelledby="tab-second" class="el-tab-pane" style="">
                                                <div data-v-545b3402="">
                                                    <form data-v-545b3402="" class="el-form el-form--label-top">
                                                        <div data-v-545b3402="" class="el-form-item form-borderbottom el-form-item--mini">
                                                            <label class="el-form-item__label">标签对齐方式</label>
                                                            <div class="el-form-item__content">
                                                                <div data-v-545b3402="" role="radiogroup" class="el-radio-group">
                                                                    <div data-v-545b3402="" class="positon-group">
                                                                        <label data-v-545b3402="" role="radio" tabindex="0" class="el-radio is-checked" aria-checked="true">
														<span class="el-radio__input is-checked">
															<span class="el-radio__inner"></span>
															<input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="right">
														</span>
                                                                            <span class="el-radio__label">右对齐(默认值)
                                                                                <!---->
														</span>
                                                                        </label>
                                                                        <label data-v-545b3402="" role="radio" tabindex="-1" class="el-radio">
														<span class="el-radio__input">
															<span class="el-radio__inner"></span>
															<input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="top">
														</span>
                                                                            <span class="el-radio__label">顶部对齐
                                                                                <!---->
														</span>
                                                                        </label>
                                                                        <label data-v-545b3402="" role="radio" tabindex="-1" class="el-radio">
														<span class="el-radio__input">
															<span class="el-radio__inner"></span>
															<input type="radio" aria-hidden="true" tabindex="-1" class="el-radio__original" value="left">
														</span>
                                                                            <span class="el-radio__label">左对齐
                                                                                <!---->
														</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </section>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<#include "/footer.html"/>


<!-- partial -->
<script src="${basePath}/static/js/jquery/jquery-1.10.2.js"></script>
<script src="${basePath}/static/js/jquery/jquery-ui-1.11.0.js"></script>
<script src='${basePath}/static/js/jquery/jquery.ui.touch-punch.min.js'></script>
<script src="${basePath}/static/js/designer/pc/indexScript.js"></script>
</body>

</html>
