
<div class="fg-widget custom-widget custom-widget-handle components components-image" compoent-type="image"  title="图片">
    <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
    <i class="fa fa-times fg-remove-widget" title="移除"></i>
    <i class="fas fa-arrows-alt move-widget fg-widget-handle" title="移动"></i>
    <div class="fg-widget-inner fg-widget-inner-bg-color designer-component-image-bg">
        <label class="fg-widget-handle fg-widget-handle-label" >图片</label>
    </div>
</div>

