
<div class="fg-widget fg-widget-handle custom-widget custom-widget-handle components components-shopBanner" compoent-type="shopBanner"  title="店铺轮播图">
    <i class="fa fa-chevron-right fg-resize-widget" aria-hidden="true"></i>
    <i class="fa fa-times fg-remove-widget" title="移除"></i>
    <i class="fas fa-arrows-alt move-widget fg-widget-handle" title="移动"></i>
    <div class="fg-widget-inner fg-widget-inner-bg-color designer-component-banner-bg">
        <label class="fg-widget-handle" style="widht:100%;height:100%" >轮播图</label>
    </div>
</div>
