<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">


    <style>
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
        .ztree *{
            font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
        }

        .layui-table-cell { overflow: visible !important; }
    </style>

</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layuimini-container">
    <div class="layuimini-main" style="min-height: 800px;">

        <input type="hidden" id="orderId" name="orderId" th:value="${orderId}">

        <table class="layui-hide" id="orderItemTable" lay-filter="orderItemTableFilter"></table>

        <div class="layui-form-item" style="text-align:center;margin-top: 20px;" >
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="orderUpdateBtn">确认修改</button>
        </div>
    </div>
</div>







<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script>

    var selectSpu={spuName:"",spuId:-1,spuUuid:""};


    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree' //定义该组件模块名
    }).use(['form', 'table','tree','dtree','jquery','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var tree = layui.tree;
        var loadding;
        var loaddingTree;
        var dtree = layui.dtree;
        var laydate = layui.laydate;

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        //配送状态
        form.on('select(deliveryStatus)', function (data) {
            var elem = $(data.elem);
            var trElem = elem.parents('tr');
            var tableData = table.cache['orderItemTable'];
            // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
            tableData[trElem.data('index')][elem.attr('name')] = data.value;
        });

        //卖家备货状态
        form.on('select(sellerStatus)', function (data) {
            var elem = $(data.elem);
            var trElem = elem.parents('tr');
            var tableData = table.cache['orderItemTable'];
            // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
            tableData[trElem.data('index')][elem.attr('name')] = data.value;
        });

        //买家状态
        form.on('select(buyerStatus)', function (data) {
            var elem = $(data.elem);
            var trElem = elem.parents('tr');
            var tableData = table.cache['orderItemTable'];
            // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
            tableData[trElem.data('index')][elem.attr('name')] = data.value;
        });


        //监听提交
        form.on('submit(orderUpdateBtn)', function (data) {
            loadding = layer.load();
            var tableData = table.cache['orderItemTable'];
            for(var i=0;i<tableData.length;i++)
            {
                var row = tableData[i];
                row.deliveryReceiveTime = $("#deliveryReceiveTime_"+row.id).val();
                row.deliveryFinishTime = $("#deliveryFinishTime_"+row.id).val();
                row.sellerFinishTime = $("#sellerFinishTime_"+row.id).val();
                row.buyerFinishTime = $("#buyerFinishTime_"+row.id).val();
            }
            $.ajax({
                url:"[[@{/order/orderItem/updatesFromOrderList}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(tableData),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }

                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                },
                complete:function()
                {
                    layer.close(loadding);
                }
            });
            return false;
        });

        table.render({
            elem: '#orderItemTable',
            url: "[[@{/}]]order/orderItem/all/list",
            method:'POST',
            where:{"orderId":$("#orderId").val()},
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            done:function(res, curr, count)
            {
                var data = res.data;
                for(var i=0;i<data.length;i++)
                {
                    laydate.render({
                        elem: "#deliveryReceiveTime_"+data[i].id //指定元素
                        ,type: 'datetime'
                    });
                    laydate.render({
                        elem: "#deliveryFinishTime_"+data[i].id //指定元素
                        ,type: 'datetime'
                    });
                    laydate.render({
                        elem: "#sellerFinishTime_"+data[i].id //指定元素
                        ,type: 'datetime'
                    });
                    laydate.render({
                        elem: "#buyerFinishTime_"+data[i].id //指定元素
                        ,type: 'datetime'
                    });
                }
                // console.log(res);
            },
            cols: [
                [
                    {field: 'skuId',  title: '商品SKUID', width: 180},
                    {field: 'productSkuName',  title: '商品名称', width: 320},
                    {field: 'httpProductPreviewPath', width: 150, title: '商品预览',
                        templet: function (row) {
                            if(row.httpProductPreviewPath!=null) {
                                return "<a href='" + row.httpProductPreviewPath + "' target='_blank'><img src='" + row.httpProductPreviewPath + "' width='100' height='100'  /></a>";
                            }
                            return "";
                        }},
                    {field: 'deliveryStatus',  title: '配送状态', width: 150,templet:function (row) {
                        var selectHtml="  <select id=\"deliveryStatus\" name='deliveryStatus' lay-filter=\"deliveryStatus\">\n" +
                            "        <option value=\"0\" "+(row.deliveryStatus==0?'selected':'')+">未收货</option>\n" +
                            "        <option value=\"1\" " +(row.deliveryStatus==1?'selected':'')+">送货中</option>\n" +
                            "        <option value=\"2\" "+(row.deliveryStatus==2?'selected':'')+">已收货</option>\n" +
                            "    </select>";
                        return selectHtml;
                    }},
                    {field: 'sellerStatus',  title: '卖家备货状态', width: 150,templet:function (row) {
                            var selectHtml="  <select id=\"sellerStatus\" name='sellerStatus' lay-filter=\"sellerStatus\">\n" +
                                "        <option value=\"0\" "+(row.sellerStatus==0?'selected':'')+">备货中</option>\n" +
                                "        <option value=\"1\" "+(row.sellerStatus==1?'selected':'')+">备货完成</option>\n" +
                                "        <option value=\"2\" "+(row.sellerStatus==2?'selected':'')+">缺货</option>\n" +
                                "    </select>";
                            return selectHtml;
                    }},
                    {field: 'buyerStatus',  title: '买家状态', width: 150,templet: function (row) {
                            var selectHtml=" <select id=\"buyerStatus\" name='buyerStatus' lay-filter=\"buyerStatus\">\n" +
                                "        <option value=\"0\" "+(row.buyerStatus==0?'selected':'')+">待收货</option>\n" +
                                "        <option value=\"1\" "+(row.buyerStatus==1?'selected':'')+">已收货</option>\n" +
                                "        <option value=\"2\" "+(row.buyerStatus==2?'selected':'')+">换货</option>\n" +
                                "        <option value=\"3\" "+(row.buyerStatus==3?'selected':'')+">退货</option>\n" +
                                "    </select>";
                            return selectHtml;
                    }},
                    {field: 'productPrice',  title: '商品单价', width: 120},
                    {field: 'productNum',  title: '购买数量', width: 120},
                    {field: 'orderItemAmount',  title: '总金额', width: 120},
                    {field: 'deliveryReceiveTime',  title: '收货时间', width: 200,templet: function (row) {
                            var selectHtml="<input type=\"text\" id=\"deliveryReceiveTime_"+row.id+"\" value=\""+(row.deliveryReceiveTime!=null?row.deliveryReceiveTime:'')+"\"  class=\"layui-input\">";
                            return selectHtml;
                    }},
                    {field: 'deliveryFinishTime',  title: '配送完成时间', width: 200,templet: function (row) {
                            var selectHtml="<input type=\"text\" id=\"deliveryFinishTime_"+row.id+"\"  value=\""+(row.deliveryFinishTime!=null?row.deliveryFinishTime:'')+"\" class=\"layui-input\">";
                            return selectHtml;
                        }},
                    {field: 'sellerFinishTime',  title: '卖家完成时间', width: 200,templet: function (row) {
                            var selectHtml="<input type=\"text\" id=\"sellerFinishTime_"+row.id+"\"  value=\""+(row.sellerFinishTime!=null?row.sellerFinishTime:'')+"\" class=\"layui-input\">";
                            return selectHtml;
                        }},
                    {field: 'buyerFinishTime',  title: '买家完成时间', width: 200,templet: function (row) {
                            var selectHtml="<input type=\"text\" id=\"buyerFinishTime_"+row.id+"\"  value=\""+(row.buyerFinishTime!=null?row.buyerFinishTime:'')+"\" class=\"layui-input\">";
                            return selectHtml;
                        }},
                    {field: 'freightTemplateId',  title: '运费模板ID', width: 180}
                ]
            ],
            page: false,
            skin: 'line',
            height:'full-95'
        });



        //监听表格复选框选择
        table.on('checkbox(orderItemTableFilter)', function (obj) {
            // console.log(obj)
        });

        table.on('tool(orderItemTableFilter)', function (obj) {
            var data = obj.data;
        });


    });
</script>

</body>
</html>