<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">


    <style>
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
        .ztree *{
            font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
        }
    </style>

</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layuimini-container">
    <div class="layuimini-main">

        <input type="hidden" id="orderId" name="orderId" th:value="${orderId}">

        <table class="layui-hide" id="orderItemTable" lay-filter="orderItemTableFilter"></table>

    </div>
</div>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script>

    var selectSpu={spuName:"",spuId:-1,spuUuid:""};


    function getSelectSpu()
    {
        return selectSpu;
    }


    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree' //定义该组件模块名
    }).use(['form', 'table','tree','dtree','jquery'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var tree = layui.tree;
        var loadding;
        var loaddingTree;
        var dtree = layui.dtree;

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };


        table.render({
            elem: '#orderItemTable',
            url: "[[@{/}]]/order/orderItem/all/list/"+$("#orderId").val(),
            method:'POST',
            where:{},
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            done:function(res, curr, count)
            {
                console.log(res);
            },
            cols: [
                [
                    {field: 'id',  title: '商品ID', width: 150},
                    {field: 'updateDate', width: 150, title: '修改时间'}
                ]
            ],
            page: false,
            skin: 'line'
        });



        //监听表格复选框选择
        table.on('checkbox(orderItemTableFilter)', function (obj) {
            // console.log(obj)
        });

        table.on('tool(orderItemTableFilter)', function (obj) {
            var data = obj.data;
        });


    });
</script>

</body>
</html>