<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-table img{
            max-width: 260px;
        }
    </style>

    <style>
        /*#contentEditor { width: 100%; border: 1px solid #ccc; }*/
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 500px; }
        /*#contentEditor .w-e-textarea-video-container video{ width: 100%; }*/
    </style>
</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layui-form layuimini-form">

    <input type="hidden" name="columnId" id="columnId" th:value="${columnId}">

    <div class="layui-form-item">
        <label class="layui-form-label required">栏目名称</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${columnName}"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label required">文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入文章标题" value="" class="layui-input">
            <tip>填写文章标题。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">封面图片</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="uploadCoverImgUrl">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
        <input type="hidden" id="coverImgUrl" name="coverImgUrl" >
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预览封面</label>
        <div class="layui-input-block">
            <img  id="previewCoverImgUrl" th:width="240" th:height="220">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">开始展示时间</label>
        <div class="layui-input-block">
            <input type="text" id="startShowDate" name="startShowDate" class="layui-input" lay-verify="required" readonly >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">结束展示时间</label>
        <div class="layui-input-block">
            <input type="text" id="endShowDate" name="endShowDate" class="layui-input" lay-verify="required" readonly >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">显示状态</label>
        <div class="layui-input-block">
            <select name="showStatus" lay-verify="required" lay-search="">
                <option value="1" selected>显示</option>
                <option value="0">隐藏</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">排序</label>
        <div class="layui-input-block">
            <input type="number" name="articleSort"  placeholder="请输入排序"  class="layui-input" lay-verify="number">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block">
            <div id="content"  style="height:600px" >

            </div>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>


<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/common/common.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/ueditor-plus/ueditor.config.js}" charset="utf-8"></script>
<script th:src="@{/lib/ueditor-plus/ueditor.all.js}" charset="utf-8"></script>
<script th:src="@{/lib/ueditor-plus/lang/zh-cn/zh-cn.js?7a537435}" charset="utf-8"></script>

<script>
    layui.config({
        base: basePath //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: '/lib/layui_ext/dtree/dtree' //定义该组件模块名
    }).use(['form', 'element','dtree','upload', 'table','laydate','jquery'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            $ = layui.$;
        var dtree = layui.dtree;
        var loadding;

        var upload = layui.upload;
        var laydate = layui.laydate;



        //初始化时间控件
        laydate.render({
            elem: '#startShowDate' //指定元素
            ,type: 'datetime'
        });

        //初始化时间控件
        laydate.render({
            elem: '#endShowDate' //指定元素
            ,type: 'datetime'
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            alert(UE.getEditor('content').getContent());
            loadding = layer.load();
            $.ajax({
                url:"[[@{/article/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                },
                complete:function()
                {
                    layer.close(loadding);
                }
            });


            return false;
        });



        //执行实例
        var uploadInst = upload.render({
            elem: '#uploadCoverImgUrl' //绑定元素
            ,url: '/article/upload/img' //上传接口
            ,done: function(res){
                if(res.code==1)
                {
                    layer.msg(res.msg);
                }
                $("#previewCoverImgUrl").attr("src",res.data.httpCoverImgUrl);
                $("#coverImgUrl").val(res.data.coverImgUrl);
            }
            ,error: function(){
                layer.msg("上传异常");
            }
        });

        var ue = UE.getEditor('content',{
            // autoHeightEnabled: false,
        });
        ue.on('contentchange', function () {
            // console.log('contentchange', ue.getContent());
        });


        // 表单重载
        form.render();
        element.render();

    });
</script>

<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.excheck.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.exedit.js}"></script>

</body>
</html>