<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/wangEditor/css/style.css}" >
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-table img{
            max-width: 260px;
        }
    </style>

    <style>
        #contentEditor { width: 100%; border: 1px solid #ccc; }
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 500px; }
        #contentEditor .w-e-textarea-video-container video{ width: 100%; }
    </style>
</head>
<body>

<span th:replace="common_page::common"></span>


<div class="layui-form layuimini-form">

    <input type="hidden" name="columnId" id="columnId" th:value="${columnId}">

    <div class="layui-form-item">
        <label class="layui-form-label required">栏目名称</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${columnName}"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label required">文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" maxlength="100" lay-reqtext="不能为空" placeholder="请输入文章标题" value="" class="layui-input">
            <tip>填写文章标题。</tip>
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block">
            <div id="contentEditor">
                <div id="toolbar-container"><!-- 工具栏 --></div>
                <div id="editor-container"><!-- 编辑器 --></div>
                <input type="hidden" name="content" id="get_content">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>


<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/common/common.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/wangEditor/js/index.min.js}" charset="utf-8"></script>

<script>
    layui.config({
        base: basePath //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: '/lib/layui_ext/dtree/dtree' //定义该组件模块名
    }).use(['form', 'element','dtree', 'table','laydate','jquery'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            element = layui.element,
            $ = layui.$;
        var dtree = layui.dtree;
        var loadding;

        var laydate = layui.laydate;



        //初始化时间控件
        laydate.render({
            elem: '#startShowDate' //指定元素
            ,type: 'datetime'
        });

        //初始化时间控件
        laydate.render({
            elem: '#endShowDate' //指定元素
            ,type: 'datetime'
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {

            loadding = layer.load();
            $.ajax({
                url:"[[@{/article/save}]]",
                contentType: "application/json; charset=utf-8",
                type:'POST',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data.code<=0) {
                        layer.msg(data.msg);
                        return false;
                    }
                    var index = layer.alert(data.msg, {
                        title: '提示信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.close(iframeIndex);

                    });
                },
                complete:function()
                {
                    layer.close(loadding);
                }
            });


            return false;
        });



        //初始化富文本
        const { createEditor, createToolbar } = window.wangEditor;
        const editorConfig = {
            autoFocus: false,
            placeholder: '',
            MENU_CONF: {},
            hoverbarKeys: {
                'image': {},
                'video': {}
            },
            onChange(editor) {
                const html = editor.getHtml();
                document.getElementById('get_content').value = html
                // console.log('editor content', html)
                // 也可以同步到 <textarea>
            }
        }
        // 上传图片
        editorConfig.MENU_CONF['uploadImage'] = {
            server: 'admin/upload/upload', // 上传图片地址
            timeout: 5 * 1000, // 5s
            fieldName: 'file',
            metaWithUrl: false, // 参数拼接到 url 上
            headers: { Accept: 'text/x-json' },
            maxFileSize: 10000 * 1024 * 1024, // 10M
            base64LimitSize: 5 * 1024, // 5kb 以下插入 base64
            customInsert(res, insertFn) {
                let str = res.data.split('/');
                insertFn(res.data, str[str.length - 1], res.data)
            },
            onBeforeUpload(files) {
                // console.log('onBeforeUpload', files)
                return files // 返回哪些文件可以上传
                // return false 会阻止上传
            },
            onProgress(progress) { },
            onSuccess(file, res) { },
            onFailed(file, res) { },
            onError(file, err, res) { }
        }
        // 上传视频
        editorConfig.MENU_CONF['uploadVideo'] = {
            server: 'admin/upload/upload', // 上传视频地址
            timeout: 500 * 1000, // 5s
            fieldName: 'file',
            metaWithUrl: false, // 参数拼接到 url 上
            maxFileSize: 20000 * 1024 * 1024, // 10M
            customInsert(res, insertFn) { // 自定义插入视频
                insertFn(res.data, res.data+'?x-oss-process=video/snapshot,t_100,f_jpg')
            },
            onBeforeUpload(files) { // 上传之前触发
                layer.msg('视频上传中...', { icon: 16, shade: 0.01, time: 0 });
                return files // 返回哪些文件可以上传
                // return false 会阻止上传
            },
            // 上传进度的回调函数
            onProgress(progress) { },
            // 单个文件上传成功之后
            onSuccess(file, res) {
                layer.close(layer.msg());//关闭上传提示窗口
            },
            // 单个文件上传失败
            onFailed(file, res) { },
            // 上传错误，或者触发 timeout 超时
            onError(file, err, res) {
                layer.msg(`${file.name} 上传出错`);
                console.log(`${file.name} 上传出错`, err, res)
            }
        }
        const editor = createEditor({
            selector: '#contentEditor',
            html: '',
            // config: editorConfig,
            mode: 'simple' // 'default' or 'simple'
        });
        const toolbarConfig = {
            toolbarKeys: [
                "bold","underline","italic","through","clearStyle","color","fontSize","indent",
                "justifyRight","justifyLeft","justifyCenter","justifyJustify","lineHeight",
                "deleteImage","editImage","divider","insertLink",
                "blockquote","headerSelect","header1","header2","bulletedList",
                "uploadVideo","uploadImage"
            ]
        };
        const toolbar = createToolbar({
            editor,
            selector: '#toolbar-container',
            config: toolbarConfig,
            mode: 'simple' // 'default' or 'simple'
        });


        // 表单重载
        form.render();
        element.render();

    });
</script>

<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.excheck.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.exedit.js}"></script>

</body>
</html>