<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>商城后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/dtree.css}" >
    <link rel="stylesheet" th:href="@{/lib/layui_ext/dtree/font/dtreefont.css}" >
    <link rel="stylesheet" th:href="@{/lib/zTree/css/zTreeStyle/zTreeStyle.css}" >


    <style>
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
        .ztree *{
            font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
        }
    </style>

</head>
<body>

<span th:replace="common_page::common"></span>

<div class="layui-layout">
    <div class="layui-side ">

        <div class="layuimini-container" style="height:90%;overflow-x: auto;">
            <div class="layuimini-main">
                <div class="layui-card">
                    <div class="layui-card-header">所属栏目</div>
                    <div class="layui-card-body" >
                        <ul id="columnTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-body">

        <div class="layuimini-container">
            <div class="layuimini-main">

                <fieldset class="table-search-fieldset">
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" id="articleForm" action="">
                            <input type="hidden" id="columnId" name="columnId" value="-1">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">作者</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="author" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">SEO标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="seoTitle" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">SEO关键字</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="seoKeywords" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">展示时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="startShowDate" name="startShowDate" class="layui-input"  readonly >
                                    </div>
                                    至&nbsp;&nbsp;
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" id="endShowDate" name="endShowDate" class="layui-input"  readonly >
                                    </div>
                                    <input type="checkbox" name="perpetualStatus" lay-filter="perpetualStatusFilter" value="1" id="perpetualStatus_1" title="永远" >
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">显示状态</label>
                                    <div class="layui-input-inline">
                                        <select id="showStatus" name="showStatus"  lay-search="">
                                            <option value="-1">全部</option>
                                            <option value="1">显示</option>
                                            <option value="0">隐藏</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button type="submit" id="queryButton" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                    <button type="reset" class="layui-btn layui-btn-primary" id="data-reset-btn" >重 置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>

                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <span th:each="tb : ${toolbarButtons}" th:utext="${tb}"></span>

                    </div>
                </script>

                <table class="layui-hide" id="articleTable" lay-filter="articleTableFilter"></table>

                <script type="text/html" id="articleTableBar">
                    <span th:each="btn : ${rowButtons}" th:utext="${btn}"></span>
                </script>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="pcProductSkuPreviewPage" th:value="${pcProductSkuPreviewPage}"/>

<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.excheck.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree/js/jquery.ztree.exedit.js}"></script>
<script>

    function clickSearch(){
        $("#queryButton").click();
    }

    layui.config({
        base: basePath+'/lib/layui_ext/dtree/' //配置 layui 第三方扩展组件存放的基础目录
    }).extend({
        dtree: 'dtree' //定义该组件模块名
    }).use(['form', 'table','tree','dtree','jquery','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var index;
        var tree = layui.tree;
        var loadding;
        var loaddingTree;
        var dtree = layui.dtree;

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        function getFormParam()
        {
            var formParam = $("#articleForm").serializeJson();
            return formParam;
        }


        table.render({
            elem: '#articleTable',
            url: "[[@{/}]]article/list",
            method:'POST',
            where:getFormParam(),
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter',  {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            done:function(res, curr, count)
            {
            },
            cols: [
                [
                    {type: "checkbox", width: 50},
                    {field: 'id',  title: '文章ID', hide:true, width: 20},
                    {field: 'httpCoverImgUrl', width: 100, title: '封面预览',
                        templet: function (row) {
                            if(row.httpCoverImgUrl!=null&&row.httpCoverImgUrl!="") {
                                return "<a href='" + row.httpCoverImgUrl + "' target='_blank'><img src='" + row.httpCoverImgUrl + "' width='30' height='30'  /></a>";
                            }
                            return "";
                        }},
                    {field: 'title',  title: '标题', width: 200},
                    {field: 'startShowDate',  title: '开始展示时间', width: 220},
                    {field: 'endShowDate',  title: '结束展示时间', width: 220,
                        templet: function (row) {
                            if(row.perpetualStatus == "1"){
                                return "永远"
                            }
                            return row.endShowDate;
                        }},
                    {field: 'author',  title: '作者', width: 100},
                    {field: 'publishDate',  title: '发布时间', width: 100},
                    {field: 'contentUrl',  title: '内容链接地址', width: 150},
                    {field: 'abstractContent',  title: '摘要内容', width: 150},
                    {field: 'seoTitle',  title: 'seo标题', width: 100},
                    {field: 'seoKeywords',  title: 'seo关键字', width: 100},
                    {field: 'seoDescription',  title: 'seo简介', width: 150},
                    {field: 'showStatus', title: '显示状态',
                        templet: function (row) {
                            if(row.showStatus == "0"){
                                return "隐藏"
                            }else
                            if(row.showStatus == "1"){
                                return "显示"
                            }
                            return row.showStatus;
                        }, width: 100},
                    {field: 'articleSort',  title: '排序值', width: 100},
                    {field: 'createDate', width: 200, title: '创建时间'},
                    {title: '操作', minWidth: 300, toolbar: '#articleTableBar', align: "center"}
                ]
            ],
            limits: [15,30,100,200],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('articleTable', {
                page: {
                    curr: 1
                }
                , where: data.field
            }, 'data');

            return false;
        });



        var laydate = layui.laydate;

        //初始化时间控件
        laydate.render({
            elem: '#startShowDate' //指定元素
            ,type: 'datetime'
        });

        //初始化时间控件
        laydate.render({
            elem: '#endShowDate' //指定元素
            ,type: 'datetime'
            ,done: function(date){
                $('input[name="perpetualStatus"]').prop('checked', false);
                form.render('checkbox');
            }
        });


        form.on('checkbox(perpetualStatusFilter)', function(data) {
            if (data.elem.checked == true) {
                $("#endShowDate").val("");
                // form.render();
            }
        });

        $("#data-reset-btn").click(function(){
            $("#articleForm")[0].reset();
            layui.form.render();
        });


        var setting = {
            async: {
                enable: true,
                url:"[[@{/}]]article/query/column/tree/pid",
                autoParam:["id", "pid", "name"],
                dataFilter: filter
            },
            data:{
                simpleData:{
                    enable: true,
                    idKey:'id',
                    pIdKey:'parentId',
                    rootPId: -1
                }
            },
            view:{
                showIcon: true
            },
            callback: {
                onClick: columnTreeClick
            }
        };

        function columnTreeClick(event, treeId, treeNode) {
            // $("#inp").val("id="+treeNode.id + ", name=" + treeNode.name + ",pId=" + treeNode.pId);
            $("#columnId").val(treeNode.id);
            $("#queryButton").click();
        }

        initCategoryTree();

        function filter(treeId, parentNode, data) {
            return data.data;
        }
        //初始化树
        function initCategoryTree(){

            loaddingTree = layer.load();
            $.ajax({
                url:"[[@{/}]]article/query/column/tree/pid",
                type:"POST",
                dataType: "json",
                success: function(data){
                    var zTreeObj = $.fn.zTree.init($("#columnTree"),setting, data.data);
                },
                error: function(){

                },
                complete:function()
                {
                    layer.close(loaddingTree);
                }
            });
        }

        /**
         * toolbar监听事件
         */
        table.on('toolbar(articleTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var columnId = $("#columnId").val();
                if(columnId==null||columnId==""||columnId=="-1")
                {
                    layer.msg("请选择栏目");
                    return ;
                }
                var index = layer.open({
                    title: '添加文章',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,

                    area: ['100%', '100%'],
                    content: "[[@{/article/addPage?columnId=}]]"+columnId
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
            
        });



        //监听表格复选框选择
        table.on('checkbox(articleTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(articleTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event == 'edit') {
                var index = layer.open({
                    title: '编辑文章',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    area: ['100%', '100%'],
                    content: '[[@{/}]]article/editPage/'+data.id
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }else if (obj.event == 'delete') {
                layer.confirm("确定要删除\""+data.title+"\"?", function (index) {
                    $.ajax({
                        url:"[[@{/}]]article/delete/"+data.id,
                        contentType: "application/json; charset=utf-8",
                        type:'DELETE',
                        success:function(data){
                            layer.msg(data.msg);

                            //执行搜索重载
                            table.reload('articleTable', {
                                page: {
                                    curr: 1
                                }
                                , where: data.field
                            }, 'data');

                        },
                        complete:function(data)
                        {
                            layer.close(index);
                        }
                    });
                });
            }
        });


    });
</script>


</body>
</html>