<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.AttributeValueMapper">

    <resultMap id="attributeValueMap" type="com.toucan.shopping.modules.product.entity.AttributeValue" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="attribute_value" jdbcType="VARCHAR" property="attributeValue" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="attribute_value_extend1" jdbcType="VARCHAR" property="attributeValueExtend1" />
        <result column="attribute_value_extend2" jdbcType="VARCHAR" property="attributeValueExtend2" />
        <result column="attribute_value_extend3" jdbcType="VARCHAR" property="attributeValueExtend3" />
        <result column="attribute_sort" jdbcType="BIGINT" property="attributeSort" />
        <result column="query_status" jdbcType="INTEGER" property="queryStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="attributeValueVOMap" type="com.toucan.shopping.modules.product.vo.AttributeValueVO" extends="attributeValueMap" >
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="attributeValue!=null and attributeValue!='' ">
            and t.attribute_value  like concat(#{attributeValue},'%')
        </if>

        <if test="attributeValueExtend1!=null and attributeValueExtend1!='' ">
            and t.attribute_value_extend1  like concat(#{attributeValueExtend1},'%')
        </if>
        <if test="attributeValueExtend2!=null and attributeValueExtend2!='' ">
            and t.attribute_value_extend2  like concat(#{attributeValueExtend2},'%')
        </if>
        <if test="attributeValueExtend3!=null and attributeValueExtend3!='' ">
            and t.attribute_value_extend3  like concat(#{attributeValueExtend3},'%')
        </if>

        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>


        <if test="attributeKeyId!=null">
            and t.attribute_key_id = #{attributeKeyId}
        </if>

        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>

        <if test="queryStatus!=null and queryStatus!=-1">
            and t.query_status = #{queryStatus}
        </if>

        and t.delete_status=0

    </sql>

    <sql id="queryListWhere">
        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="idArray!=null and idArray.length>0 ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>

        <if test="queryStatus!=null and queryStatus!=-1">
            and t.query_status = #{queryStatus}
        </if>

        <if test="attributeKeyIdList!=null and attributeKeyIdList.size>0">
            and t.attribute_key_id in
            <foreach item="item" index="index" collection="attributeKeyIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        and t.delete_status = 0
    </sql>


    <select id="queryList" resultMap="attributeValueVOMap" parameterType="com.toucan.shopping.modules.product.vo.AttributeValueVO">
        select t.* from t_attribute_value t
        <where>
            1=1

            <include refid="queryListWhere" />



        </where>
    </select>


    <select id="queryListBySortDesc" resultMap="attributeValueVOMap" parameterType="com.toucan.shopping.modules.product.vo.AttributeValueVO">
        select t.* from t_attribute_value t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>

        order by t.attribute_sort desc
    </select>


    <insert id="inserts"   >
        insert into t_attribute_value(id,query_status,attribute_value_extend1,attribute_value_extend2,attribute_value_extend3,attribute_value,attribute_key_id,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status,show_status)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.queryStatus},#{entity.attributeValueExtend1},#{entity.attributeValueExtend2},#{entity.attributeValueExtend3},#{entity.attributeValue},#{entity.attributeKeyId},#{entity.attributeSort},#{entity.remark},#{entity.createDate},#{entity.updateDate},#{entity.createAdminId},#{entity.updateAdminId},#{entity.deleteStatus},#{entity.showStatus})
        </foreach>

    </insert>


    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.AttributeValue"  keyProperty="id" >
        insert into t_attribute_value(id,query_status,attribute_value_extend1,attribute_value_extend2,attribute_value_extend3,attribute_value,attribute_key_id,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status,show_status)
        values(#{id},#{queryStatus},#{attributeValueExtend1},#{attributeValueExtend2},#{attributeValueExtend3},#{attributeValue},#{attributeKeyId},#{attributeSort},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId},#{deleteStatus},#{showStatus})
    </insert>


    <select id="queryListPage" resultMap="attributeValueVOMap" parameterType="com.toucan.shopping.modules.product.page.AttributeValuePageInfo">
         select t.* from t_attribute_value t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>



    <update id="update" parameterType="com.toucan.shopping.modules.product.entity.AttributeValue">
        update t_attribute_value set attribute_value_extend1=#{attributeValueExtend1},attribute_value_extend2=#{attributeValueExtend2},attribute_value_extend3=#{attributeValueExtend3},
          attribute_value=#{attributeValue},attribute_sort=#{attributeSort},remark=#{remark},show_status=#{showStatus},
          update_admin_id=#{updateAdminId},update_date=#{updateDate},query_status=#{queryStatus}
          where id=#{id}
    </update>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.AttributeValuePageInfo">
          select count(*) from t_attribute_value t
            <where>
                <include refid="queryListPageWhere" />
            </where>

    </select>



    <update id="deleteById">
        update t_attribute_value  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


    <update id="deleteByAttributeKeyId">
        update t_attribute_value  set delete_status=1 where attribute_key_id=#{attributeKeyId}  and delete_status=0
    </update>
</mapper>