<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.AttributeValueMapper">

    <resultMap id="attributeValueMap" type="com.toucan.shopping.modules.product.entity.AttributeValue" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="attribute_value" jdbcType="VARCHAR" property="attributeValue" />
        <result column="attribute_sort" jdbcType="BIGINT" property="attributeSort" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="attributeValueVOMap" type="com.toucan.shopping.modules.product.vo.AttributeValueVO" extends="attributeValueMap" >
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="attributeValue!=null and attributeValue!='' ">
            and t.attribute_value  like concat(#{attributeValue},'%')
        </if>

        <if test="attributeKeyId!=null">
            and t.attribute_key_id = #{attributeKeyId}
        </if>

        and t.delete_status=0

    </sql>

    <sql id="queryListWhere">
        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="idArray!=null ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        <if test="attributeKeyIdList!=null and attributeKeyIdList.size>0">
            and t.attribute_key_id in
            <foreach item="item" index="index" collection="attributeKeyIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        and t.delete_status = 0
    </sql>


    <select id="queryList" resultMap="attributeValueVOMap" parameterType="com.toucan.shopping.modules.product.vo.AttributeValueVO">
        select t.* from t_attribute_value t
        <where>
            1=1

            <include refid="queryListWhere" />



        </where>
    </select>
    

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.AttributeValue"  keyProperty="id" >
        insert into t_attribute_value(id,attribute_value,attribute_key_id,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status)
        values(#{id},#{attributeValue},#{attributeKeyId},#{attributeSort},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId},#{deleteStatus})
    </insert>


    <select id="queryListPage" resultMap="attributeValueVOMap" parameterType="com.toucan.shopping.modules.product.page.AttributeValuePageInfo">
         select t.* from t_attribute_value t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>



    <update id="update" parameterType="com.toucan.shopping.modules.product.entity.AttributeValue">
        update t_attribute_value set attribute_key_id=#{attributeKeyId},attribute_value=#{attributeValue},attribute_sort=#{attributeSort},remark=#{remark},
          update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.AttributeValuePageInfo">
          select count(*) from t_attribute_value t
            <where>
                <include refid="queryListPageWhere" />
            </where>

    </select>



    <update id="deleteById">
        update t_attribute_value  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


</mapper>