<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.AttributeKeyMapper">

    <resultMap id="attributeKeyMap" type="com.toucan.shopping.modules.product.entity.AttributeKey" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="attribute_name" jdbcType="VARCHAR" property="attributeName" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="attribute_type" jdbcType="INTEGER" property="attributeType" />
        <result column="attribute_sort" jdbcType="BIGINT" property="attributeSort" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="query_status" jdbcType="INTEGER" property="queryStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="attributeKeyVOMap" type="com.toucan.shopping.modules.product.vo.AttributeKeyVO" extends="attributeKeyMap" >
    </resultMap>

    <sql id="queryListPageWhere">

        <if test="attributeName!=null and attributeName!='' ">
            and t.attribute_name  like concat('%',#{attributeName},'%')
        </if>

        <if test="categoryId!=null and categoryId!=-1">
            and t.category_id = #{categoryId}
        </if>

        <if test="parentId!=null">
            and t.parent_id = #{parentId}
        </if>

        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>

        <if test="attributeType!=null and attributeType!=-1">
            and t.attribute_type = #{attributeType}
        </if>

        <if test="queryStatus!=null and queryStatus!=-1">
            and t.query_status = #{queryStatus}
        </if>

        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        and t.delete_status = 0

    </sql>

    <sql id="queryListWhere">

        <if test="attributeName!=null and attributeName!='' ">
            and t.attribute_name  like concat('%',#{attributeName},'%')

        </if>

        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="parentId!=null">
            and t.parent_id = #{parentId}
        </if>

        <if test="categoryId!=null">
            and t.category_id = #{categoryId}
        </if>

        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>

        <if test="queryStatus!=null and queryStatus!=-1">
            and t.query_status = #{queryStatus}
        </if>

        <if test="attributeType!=null and attributeType!=-1">
            and t.attribute_type = #{attributeType}
        </if>


        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="idArray!=null and idArray.length>0 ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        <if test="idList!=null and idList.size>0 ">
            and t.id in
            <foreach item="item" index="index" collection="idList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

        and t.delete_status = 0

    </sql>


    <select id="queryList" resultMap="attributeKeyVOMap" parameterType="com.toucan.shopping.modules.product.vo.AttributeKeyVO">
        select t.* from t_attribute_key t
        <where>
            1=1

            <include refid="queryListWhere" />
        </where>
    </select>


    <select id="exists" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.vo.AttributeKeyVO">
        select count(*) from t_attribute_key t
        <where>
            1=1
            <if test="attributeName!=null ">
                and t.attribute_name = #{attributeName}

            </if>

            <if test="parentId!=null">
                and t.parent_id = #{parentId}
            </if>

            <if test="categoryId!=null">
                and t.category_id = #{categoryId}
            </if>
        </where>
    </select>



    <select id="queryListBySortDesc" resultMap="attributeKeyVOMap" parameterType="com.toucan.shopping.modules.product.vo.AttributeKeyVO">
        select t.* from t_attribute_key t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>
        order by t.attribute_sort desc
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.AttributeKey"  keyProperty="id" >
        insert into t_attribute_key(id,query_status,attribute_type,attribute_name,category_id,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status,show_status,parent_id)
        values(#{id},#{queryStatus},#{attributeType},#{attributeName},#{categoryId},#{attributeSort},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId},#{deleteStatus},#{showStatus},#{parentId})
    </insert>


    <select id="queryListPage" resultMap="attributeKeyVOMap" parameterType="com.toucan.shopping.modules.product.page.AttributeKeyPageInfo">
         select t.* from t_attribute_key t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>

    <select id="queryById" resultMap="attributeKeyVOMap" parameterType="java.lang.Long">
        select t.*  from t_attribute_key t where id =#{id}  and delete_status = 0  limit 0,1
    </select>


    <select id="queryListByParentId" resultMap="attributeKeyVOMap" parameterType="java.lang.Long">
        select t.*  from t_attribute_key t where parent_id =#{parentId} and delete_status = 0
    </select>



    <select id="queryListByParentIdBySortDesc" resultMap="attributeKeyVOMap" parameterType="java.lang.Long">
        select t.*  from t_attribute_key t where parent_id =#{parentId} and delete_status = 0 order by attribute_sort desc
    </select>

    <update id="update" parameterType="com.toucan.shopping.modules.product.entity.AttributeKey">
        update t_attribute_key set attribute_type=#{attributeType},attribute_name=#{attributeName},category_id=#{categoryId},attribute_sort=#{attributeSort},remark=#{remark},
          update_admin_id=#{updateAdminId},update_date=#{updateDate},show_status=#{showStatus},query_status=#{queryStatus},parent_id=#{parentId}
          where id=#{id}
    </update>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.AttributeKeyPageInfo">
          select count(*) from t_attribute_key t
            <where>

                <include refid="queryListPageWhere" />
            </where>

    </select>



    <select id="queryListPageBySortDesc" resultMap="attributeKeyVOMap" parameterType="com.toucan.shopping.modules.product.page.AttributeKeyPageInfo">
        select t.* from t_attribute_key t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.attribute_sort desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageBySortDescCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.AttributeKeyPageInfo">
        select count(*) from t_attribute_key t
        <where>

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <select id="queryCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.vo.AttributeKeyVO">
        select count(*) from t_attribute_key t
        <where>
            1=1
            <include refid="queryListWhere" />

        </where>
    </select>


    <update id="deleteById">
        update t_attribute_key  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


</mapper>