<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.BrandMapper">

    <resultMap id="brandMap" type="com.toucan.shopping.modules.product.entity.Brand" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="trademark_area_type" jdbcType="INTEGER" property="trademarkAreaType" />
        <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
        <result column="english_name" jdbcType="VARCHAR" property="englishName" />
        <result column="regist_number_1" jdbcType="VARCHAR" property="registNumber1" />
        <result column="regist_number_2" jdbcType="VARCHAR" property="registNumber2" />
        <result column="seminary" jdbcType="VARCHAR" property="seminary" />
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
        <result column="category_id_cache" jdbcType="VARCHAR" property="categoryIdCache" />
        <result column="create_admin_id" jdbcType="BIGINT" property="createAdminId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_admin_id" jdbcType="BIGINT" property="updateAdminId" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="enabled_status" jdbcType="INTEGER" property="enabledStatus" />
        
    </resultMap>

    <resultMap id="brandVOMap" type="com.toucan.shopping.modules.product.vo.BrandVO" extends="brandMap" >
    </resultMap>



    <sql id="queryListPageWhere">

        <if test="name!=null and name!='' ">
            and (t.chinese_name like binary concat(#{name},'%') or t.english_name like binary concat(#{name},'%'))
        </if>

        <if test="categoryId!=null and categoryId!='' ">
            and t.category_id_cache like concat(#{categoryId},'%')
        </if>

    </sql>


    <select id="queryAllList" resultMap="brandMap" parameterType="com.toucan.shopping.modules.product.entity.Brand">
        select * from t_brand where 1=1 and t.delete_status = 0
    </select>




    <select id="queryList" resultMap="brandMap" parameterType="com.toucan.shopping.modules.product.entity.Brand">
        select t.* from t_brand t
        <where>
            1=1

            <if test="chineseName!=null and chineseName!='' ">
                and t.chinese_name=#{chineseName}
            </if>

            <if test="englishName!=null and englishName!='' ">
                and t.english_name=#{englishName}
            </if>

            and t.delete_status = 0

        </where>
    </select>



    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.Brand" >
        insert into t_brand(id,trademark_area_type,chinese_name,english_name,regist_number_1,regist_number_2,seminary,owner_name,create_admin_id,create_date,delete_status,enabled_status,category_id_cache)
        values(#{id},#{trademarkAreaType},#{chineseName},#{englishName},#{registNumber1},#{registNumber2},#{seminary},#{ownerName},#{createAdminId},#{createDate},#{deleteStatus},#{enabledStatus},#{categoryIdCache})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.product.entity.Brand">
        update t_brand set trademark_area_type=#{trademarkAreaType} , chinese_name=#{chineseName} , english_name=#{englishName} ,regist_number_1=#{registNumber1},category_id_cache=#{categoryIdCache},
          regist_number_2=#{registNumber2},seminary=#{seminary},owner_name=#{ownerName},enabled_status=#{enabledStatus},update_date=#{updateDate},update_admin_id=#{updateAdminId}
          where id =#{id}
    </update>


    <select id="queryListPage" resultMap="brandVOMap" parameterType="com.toucan.shopping.modules.product.page.BrandPageInfo">
        select t.* from t_brand t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>




    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.BrandPageInfo">
        select count(*) from t_brand t
        <where>
            1=1 and t.delete_status = 0
           <include refid="queryListPageWhere"/>
        </where>
    </select>


    <select id="queryByIdList" resultMap="brandMap">
        select * from t_brand t
        where 1=1
        and t.id in
        <foreach item="item" index="index" collection="idList" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </select>


</mapper>