<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.BrandCategoryMapper">

    <resultMap id="brandCategoryMap" type="com.toucan.shopping.modules.product.entity.BrandCategory" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="brand_sort" jdbcType="INTEGER" property="brandSort" />

    </resultMap>

    <resultMap id="brandCategoryVOMap" type="com.toucan.shopping.modules.product.vo.BrandCategoryVO" extends="brandCategoryMap">

    </resultMap>


    <sql id="queryListPageWhere">

        <if test="categoryId!=null ">
          and t.category_id = #{categoryId}
        </if>

    </sql>

    <select id="queryAllList" resultMap="brandCategoryMap" parameterType="com.toucan.shopping.modules.product.entity.BrandCategory">
        select * from t_brand_category  where 1=1 and t.delete_status = 0
    </select>


    <select id="queryList" resultMap="brandCategoryMap" parameterType="com.toucan.shopping.modules.product.entity.BrandCategory">
        select * from t_brand_category t
        <where>
            1=1

            <if test="categoryId!=null and categoryId!='' ">
                and t.category_id=#{categoryId}
            </if>

            <if test="brandId!=null and brandId!='' ">
                and t.brand_id=#{brandId}
            </if>

            and t.delete_status = 0

        </where>
    </select>


    <select id="queryListByBrandIds" resultMap="brandCategoryVOMap">
        select * from t_brand_category t  where 1=1 and t.delete_status = 0
        and t.brand_id in
        <foreach item="item" index="index" collection="brandIds" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <select id="queryBrandIdListByCategoryId" resultType="java.lang.Long">
        select brand_id from t_brand_category t
            where 1=1 and t.delete_status=0
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIds" open="("  close=")" separator=",">
                #{item}
            </foreach>
            group by brand_id
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.BrandCategory" >
        insert into t_brand_category(id,brand_id,category_id,create_date,delete_status,brand_sort)
        values(#{id},#{brandId},#{categoryId},#{createDate},#{deleteStatus},#{brandSort})
    </insert>





    <select id="queryListPage" resultMap="brandCategoryVOMap" parameterType="com.toucan.shopping.modules.product.page.BrandCategoryPageInfo">
        select t.* from t_brand_category t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.brand_sort desc
        limit #{start},#{limit}
    </select>




    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.BrandCategoryPageInfo">
        select count(*) from t_brand_category t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere"/>
        </where>
    </select>


    <update id="deleteById">
        update t_brand_category  set delete_status=1 where id=#{id}   and delete_status=0
    </update>

    <update id="deleteByBrandId">
        update t_brand_category  set delete_status=1 where brand_id=#{brandId}   and delete_status=0
    </update>


    <update id="deleteByCategoryId">
        update t_brand_category  set delete_status=1 where category_id=#{categoryId}   and delete_status=0
    </update>



</mapper>