<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductSkuStatisticMapper">

    <resultMap id="productSkuStatisticVOMap" type="com.toucan.shopping.modules.product.vo.ProductSkuStatisticVO" >
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="total" jdbcType="BIGINT" property="total" />
        <result column="todayCount" jdbcType="BIGINT" property="todayCount" />
        <result column="curMonthCount" jdbcType="BIGINT" property="curMonthCount" />
        <result column="curYearCount" jdbcType="BIGINT" property="curYearCount" />
        <result column="count" jdbcType="BIGINT" property="count" />
    </resultMap>




    <select id="queryTotal" resultType="java.lang.Long">
        select count(*) from t_product_sku t where t.delete_status=0
    </select>


    <select id="queryTodayTotal" resultType="java.lang.Long">
        select count(*) from t_product_sku t where t.delete_status=0
         <![CDATA[
             AND t.create_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 00:00:00')
             AND t.create_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>

    <select id="queryCurMonthTotal" resultType="java.lang.Long">
        select count(*) from t_product_sku t where t.delete_status=0
         <![CDATA[
             AND t.create_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m'),'-01 00:00:00')
             AND t.create_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>

    <select id="queryCurYearTotal" resultType="java.lang.Long">
        select count(*) from t_product_sku t where t.delete_status=0
         <![CDATA[
             AND t.create_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y'),'-01-01 00:00:00')
             AND t.create_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>



    <select id="queryCategoryStatistic" resultMap="productSkuStatisticVOMap" parameterType="com.toucan.shopping.modules.product.vo.ProductSkuStatisticVO">
        select t.category_id,count(t.id) as count from t_product_sku t where t.delete_status=0

        <if test="startDate!=null">
            <![CDATA[ AND t.create_date>=#{startDate} ]]>
        </if>

        <if test="endDate!=null">
            <![CDATA[  AND t.create_date<=#{endDate}  ]]>
        </if>

        <if test="categoryId!=null and categoryId!=-1">
            <![CDATA[  AND t.category_id<=#{categoryId}  ]]>
        </if>

        <if test="status!=null and status!=-1">
            <![CDATA[  AND t.status<=#{status}  ]]>
        </if>

        <if test="shopId!=null">
             AND t.shop_id=#{shopId}
        </if>

        <if test="productSkuId!=null">
            AND t.id=#{productSkuId}
        </if>

        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

        group by t.category_id

    </select>



</mapper>