<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductSpuAttributeValueMapper">

    <resultMap id="productSpuAttributeValueMap" type="com.toucan.shopping.modules.product.entity.ProductSpuAttributeValue" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="product_spu_attribute_key_id" jdbcType="BIGINT" property="productSpuAttributeKeyId" />
        <result column="attribute_key_id" jdbcType="BIGINT" property="attributeKeyId" />
        <result column="attribute_value_id" jdbcType="BIGINT" property="attributeValueId" />
        <result column="product_spu_id" jdbcType="BIGINT" property="productSpuId" />
        <result column="attribute_value" jdbcType="VARCHAR" property="attributeValue" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="attribute_value_extend1" jdbcType="VARCHAR" property="attributeValueExtend1" />
        <result column="attribute_value_extend2" jdbcType="VARCHAR" property="attributeValueExtend2" />
        <result column="attribute_value_extend3" jdbcType="VARCHAR" property="attributeValueExtend3" />
        <result column="attribute_sort" jdbcType="BIGINT" property="attributeSort" />
        <result column="query_status" jdbcType="INTEGER" property="queryStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="productSpuAttributeValueVOMap" type="com.toucan.shopping.modules.product.vo.ProductSpuAttributeValueVO" extends="productSpuAttributeValueMap" >
    </resultMap>



    <sql id="queryListWhere">
        <if test="id!=null">
            and t.id = #{id}
        </if>


        <if test="showStatus!=null and showStatus!=-1">
            and t.show_status = #{showStatus}
        </if>

        <if test="productSpuId!=null">
            and t.product_spu_id = #{productSpuId}
        </if>

        <if test="queryStatus!=null and queryStatus!=-1">
            and t.query_status = #{queryStatus}
        </if>



        and t.delete_status = 0
    </sql>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ProductSpuAttributeValue"  keyProperty="id" >
        insert into t_product_spu_attribute_value(id,attribute_value_id,product_spu_attribute_key_id,attribute_key_id,product_spu_id,query_status,attribute_value_extend1,attribute_value_extend2,attribute_value_extend3,attribute_value,attribute_key_id,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status,show_status)
        values(#{id},#{attributeValueId},#{productSpuAttributeKeyId},#{attributeKeyId},#{productSpuId},#{queryStatus},#{attributeValueExtend1},#{attributeValueExtend2},#{attributeValueExtend3},#{attributeValue},#{attributeKeyId},#{attributeSort},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId},#{deleteStatus},#{showStatus})
    </insert>


    <insert id="inserts"   >
        insert into t_product_spu_attribute_value(id,attribute_value_id,product_spu_attribute_key_id,attribute_key_id,product_spu_id,query_status,attribute_value_extend1,attribute_value_extend2,attribute_value_extend3,attribute_value,attribute_sort,remark,create_date,update_date,create_admin_id,update_admin_id,delete_status,show_status)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.attributeValueId},#{entity.productSpuAttributeKeyId},#{entity.attributeKeyId},#{entity.productSpuId},#{entity.queryStatus},#{entity.attributeValueExtend1},#{entity.attributeValueExtend2},#{entity.attributeValueExtend3},#{entity.attributeValue},#{entity.attributeSort},#{entity.remark},#{entity.createDate},#{entity.updateDate},#{entity.createAdminId},#{entity.updateAdminId},#{entity.deleteStatus},#{entity.showStatus})
        </foreach>

    </insert>


    <update id="deleteByProductSpuId">
        update t_product_spu_attribute_value  set delete_status=1 where product_spu_id=#{productSpuId}  and delete_status=0
    </update>




    <select id="queryListBySortDesc" resultMap="productSpuAttributeValueVOMap" parameterType="com.toucan.shopping.modules.product.vo.ProductSpuAttributeValueVO">
        select t.* from t_product_spu_attribute_value t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>

        order by t.attribute_sort desc
    </select>


    <update id="updateShowStatusAndSearchStatus">
        update t_product_spu_attribute_value  set attribute_value=#{attributeValueName},show_status=#{showStatus} , query_status=#{queryStatus}
          where attribute_value_id=#{attributeValueId}  and delete_status=0
    </update>

</mapper>