<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductSkuMapper">

    <resultMap id="productSkuMap" type="com.toucan.shopping.modules.product.entity.ProductSku" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="shop_product_uuid" jdbcType="VARCHAR" property="shopProductUuid" />
        <result column="shop_product_id" jdbcType="BIGINT" property="shopProductId" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="attribute_value_group" jdbcType="VARCHAR" property="attributeValueGroup" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="only_name" jdbcType="VARCHAR" property="onlyName" />
        <result column="stock_num" jdbcType="BIGINT" property="stockNum" />
        <result column="product_preview_path" jdbcType="VARCHAR" property="productPreviewPath" />
        <result column="product_uuid" jdbcType="VARCHAR" property="productUuid" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="shop_category_id" jdbcType="BIGINT" property="shopCategoryId" />
        <result column="product_no" jdbcType="VARCHAR" property="productNo" />
        <result column="rough_weight" jdbcType="DECIMAL" property="roughWeight" />
        <result column="suttle" jdbcType="DECIMAL" property="suttle" />
        <result column="last_restore_transaction_id" jdbcType="VARCHAR" property="lastRestoreTransactionId" />

    </resultMap>

    <resultMap id="productSkuVOMap" type="com.toucan.shopping.modules.product.vo.ProductSkuVO" extends="productSkuMap">

    </resultMap>


    <sql id="queryListPageWhere">

        <if test="shopProductId!=null and shopProductId!=-1">
            and t.shop_product_id = #{shopProductId}
        </if>

        <if test="shopProductUuid!=null and shopProductUuid!=''">
            and t.shop_product_uuid = #{shopProductUuid}
        </if>

        <if test="id!=null and id!=-1">
            and t.id = #{id}
        </if>

        <if test="uuid!=null and uuid!=''">
            and t.uuid = #{uuid}
        </if>

        <if test="status!=null and status!=-1">
            and t.status = #{status}
        </if>

        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>



        and t.delete_status = 0

    </sql>


    <select id="queryList" resultMap="productSkuVOMap" parameterType="com.toucan.shopping.modules.product.vo.ProductSkuVO">
        select t.* from t_product_sku t
        <where>
            1=1

            <if test="id!=null">
                and t.id = #{id}
            </if>

            <if test="status!=null">
                 and t.status = #{status}
            </if>

            <if test="shopProductId!=null">
                and t.shop_product_id = #{shopProductId}
            </if>

            <if test="shopProductUuid!=null">
                and t.shop_product_uuid = #{shopProductUuid}
            </if>

            <if test="appCode!=null">
                and t.app_code = #{appCode}
            </if>

            and t.delete_status = 0

        </where>
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ProductSku"  >
        insert into t_product_sku(id,uuid,product_uuid,product_id,shop_product_uuid,shop_product_id,attributes,price,status,remark,app_code,create_date,create_user_id,shop_id,brand_id,name,only_name,stock_num,product_preview_path,attribute_value_group,category_id,shop_category_id,product_no,rough_weight,suttle)
        values(#{id},#{uuid},#{productUuid},#{productId},#{shopProductUuid},#{shopProductId},#{attributes},#{price},#{status},#{remark},#{appCode},#{createDate},#{createUserId},#{shopId},#{brandId},#{name},#{onlyName},#{stockNum},#{productPreviewPath},#{attributeValueGroup},#{categoryId},#{shopCategoryId},#{productNo},#{roughWeight},#{suttle})
    </insert>


    <insert id="inserts"   keyProperty="id" >
        insert into t_product_sku(id,uuid,product_uuid,product_id,shop_product_uuid,shop_product_id,attributes,price,status,remark,app_code,create_date,create_user_id,shop_id,brand_id,name,only_name,stock_num,product_preview_path,attribute_value_group,category_id,shop_category_id,product_no,rough_weight,suttle)

        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.uuid},#{entity.productUuid},#{entity.productId},#{entity.shopProductUuid},#{entity.shopProductId},#{entity.attributes},#{entity.price},#{entity.status},#{entity.remark},
            #{entity.appCode},#{entity.createDate},#{entity.createUserId},#{entity.shopId},#{entity.brandId},#{entity.name},#{entity.onlyName},#{entity.stockNum},#{entity.productPreviewPath},#{entity.attributeValueGroup},#{entity.categoryId},#{entity.shopCategoryId},#{entity.productNo},#{entity.roughWeight},#{entity.suttle})
        </foreach>

    </insert>



    <select id="queryListPage" resultMap="productSkuVOMap" parameterType="com.toucan.shopping.modules.product.page.ProductSkuPageInfo">
        select t.* from t_product_sku t
        <where>
            <include refid="queryListPageWhere" />
        </where>

        <choose>
            <when test="orderColumn!=null and orderColumn!=''">
                order by t.${orderColumn}
                <if test="orderSort!=null and orderSort!=''">
                    ${orderSort}
                </if>
            </when>
            <otherwise>
                <if test="orderColumns!=null and orderColumns.size>0 ">
                    order by
                    <foreach item="item" index="index" collection="orderColumns" open=""  close="" separator=",">
                        t.${item}
                    </foreach>

                    <if test="orderSort!=null and orderSort!=''">
                        ${orderSort}
                    </if>
                </if>
            </otherwise>
        </choose>

        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.ProductSkuPageInfo">
        select count(*) from t_product_sku t
        <where>

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <select id="queryBySkuIdForUpdate" resultMap="productSkuMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} and delete_status = 0  for update
    </select>


    <select id="queryById" resultMap="productSkuMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} and delete_status=0
    </select>


    <select id="queryByUuid" resultMap="productSkuMap" parameterType="java.lang.String">
        select * from t_product_sku where uuid=#{uuid} and delete_status=0
    </select>


    <select id="queryShelvesVOListByShopProductId" resultMap="productSkuVOMap" parameterType="java.lang.Long">
        select * from t_product_sku where shop_product_id=#{shopProductId} and delete_status=0 and status=1
    </select>


    <update id="deleteByShopProductId">
        update t_product_sku  set delete_status=1 where shop_product_id=#{shopProductId}  and delete_status=0
    </update>



    <select id="queryVOByIdAndShelves" resultMap="productSkuVOMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} and delete_status=0 and status = 1 limit 0,1
    </select>

    <select id="queryVOById" resultMap="productSkuVOMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} and delete_status=0  limit 0,1
    </select>



    <select id="queryFirstOneByShopProductId" resultMap="productSkuVOMap" parameterType="java.lang.Long">
        select * from t_product_sku where shop_product_id=#{shopProductId}  and delete_status=0 and status = 1 order by create_date asc limit 0,1
    </select>

    <select id="queryProductSkuListByShopProductUuid" resultMap="productSkuVOMap" parameterType="java.lang.String" >
        select * from t_product_sku where shop_product_uuid=#{shopProductUuid}  and delete_status=0 order by create_date asc
    </select>


    <update id="updateStatusByShopProductId" >
        update t_product_sku  set status=#{status} where shop_product_id=#{shopProductId} and shop_id=#{shopId} and delete_status=0
    </update>


    <select id="queryShelvesListByIdList" resultMap="productSkuMap">
        select * from t_product_sku t
         where
          t.id in
        <foreach item="item" index="index" collection="idList" open="("  close=")" separator=",">
            #{item}
        </foreach>
           and t.delete_status=0 and t.status = 1
    </select>

    <update id="inventoryReduction" >
        update t_product_sku set stock_num=stock_num-#{stockNum} where id=#{skuId} and delete_status=0 and status=1 and stock_num>0
    </update>

    <update id="restoreStock" >
        update t_product_sku set stock_num=stock_num+#{stockNum} where id=#{skuId} and delete_status=0
    </update>


</mapper>