<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductSkuMapper">

    <resultMap id="productSkuMap" type="com.toucan.shopping.modules.product.entity.ProductSku" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="shop_product_uuid" jdbcType="VARCHAR" property="shopProductUuid" />
        <result column="shop_product_id" jdbcType="BIGINT" property="shopProductId" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="brank_id" jdbcType="BIGINT" property="brankId" />
        <result column="registration_certificate_no" jdbcType="VARCHAR" property="registration_certificate_no" />
        <result column="item_no" jdbcType="VARCHAR" property="itemNo" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>

    <select id="queryList" resultMap="productSkuMap" parameterType="java.util.Map">
        select sps.* from t_product_sku sps
        <where>
            1=1

            <if test="id!=null">
                and sps.id = #{id}
            </if>

            <if test="status!=null">
                 and sps.status = #{status}
            </if>

            <if test="appCode!=null">
                and sps.app_code = #{appCode}
            </if>

            and sps.delete_status = 0

        </where>
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ProductSku"  >
        insert into t_product_sku(product_id,name,attributes,price,shop_product_uuid,shop_product_id,uuid,remark,status,create_date,app_code,create_user_id,shop_id,brank_id,registration_certificate_no,item_no)
        values(#{productId},#{name},#{attributes},#{price},#{shopProductUuid},#{shopProductId},#{uuid},#{remark},#{status},#{createDate},#{appCode},#{createUserId},#{shopId},#{brankId},#{registrationCertificateNo},#{itemNo})
    </insert>

    <select id="queryBySkuIdForUpdate" resultMap="productSkuMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} for update
    </select>


    <select id="queryById" resultMap="productSkuMap" parameterType="java.lang.Long">
        select * from t_product_sku where id=#{skuId} and delete_status=0
    </select>


    <select id="queryByUuid" resultMap="productSkuMap" parameterType="java.lang.String">
        select * from t_product_sku where uuid=#{uuid} and delete_status=0
    </select>
</mapper>