<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductSpuMapper">

    <resultMap id="productMap" type="com.toucan.shopping.modules.product.entity.ProductSpu" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_admin_id" jdbcType="BIGINT" property="createAdminId" />
        <result column="update_admin_id" jdbcType="BIGINT" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        
    </resultMap>

    <resultMap id="productSpuVOMap" type="com.toucan.shopping.modules.product.vo.ProductSpuVO" extends="productMap">

    </resultMap>


    <sql id="queryListPageWhere">

        <if test="id!=null and id!=-1">
            and t.id = #{id}
        </if>

        <if test="brandId!=null and brandId!=-1">
            and t.brand_id = #{brandId}
        </if>

        <if test="categoryId!=null and categoryId!=-1">
            and t.category_id = #{categoryId}
        </if>

        <if test="status!=null and status!=-1">
            and t.status = #{status}
        </if>


        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        and t.delete_status = 0

    </sql>


    <resultMap id="productVOMap" type="com.toucan.shopping.modules.product.vo.ProductSpuVO" extends="productMap">

    </resultMap>


    <select id="queryAllList" resultMap="productMap" parameterType="com.toucan.shopping.modules.product.entity.ProductSpu">
        select * from t_product_spu t
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ProductSpu" >
        insert into t_product_spu(id,uuid,category_id,name,app_code,create_date,create_admin_id,status,brand_id)
        values(#{id},#{uuid},#{categoryId},#{name},#{appCode},#{createDate},#{createAdminId},#{status},#{brandId})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.product.vo.ProductSpuVO">
        update t_product_spu set category_id=#{categoryId} , name=#{name} ,
            app_code=#{appCode} ,status=#{status} , brand_id=#{brandId} , update_date=#{updateDate} , update_admin_id=#{updateAdminId}
          where id = #{id} and delete_status=0
    </update>


    <select id="queryList" resultMap="productVOMap" parameterType="com.toucan.shopping.modules.product.vo.ProductSpuVO">
        select t.* from t_product_spu t
        <where>
            1=1

            <if test="id!=null">
                and t.id = #{id}
            </if>

            <if test="status!=null">
                and t.status = #{status}
            </if>

            <if test="name!=null">
                and t.name = #{name}
            </if>

            <if test="categoryId!=null">
                and t.category_id = #{categoryId}
            </if>

            <if test="appCode!=null">
                and t.app_code = #{appCode}
            </if>

            and t.delete_status = 0

        </where>
    </select>



    <select id="queryListPage" resultMap="productSpuVOMap" parameterType="com.toucan.shopping.modules.product.page.ProductSpuPageInfo">
        select t.* from t_product_spu t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.ProductSpuPageInfo">
        select count(*) from t_product_spu t
        <where>

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <update id="deleteById">
        update t_product_spu  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


</mapper>