<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ShopProductApproveSkuMapper">

    <resultMap id="productApproveSkuMap" type="com.toucan.shopping.modules.product.entity.ShopProductApproveSku" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="product_approve_uuid" jdbcType="VARCHAR" property="productApproveUuid" />
        <result column="product_approve_id" jdbcType="BIGINT" property="productApproveId" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="attribute_value_group" jdbcType="VARCHAR" property="attributeValueGroup" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="brank_id" jdbcType="BIGINT" property="brankId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="stock_num" jdbcType="BIGINT" property="stockNum" />
        <result column="product_preview_path" jdbcType="VARCHAR" property="productPreviewPath" />
        <result column="product_uuid" jdbcType="VARCHAR" property="productUuid" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="shop_category_id" jdbcType="BIGINT" property="shopCategoryId" />

    </resultMap>

    <resultMap id="productSkuVOMap" type="com.toucan.shopping.modules.product.vo.ShopProductApproveSkuVO" extends="productApproveSkuMap">

    </resultMap>


    <sql id="queryListPageWhere">

        <if test="productApproveId!=null and productApproveId!=-1">
            and t.product_approve_id = #{productApproveId}
        </if>



        and t.delete_status = 0

    </sql>


    <select id="queryList" resultMap="productSkuVOMap" parameterType="com.toucan.shopping.modules.product.vo.ShopProductApproveSkuVO">
        select t.* from t_shop_product_approve_sku t
        <where>
            1=1

            <if test="id!=null">
                and t.id = #{id}
            </if>

            <if test="status!=null">
                 and t.status = #{status}
            </if>

            <if test="productApproveId!=null">
                and t.product_approve_id = #{productApproveId}
            </if>

            <if test="productApproveUuid!=null">
                and t.product_approve_uuid = #{productApproveUuid}
            </if>

            <if test="appCode!=null">
                and t.app_code = #{appCode}
            </if>

            and t.delete_status = 0

        </where>
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ShopProductApproveSku"  >
        insert into t_shop_product_approve_sku(id,uuid,product_approve_uuid,product_approve_id,attributes,price,status,remark,app_code,create_date,create_user_id,shop_id,brank_id,name,stock_num,product_preview_path,attribute_value_group,category_id,shop_category_id)
        values(#{id},#{uuid},#{productApproveUuid},#{productApproveId},#{attributes},#{price},#{status},#{remark},#{appCode},#{createDate},#{createUserId},#{shopId},#{brankId},#{name},#{stockNum},#{productPreviewPath},#{attributeValueGroup},#{categoryId},#{shopCategoryId})
    </insert>


    <insert id="inserts"   keyProperty="id" >
        insert into t_shop_product_approve_sku(id,uuid,product_approve_uuid,product_approve_id,attributes,price,status,remark,app_code,create_date,create_user_id,shop_id,brank_id,name,stock_num,product_preview_path,attribute_value_group,category_id,shop_category_id)

        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.uuid},#{entity.productApproveUuid},#{entity.productApproveId},#{entity.attributes},#{entity.price},#{entity.status},#{entity.remark},
            #{entity.appCode},#{entity.createDate},#{entity.createUserId},#{entity.shopId},#{entity.brankId},#{entity.name},#{entity.stockNum},#{entity.productPreviewPath},#{entity.attributeValueGroup},#{entity.categoryId},#{entity.shopCategoryId})
        </foreach>

    </insert>



    <select id="queryListPage" resultMap="productSkuVOMap" parameterType="com.toucan.shopping.modules.product.page.ShopProductApproveSkuPageInfo">
        select t.* from t_shop_product_approve_sku t
        <where>
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.ShopProductApproveSkuPageInfo">
        select count(*) from t_shop_product_approve_sku t
        <where>

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <select id="queryBySkuIdForUpdate" resultMap="productApproveSkuMap" parameterType="java.lang.Long">
        select * from t_shop_product_approve_sku where id=#{skuId} for update
    </select>


    <select id="queryById" resultMap="productApproveSkuMap" parameterType="java.lang.Long">
        select * from t_shop_product_approve_sku where id=#{skuId} and delete_status=0
    </select>


    <select id="queryByUuid" resultMap="productApproveSkuMap" parameterType="java.lang.String">
        select * from t_shop_product_approve_sku where uuid=#{uuid} and delete_status=0
    </select>



    <update id="deleteByShopProductApproveId">
        update t_shop_product_approve_sku  set delete_status=1 where product_approve_id=#{productApproveId}  and delete_status=0
    </update>

    <select id="queryListByProductApproveId" resultMap="productSkuVOMap" parameterType="java.lang.Long">
        select * from t_shop_product_approve_sku where product_approve_id=#{productApproveId} and delete_status=0
    </select>

</mapper>