<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ShopProductMapper">

    <resultMap id="shopProductMap" type="com.toucan.shopping.modules.product.entity.ShopProduct" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="shop_category_id" jdbcType="BIGINT" property="shopCategoryId" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="product_uuid" jdbcType="VARCHAR" property="productUuid" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="seller_no" jdbcType="VARCHAR" property="sellerNo" />
        <result column="pay_method" jdbcType="SMALLINT" property="payMethod" />
        <result column="buckle_inventory_method" jdbcType="SMALLINT" property="buckleInventoryMethod" />
        <result column="give_invoice" jdbcType="SMALLINT" property="giveInvoice" />
        <result column="change_or_return" jdbcType="SMALLINT" property="changeOrReturn" />
        <result column="etract_method" jdbcType="VARCHAR" property="etractMethod" />
        <result column="article_number" jdbcType="VARCHAR" property="articleNumber" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        
    </resultMap>

    <select id="queryAllList" resultMap="shopProductMap" parameterType="com.toucan.shopping.modules.product.entity.ShopProduct">
        select * from t_shop_product_spu t
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ShopProduct"  >
        insert into t_shop_product(id,category_id,shop_category_id,uuid,name,attributes,product_uuid,product_id,status,shop_id,
            create_date,app_code,create_user_id,seller_no,pay_method,buckle_inventory_method,give_invoice,change_or_return,etract_method,article_number,brand_id)
        values(#{id},#{categoryId},#{shopCategoryId},#{uuid},#{name},#{attributes},#{productUuid},#{productId},#{status},#{shopId},
            #{createDate},#{appCode},#{createUserId},#{sellerNo},#{payMethod},#{buckleInventoryMethod},#{giveInvoice},#{changeOrReturn},#{etractMethod},#{articleNumber},#{brandId})
    </insert>

</mapper>