<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ShopProductApproveMapper">

    <resultMap id="shopProductApproveMap" type="com.toucan.shopping.modules.product.entity.ShopProductApprove" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="shop_category_id" jdbcType="BIGINT" property="shopCategoryId" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="product_uuid" jdbcType="VARCHAR" property="productUuid" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="shelves_status" jdbcType="SMALLINT" property="shelvesStatus" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="approve_status" jdbcType="SMALLINT" property="approveStatus" />
        <result column="reject_text" jdbcType="VARCHAR" property="rejectText" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="seller_no" jdbcType="VARCHAR" property="sellerNo" />
        <result column="pay_method" jdbcType="SMALLINT" property="payMethod" />
        <result column="buckle_inventory_method" jdbcType="SMALLINT" property="buckleInventoryMethod" />
        <result column="give_invoice" jdbcType="SMALLINT" property="giveInvoice" />
        <result column="change_or_return" jdbcType="SMALLINT" property="changeOrReturn" />
        <result column="etract_method" jdbcType="VARCHAR" property="etractMethod" />
        <result column="article_number" jdbcType="VARCHAR" property="articleNumber" />
        <result column="brand_id" jdbcType="BIGINT" property="brandId" />
        <result column="shop_product_id" jdbcType="BIGINT" property="shopProductId" />


    </resultMap>

    <resultMap id="shopProductVOMap" type="com.toucan.shopping.modules.product.vo.ShopProductApproveVO" extends="shopProductApproveMap" >
    </resultMap>


    <sql id="queryListPageWhere">

        <if test="categoryId!=null and categoryId!=-1">
            and t.category_id = #{categoryId}
        </if>

        <if test="approveStatus!=null and approveStatus!=-1">
            and t.approve_status = #{approveStatus}
        </if>

        <if test="shopId!=null and shopId!=-1">
            and t.shop_id = #{shopId}
        </if>

        <if test="brandId!=null and brandId!=-1">
            and t.brand_id = #{brandId}
        </if>

        <if test="name!=null and name!='' ">
            and t.name  like concat(#{name},'%')
        </if>

        <if test="id!=null and id!=-1">
            and t.id = #{id}
        </if>

        <if test="uuid!=null and uuid!='' ">
            and t.uuid = #{uuid}
        </if>

        <if test="startDateYMDHS!=null  ">
            and t.create_date <![CDATA[ >= ]]>  #{startDateYMDHS}
        </if>

        <if test="endDateYMDHS!=null  ">
            and t.create_date <![CDATA[ <= ]]>  #{endDateYMDHS}
        </if>

        <if test="categoryIdList!=null and categoryIdList.size>0 ">
            and t.category_id in
            <foreach item="item" index="index" collection="categoryIdList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        and t.delete_status = 0

    </sql>

    <sql id="queryListWhere">
        and t.delete_status = 0

        <if test="id!=null and id!=-1">
            and t.id = #{id}
        </if>


        <if test="shopId!=null and shopId!=-1">
            and t.shop_id = #{shopId}
        </if>

    </sql>

    <select id="queryAllList" resultMap="shopProductApproveMap" parameterType="com.toucan.shopping.modules.product.entity.ShopProductApprove">
        select * from t_shop_product_approve t
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ShopProductApprove"  >
        insert into t_shop_product_approve(id,category_id,shop_category_id,uuid,name,attributes,product_uuid,product_id,shelves_status,shop_id,
            create_date,update_date,app_code,create_user_id,update_user_id,seller_no,pay_method,buckle_inventory_method,approve_status,give_invoice,change_or_return,etract_method,article_number,brand_id)
        values(#{id},#{categoryId},#{shopCategoryId},#{uuid},#{name},#{attributes},#{productUuid},#{productId},#{shelvesStatus},#{shopId},
            #{createDate},#{updateDate},#{appCode},#{createUserId},#{updateUserId},#{sellerNo},#{payMethod},#{buckleInventoryMethod},#{approveStatus},#{giveInvoice},#{changeOrReturn},#{etractMethod},#{articleNumber},#{brandId})
    </insert>

    <update id="updateForRepublish"  parameterType="com.toucan.shopping.modules.product.entity.ShopProductApprove">
        update  t_shop_product_approve set  name = #{name} , attributes=#{attributes} , shelves_status=#{shelvesStatus} ,update_date=#{updateDate} , update_user_id=#{updateUserId} ,
          seller_no=#{sellerNo},pay_method=#{payMethod} ,buckle_inventory_method=#{buckleInventoryMethod},approve_status=1 ,give_invoice=#{giveInvoice},
          change_or_return=#{changeOrReturn},etract_method=#{etractMethod},article_number=#{articleNumber},brand_id=#{brandId},category_id=#{categoryId},shop_category_id=#{shopCategoryId}
          where id = #{id} and approve_status in (1,3)
    </update>


    <update id="deleteById">
        update t_shop_product_approve  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


    <select id="queryListPage" resultMap="shopProductVOMap" parameterType="com.toucan.shopping.modules.product.page.ShopProductApprovePageInfo">
        select t.* from t_shop_product_approve t
        <where>
            <include refid="queryListPageWhere" />
        </where>

        <choose>
            <when test="orderColumn!=null and orderColumn!=''">
                order by t.${orderColumn}
                <if test="orderSort!=null and orderSort!=''">
                    ${orderSort}
                </if>
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
        limit #{start},#{limit}
    </select>


    <select id="findById" resultMap="shopProductVOMap" parameterType="java.lang.Long">
        select t.* from t_shop_product_approve t
        where t.id = #{id} and delete_status=0
        limit 1
    </select>


    <update id="updateApproveStatus">
        update t_shop_product_approve  set approve_status=#{approveStatus} where id=#{id}  and delete_status=0 and approve_status=1
    </update>

    <update id="updateApproveStatusAndRejectText">
        update t_shop_product_approve  set approve_status=#{approveStatus} , reject_text = #{rejectedText}  where id=#{id}  and delete_status=0 and approve_status=1
    </update>


    <update id="updateApproveStatusAndRejectTextAndUpdateDate">
        update t_shop_product_approve  set approve_status=#{approveStatus} , reject_text = #{rejectedText},update_date=#{updateDate}  where id=#{id}  and delete_status=0 and approve_status=1
    </update>


    <update id="updateApproveStatusAndProductId">
        update t_shop_product_approve  set approve_status=#{approveStatus} , product_id = #{productId} , product_uuid=#{productUuid}   where id=#{id}  and delete_status=0 and approve_status=1
    </update>


    <update id="updateApproveStatusAndProductIdAndRejectText">
        update t_shop_product_approve  set approve_status=#{approveStatus} , product_id = #{productId} , product_uuid=#{productUuid} , reject_text = #{rejectedText}   where id=#{id}  and delete_status=0 and approve_status=1
    </update>


    <update id="updateShopProductId">
        update t_shop_product_approve  set shop_product_id = #{shopProductId}  where id=#{id}  and delete_status=0
    </update>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.product.page.ShopProductApprovePageInfo">
        select count(*) from t_shop_product_approve t
        <where>

            <include refid="queryListPageWhere" />
        </where>

    </select>



    <select id="queryList" resultMap="shopProductVOMap" parameterType="com.toucan.shopping.modules.product.vo.ShopProductApproveVO">
        select t.* from t_shop_product_approve t
        <where>
            1=1
            <include refid="queryListWhere" ></include>
        </where>
    </select>


    <select id="queryOne" resultMap="shopProductVOMap" parameterType="com.toucan.shopping.modules.product.vo.ShopProductApproveVO">
        select t.* from t_shop_product_approve t
        <where>
            1=1
            <include refid="queryListWhere" ></include>
        </where>
         limit 0,1
    </select>


</mapper>