<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ShopProductApproveRecordMapper">

    <resultMap id="shopProductApproveRecordMap" type="com.toucan.shopping.modules.product.entity.ShopProductApproveRecord" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="approve_id" jdbcType="BIGINT" property="approveId" />
        <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
        <result column="approve_text" jdbcType="VARCHAR" property="approveText" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        
    </resultMap>

    <select id="queryAllList" resultMap="shopProductApproveRecordMap" parameterType="com.toucan.shopping.modules.product.entity.ShopProductApproveRecord">
        select * from t_shop_product_approve_record t
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.product.entity.ShopProductApproveRecord" >
        insert into t_shop_product_approve_record(id,approve_id,approve_status,approve_text,create_date,create_admin_id,delete_status)
        values(#{id},#{approveId},#{approveStatus},#{approveText},#{createDate},#{createAdminId},0)
    </insert>


</mapper>