<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- StyleSheets -->
    <link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style2.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
    <!--[if IE 6]>
    <script src="${basePath}/static/js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery.bxslider_e88acd1b.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/jquery-form.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/menu.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/select.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/iban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/fban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/f_ban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/mban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/bban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/hban.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/tban.js"></script>

    <script type="text/javascript" src="${basePath}/static/js/lrscroll_1.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/phone.js"></script>
    <script type="text/javascript" src="${basePath}/static/js/seller/truename.js"></script>

    <#include "/common_js.html"/>

    <title>实名认证</title>

</head>
<body>

<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>
<div class="page_nav_top">
    <div class="sou">
        <#include "/logo_child.html"/>
        <div class="page_nav_title" >
            <a style="font-size:30px;" >实名认证</a>
        </div>
    </div>
</div>
<!--Begin Login Begin-->
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
    <div class="m_content">
        <div class="m_right">
            <div >
                <div >
                    <div  style="width:100%;">
                        <br>
                        <br>
                        <br>
                        <div style="width:100%;text-align:center">
                            <img src="${basePath}/static/images/true_name_approve_success.png" />
                        </div>
                        <div  style="width:100%;text-align:center">
                            <a style="font-size:25px;" target="_blank">恭喜你，个人实名认证成功</a>
                            <br>
                            <br>
                            <a style="font-size:15px;" target="_blank">你提交的认证资料已通过审核</a>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End 用户中心 End-->
</div>

<!--End Login End-->
<!--Begin Footer Begin-->

<#include "/footer.html"/>
<!--End Footer End -->




</body>

<script src="${basePath}/static/js/seller/info.js"></script>
<script>
    $(function () {

        $("#refreshCaptcha").bind( 'click' ,function(){
            $("#refreshCaptcha").attr("src",basePath+"/api/user/vcode?"+new Date().getTime());
        });

    });

</script>


</html>
