<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.stock.mapper.ProductSkuStockLockMapper">

    <resultMap id="productSkuStockLockMap" type="com.toucan.shopping.modules.stock.entity.ProductSkuStockLock" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="stock_num" jdbcType="BIGINT" property="stockNum" />
        <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
        <result column="user_main_id" jdbcType="BIGINT" property="userMainId" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>

    <select id="queryList" resultMap="productSkuStockLockMap" parameterType="java.util.Map">
        select t.* from t_product_sku_stock_lock t
        <where>
            1=1

            <if test="id!=null">
                and t.id = #{id}
            </if>

            <if test="appCode!=null">
                and t.app_code = #{appCode}
            </if>

            and t.delete_status = 0

        </where>
    </select>


    <select id="queryBySkuUuidForUpdate" resultMap="productSkuStockLockMap" parameterType="java.lang.String">
        select * from t_product_sku_stock_lock where sku_uuid=#{skuUuid}  and delete_status=0 for update
    </select>

    <update id="inventoryReduction" parameterType="java.lang.String">
        update t_product_sku_stock_lock set stock_num=stock_num-1 where sku_uuid=#{skuUuid} and delete_status=0
    </update>

    <update id="modifyStockNum" parameterType="java.lang.Integer">
        update t_product_sku_stock_lock set stock_num=#{stockNum} where sku_uuid=#{skuUuid} and delete_status=0
    </update>

    <select id="queryBySkuUuid" resultMap="productSkuStockLockMap" parameterType="java.lang.String">
        select * from t_product_sku_stock_lock where sku_uuid=#{skuUuid} and delete_status=0
    </select>

    <update id="restoreStock" parameterType="java.lang.String">
        update t_product_sku_stock_lock set stock_num=stock_num+1 where sku_uuid=#{skuUuid}  and delete_status=0
    </update>

    <insert id="save" parameterType="com.toucan.shopping.modules.stock.entity.ProductSkuStockLock">
          insert into t_product_sku_stock_lock(id,product_sku_id,user_main_id,order_no,stock_num,app_code,delete_status,create_date)
          values(#{id},#{productSkuId},#{userMainId},#{orderNo},#{stockNum},#{appCode},#{deleteStatus},#{createDate})
    </insert>

    <update id="deletes">
        update t_product_sku_stock_lock set delete_status = 1 where id in
        <foreach item="item" index="index" collection="idList" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>