<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.content.mapper.ArticleImageMapper">

    <resultMap id="articleImageMap" type="com.toucan.shopping.modules.content.entity.ArticleImage" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="article_id" jdbcType="BIGINT" property="articleId" />
        <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_size" jdbcType="BIGINT" property="fileSize" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    </resultMap>


    <resultMap id="articleImageVOMap" type="com.toucan.shopping.modules.content.vo.ArticleImageVO" extends="articleImageMap" >
    </resultMap>



    <sql id="queryListPageWhere">

        <if test="articleId!=null ">
            and t.article_id = #{articleId}
        </if>

    </sql>



    <sql id="queryInvalidListPageWhere">
        <![CDATA[
          and  t.create_date <=  DATE_FORMAT(#{endDate} , '%Y-%m-%d %H:%i:%s')
         ]]>
        and t.article_id is null
    </sql>

    <select id="findById" resultMap="articleImageMap" parameterType="java.lang.Long"  >
        select t.* from  t_article_image t where t.id = #{id} and t.delete_status = 0 limit 0,1
    </select>


    <select id="queryListPage" resultMap="articleImageVOMap" parameterType="com.toucan.shopping.modules.content.page.ArticleImagePageInfo">
        select t.* from t_article_image t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>



    <select id="queryInvalidListPage" resultMap="articleImageVOMap" parameterType="com.toucan.shopping.modules.content.page.DeleteArticleImagePageInfo">
        select t.* from t_article_image t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryInvalidListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.content.page.ArticleImagePageInfo">
        select count(*) from t_article_image t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <select id="queryInvalidListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.content.page.DeleteArticleImagePageInfo">
        select count(*) from t_article_image t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryInvalidListPageWhere" />
        </where>

    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.content.entity.ArticleImage"  keyProperty="id" >
        insert into  t_article_image(id,article_id,img_path,file_name,file_ext,file_size,remark,app_code,create_date,create_admin_id,delete_status)
        values(#{id},#{articleId},#{imgPath},#{fileName},#{fileExt},#{fileSize},#{remark},#{appCode},#{createDate},#{createAdminId},#{deleteStatus})
    </insert>



    <update id="deleteById">
        update  t_article_image  set delete_status=1 where id=#{id}  and delete_status=0
    </update>

    <update id="deleteByIdAndSaveOperateUserId">
        update  t_article_image  set delete_status=1 , update_date = sysdate() , update_admin_id = #{adminId}  where id=#{id}  and delete_status=0
    </update>


    <update id="deleteByIdAndArticleId">
        update  t_article_image  set delete_status=1 where id=#{id} and article_id=#{articleId}  and delete_status=0
    </update>

    <select id="queryListByImgPathList" resultMap="articleImageMap"   >
        select t.* from  t_article_image t
        where t.delete_status = 0
        and t.img_path in
        <if test="imgPathList!=null and imgPathList.size>0 ">
            <foreach item="item" index="index" collection="imgPathList" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


    <update id="updateArticleId">
        update t_article_image set article_id=#{articleId} where id=#{id} and delete_status=0
    </update>


    <update id="deleteByIdList">
        update t_article_image set delete_status=1 ,remark=#{remark},update_date=sysdate()
         where delete_status=0
         and id in
          <foreach item="item" index="index" collection="idList" open="("  close=")" separator=",">
             #{item}
          </foreach>

    </update>

</mapper>