<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.content.mapper.ArticleMapper">

    <resultMap id="articleMap" type="com.toucan.shopping.modules.content.entity.Article" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="column_id" jdbcType="BIGINT" property="columnId" />
        <result column="content_id" jdbcType="BIGINT" property="contentId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content_url" jdbcType="VARCHAR" property="contentUrl" />
        <result column="cover_img_url" jdbcType="VARCHAR" property="coverImgUrl" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="publish_date" jdbcType="VARCHAR" property="publishDate" />
        <result column="abstract_content" jdbcType="VARCHAR" property="abstractContent" />
        <result column="seo_title" jdbcType="VARCHAR" property="seoTitle" />
        <result column="seo_keywords" jdbcType="VARCHAR" property="seoKeywords" />
        <result column="seo_description" jdbcType="VARCHAR" property="seoDescription" />
        <result column="article_sort" jdbcType="BIGINT" property="articleSort" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="perpetual_status" jdbcType="INTEGER" property="perpetualStatus" />
        <result column="start_show_date" jdbcType="TIMESTAMP" property="startShowDate" />
        <result column="end_show_date" jdbcType="TIMESTAMP" property="endShowDate" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    </resultMap>


    <resultMap id="articleVOMap" type="com.toucan.shopping.modules.content.vo.ArticleVO" extends="articleMap" >
    </resultMap>


    <sql id="queryListWhere">
        and t.delete_status = 0
        <if test="id!=null">
            and t.id = #{id}
        </if>
        <if test="title!=null and title!=''">
            and t.title = #{title}
        </if>
        <if test="columnId!=null">
            and t.column_id = #{columnId}
        </if>

        <if test="appCode!=null  ">
            and t.app_code =#{appCode}
        </if>
    </sql>


    <sql id="queryListPageWhere">

        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="title!=null and title!='' ">
            and t.title  like concat('%',#{title},'%')
        </if>

        <if test="author!=null and author!='' ">
            and t.author  like concat('%',#{author},'%')
        </if>

        <if test="seoTitle!=null and seoTitle!='' ">
            and t.seo_title  like concat('%',#{seoTitle},'%')
        </if>

        <if test="seoKeywords!=null and seoKeywords!='' ">
            and t.seo_keywords  like concat('%',#{seoKeywords},'%')
        </if>

        <if test="showStatus!=null and showStatus!=-1 ">
            and t.show_status =#{showStatus}
        </if>

        <if test="perpetualStatus!=null ">
            and t.perpetual_status =#{perpetualStatus}
        </if>


        <if test="columnId!=null">
            and t.column_id = #{columnId}
        </if>

        <if test="startShowDate!=null">
            <![CDATA[ and t.start_show_date >=  DATE_FORMAT(#{startShowDate} , '%Y-%m-%d %H:%i:%s')    ]]>
        </if>
        <if test="endShowDate!=null">
            <![CDATA[
              and (
                t.end_show_date <=  DATE_FORMAT(#{endShowDate} , '%Y-%m-%d %H:%i:%s')
                and t.perpetual_status = 0
              )
             ]]>
        </if>
    </sql>


    <select id="queryListPage" resultMap="articleVOMap" parameterType="com.toucan.shopping.modules.content.page.ArticlePageInfo">
        select t.* from t_article t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.content.page.ArticlePageInfo">
        select count(*) from t_article t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />
        </where>

    </select>



    <select id="queryList" resultMap="articleVOMap" parameterType="com.toucan.shopping.modules.content.vo.ArticleVO">
        select t.* from t_article t
        <where>
            1=1
            <include refid="queryListWhere" />
        </where>
        order by t.create_date desc
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.content.entity.Article" >
        insert into t_article(id,
        column_id,
        content_id,
        title,
        content_url,
        cover_img_url,
        abstract_content,
        author,
        publish_date,
        seo_title,
        seo_keywords,
        seo_description,
        article_sort,
        show_status,
        perpetual_status,
        start_show_date,
        end_show_date,
        app_code,
        create_date,
        delete_status,
        create_admin_id)

        values(#{id},
        #{columnId},
        #{contentId},
        #{title},
        #{contentUrl},
        #{coverImgUrl},
        #{abstractContent},
        #{author},
        #{publishDate},
        #{seoTitle},
        #{seoKeywords},
        #{seoDescription},
        #{articleSort},
        #{showStatus},
        #{perpetualStatus},
        #{startShowDate},
        #{endShowDate},
        #{appCode},
        #{createDate},
        #{deleteStatus},
        #{createAdminId})
    </insert>


    <select id="queryMaxSort" resultType="java.lang.Long">
        select max(t.article_sort) from t_article t where t.delete_status=0 and t.column_id=#{columnId}
    </select>


    <select id="findById" resultType="java.lang.Long" resultMap="articleVOMap">
        select t.* from t_article t where t.delete_status=0 and t.id=#{id}
    </select>


    <update id="update" parameterType="com.toucan.shopping.modules.content.vo.ArticleVO">
        update t_article
        set cover_img_url = #{coverImgUrl},
        abstract_content = #{abstractContent},
        author = #{author},
        publish_date = #{publishDate},
        seo_title = #{seoTitle},
        seo_keywords = #{seoKeywords},
        seo_description = #{seoDescription},
        show_status = #{showStatus},
        start_show_date = #{startShowDate},
        end_show_date = #{endShowDate},
        perpetual_status = #{perpetualStatus},
        article_sort = #{articleSort},
        update_admin_id = #{updateAdminId},
        update_date = sysdate()
        where id=#{id} and delete_status=0;
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        update t_article set delete_status=1 where id=#{articleId} and delete_status=0
    </update>


</mapper>