
.shop-index-main {
    clear: both;
    width: 1200px;
    margin: auto;
    min-height:700px;
    overflow: hidden;
    margin-top: 2%;
}


.shop-index-main-page {
    clear: both;
    width: 100%;
    margin: auto;
    min-height:700px;
    overflow: hidden;
    margin-top: 2%;
}

