.userLogoTipsOuter {
    display: block;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.userLogoTips {
    width: 90px;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-align:center;
    background-color: rgba(0, 0, 0, .50);
    color: #FFFFFF;
    font-size: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}




.userAlarm {
    position: relative;
    width: 80px;
    height: 62px;
    margin: 0px;
    text-align: center;
}
.userAlarm img {
    width: 60px;
    height: 60px;
}
.userDivright {
    position: absolute;
    color: white;
    font-size: 15px;
    background-color: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: 70%;
    top: -5px;
    text-align: center;
    -webkit-border-radius: 27px;
    border-radius: 24px;
}

.userDivright a {
    color: white;
}

.userDivright a horver{
    color: white;
}

.userInfoPersonalizedSignature {
    width: 100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.userPayImg{
    width:50px;
    height:50px;
    background:url('/static/images/pay.png');
}

.userPayImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/paybor.png');
}


.userGoodsTrainImg{
    width:50px;
    height:50px;
    background:url('/static/images/goods_train.png');
}

.userGoodsTrainImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/goods_trainbor.png');
}

.userReceiveGoodsTrainImg{
    width:50px;
    height:50px;
    background:url('/static/images/receive_goods_train.png');
}

.userReceiveGoodsTrainImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/receive_goods_train_bor.png');
}


.userAftermarketImg{
    width:50px;
    height:50px;
    background:url('/static/images/aftermarket.png');
}

.userAftermarketImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/aftermarketbor.png');
}

.userAppraiseImg{
    width:50px;
    height:50px;
    background:url('/static/images/appraise.png');
}

.userAppraiseImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/appraisebor.png');
}

.userRefundImg{
    width:50px;
    height:50px;
    background:url('/static/images/refund.png');
}

.userRefundImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/refundbor.png');
}




.s-content{
    position: relative;
    overflow: hidden;
    background: #fff;
}

.lg-item {
    border-top: 1px solid #E8EEF2;
    padding: 13px 10px 13px 15px;
    overflow:hidden;
    list-style: none;
}

.item-info, .m-logistics .lg-info {
    position: relative;
    float: left;
    margin-left: 60px;
}

.lg-info{
    padding-left: 30px;
    float: left;
}

.lg-info a{
    text-decoration: none;
    outline: none;
    color: #000;
}

.m-logistics time {
    font-size: 12px;
}

.lg-info p{
    height: 38px;
    line-height: 38px;
}

.lg-detail-wrap{
    display: inline;
    position: relative;
}

.lg-confirm{
    float: right;
    margin-right: 20px;
}

.i-btn-typical{
    display: inline-block;
    color: #575757;
    font-size: 12px;
    padding: 3px 6px;
    border: 1px solid #D1D1D1;

}

.clear{
    clear: both;
}