.userLogoTipsOuter {
    display: block;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.userLogoTips {
    width: 90px;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-align:center;
    background-color: rgba(0, 0, 0, .50);
    color: #FFFFFF;
    font-size: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}




.userAlarm {
    position: relative;
    width: 80px;
    height: 62px;
    margin: 0px;
    text-align: center;
}
.userAlarm img {
    width: 60px;
    height: 60px;
}
.userDivright {
    position: absolute;
    color: white;
    font-size: 15px;
    background-color: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: 70%;
    top: -5px;
    text-align: center;
    -webkit-border-radius: 27px;
    border-radius: 24px;
}

.userDivright a {
    color: white;
}

.userDivright a horver{
    color: white;
}

.userInfoPersonalizedSignature {
    width: 100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.userPayImg{
    width:50px;
    height:50px;
    background:url('/static/images/pay.png');
}

.userPayImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/paybor.png');
}


.userProductImg{
    width:50px;
    height:50px;
    background:url('/static/images/product.png');
}

.userProductImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/productbor.png');
}

.userShopImg{
    width:50px;
    height:50px;
    background:url('/static/images/shop.png');
}

.userShopImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/shopbor.png');
}

.userGoodsTrainImg{
    width:50px;
    height:50px;
    background:url('/static/images/goods_train.png');
}

.userReceiveGoodsTrainImg{
    width:50px;
    height:50px;
    background:url('/static/images/receive_goods_train.png');
}


.userReceiveGoodsTrainImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/receive_goods_train_bor.png');
}


.userAftermarketImg{
    width:50px;
    height:50px;
    background:url('/static/images/aftermarket.png');
}


.userAppraiseImg{
    width:50px;
    height:50px;
    background:url('/static/images/appraise.png');
}

.userAppraiseImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/appraisebor.png');
}

.userRefundImg{
    width:50px;
    height:50px;
    background:url('/static/images/refund.png');
}


.userRefundImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/refundbor.png');
}

.userOrderListImg{
    width:50px;
    height:50px;
    background:url('/static/images/order_list.png');
}


.userOrderListImg:hover{
    width:50px;
    height:50px;
    background:url('/static/images/order_list_bor.png');
}


.s-content{
    position: relative;
    overflow: hidden;
    background: #fff;
}

.lg-item {
    border-top: 1px solid #E8EEF2;
    padding: 13px 10px 13px 15px;
    overflow:hidden;
    list-style: none;
}

.item-info, .m-logistics .lg-info {
    position: relative;
    float: left;
    margin-left: 60px;
}

.lg-info{
    padding-left: 30px;
    float: left;
}

.lg-info a{
    text-decoration: none;
    outline: none;
    color: #000;
}

.m-logistics time {
    font-size: 12px;
}

.lg-info p{
    height: 38px;
    line-height: 38px;
}

.lg-detail-wrap{
    display: inline;
    position: relative;
}

.lg-confirm{
    float: right;
    margin-right: 20px;
}

.i-btn-typical{
    display: inline-block;
    color: #575757;
    font-size: 12px;
    padding: 3px 6px;
    border: 1px solid #D1D1D1;

}

.clear{
    clear: both;
}

.m-plus{
    position: relative;
    margin-bottom: 20px;
    background-color: #f5ca3a;
}

.m-plus .mt{
    padding: 20px 20px 5px;
    height: 27px;
    line-height: 27px;
    border: 0;
}

.m-plus .mt .button {
    float: right;
    padding: 0 10px;
    background-color: #2c2e40;
    border-radius: 14px;
    text-align: center;
    color: #f5ca3a;
    font-weight: 700;
}

.m-plus .mt .button span{
    padding-left: 5px;
    font-family: SimSun;
}



.m-plus .mc{
    margin: 10px;
    background-color: #fff;
}

.m-plus .mc, .m-plus .mt {
    position: relative;
}

.m-plus .mt h3{
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #333;

}

.m-plus .mc {
    margin: 10px;
    background-color: #fff;
}

.root61 .m-plus:before {
    background: url(/static/images/x-01.png) no-repeat 0 0;
}

.m-plus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(/static/images/z-01.png) no-repeat 0 0;
}

