<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.column.mapper.ColumnMapper">

    <resultMap id="columnMap" type="com.toucan.shopping.modules.column.entity.Column" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="column_sort" jdbcType="INTEGER" property="columnSort" />
        <result column="position" jdbcType="INTEGER" property="position" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="start_show_date" jdbcType="TIMESTAMP" property="startShowDate" />
        <result column="end_show_date" jdbcType="TIMESTAMP" property="endShowDate" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="column_type_code" jdbcType="VARCHAR" property="columnTypeCode" />


    </resultMap>


    <resultMap id="columnVOMap" type="com.toucan.shopping.modules.column.vo.ColumnVO" extends="columnMap" >
    </resultMap>




    <sql id="queryListPageWhere">

        <if test="appCode!=null ">
            and t.app_code =#{appCode}
        </if>

        <if test="title!=null and title!=''">
            and t.title  like concat(#{title},'%')
        </if>

        <if test="position!=null and position!=-1 ">
            and t.position =#{position}
        </if>

        <if test="showStatus!=null and showStatus!=-1 ">
            and t.show_status =#{showStatus}
        </if>

        <if test="startShowDate!=null">
            <![CDATA[ and ba.start_show_date >=  DATE_FORMAT(#{startShowDate} , '%Y-%m-%d %H:%i:%s')    ]]>
        </if>
        <if test="endShowDate!=null">
            <![CDATA[ and ba.end_show_date <=  DATE_FORMAT(#{endShowDate} , '%Y-%m-%d %H:%i:%s')    ]]>
        </if>



    </sql>


    <sql id="queryListWhere">
        and t.delete_status = 0
        <if test="id!=null">
            and t.id = #{id}
        </if>
        <if test="title!=null">
            and t.title = #{title}
        </if>
        <if test="columnTypeCode!=null">
            and t.column_type_code = #{columnTypeCode}
        </if>

        <if test="appCode!=null  ">
            and t.app_code =#{appCode}
        </if>
    </sql>


    <insert id="insert" parameterType="com.toucan.shopping.modules.column.entity.Column" useGeneratedKeys="true" keyProperty="id" >
        insert into t_column(id,title,column_sort,type,show_status,position,remark,app_code,create_date,update_date,create_admin_id,update_admin_id,column_type_code,start_show_date,end_show_date)
        values(#{id},#{title},#{columnSort},#{type},#{showStatus},#{position},#{remark},#{appCode},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId},#{columnTypeCode},#{startShowDate},#{endShowDate})
    </insert>




    <update id="deleteById">
        update t_column  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


    <select id="queryAreaColumnList" resultMap="columnMap" >
        select tc.* from t_column tc left join t_column_area tca on tc.id = tca.column_id
         where tca.area_code=#{areaCode} and tc.type=#{type} and tc.position=#{position}
        order by tc.column_sort desc
    </select>


    <update id="update" parameterType="com.toucan.shopping.modules.column.entity.Column">
        update t_column set title=#{title},column_sort=#{columnSort},type=#{type},show_status=#{showStatus},position=#{position},remark=#{remark},
        column_type_code=#{columnTypeCode},start_show_date=#{startShowDate},end_show_date=#{endShowDate},
        update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>



    <select id="queryListPage" resultMap="columnVOMap" parameterType="com.toucan.shopping.modules.column.page.ColumnPageInfo">
        select t.* from t_column t
        <where>
            1=1 and t.delete_status = 0
            <include refid="queryListPageWhere" />
        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>


    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.column.page.ColumnPageInfo">
        select count(*) from t_column t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />
        </where>

    </select>


    <select id="queryList" resultMap="columnVOMap" parameterType="com.toucan.shopping.modules.column.vo.ColumnVO">
        select t.* from t_column t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>
    </select>

    <select id="findById" resultMap="columnVOMap" parameterType="java.lang.Long">
        select t.* from t_column t where t.id = #{id} and t.delete_status=0 limit 0,1
    </select>

</mapper>