<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.column.mapper.ColumnAreaMapper">

    <resultMap id="columnAreaMap" type="com.toucan.shopping.modules.column.entity.ColumnArea" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="column_id" jdbcType="BIGINT" property="columnId" />
        <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>

    <select id="queryList" resultMap="columnAreaMap" parameterType="com.toucan.shopping.modules.column.entity.ColumnArea">
        select tc.* from t_column_area tc
        <where>
            1=1

            <if test="id!=null">
                and tc.id = #{id}
            </if>


            <if test="columnId!=null">
                and tc.column_id = #{columnId}
            </if>

            and tc.delete_status = 0

        </where>
    </select>

    <insert id="insert" parameterType="com.toucan.shopping.modules.column.entity.ColumnArea" useGeneratedKeys="true" keyProperty="id" >
        insert into t_column_area(column_id,area_code,remark,create_date,update_date,create_admin_id,update_admin_id)
        values(#{columnId},#{areaCode},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId})
    </insert>


    <select id="queryById" resultMap="columnAreaMap" parameterType="java.lang.Long">
        select * from t_column_area where id=#{id} and delete_status=0
    </select>


    <update id="deleteById">
        update t_column_area  set delete_status=1 where id=#{id}  and delete_status=0
    </update>


    <update id="update" parameterType="com.toucan.shopping.modules.column.entity.ColumnArea">
        update t_column_area set column_id=#{columnId},area_code=#{areaCode},remark=#{remark},
        update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>


</mapper>