<html class="no-js css-menubar" lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <#include "/title.html"/>

    <#include "/shop_common.html"/>
</head>
<body>

<#include "/top.html"/>

<div class="body_box">

    <ol class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item">
            <a href="${basePath}/index" class="coolc icon-weizhi" href="javascript:;">管理中心</a>
        </li>
        <li class="breadcrumb-item">
            <a href="${basePath}/page/shop/info" href="javascript:;">控制台主页</a>
        </li>
    </ol>

    <div class="left_menu">
        <#include "/left.html"/>
    </div>

    <div class="right_content">
        <div class="right_bg mb-15">
            <div class="index_top_left">
                <div class="title"><span>实时数据</span></div>
                <div class="card_box">
                    <div class="card_left circle-green">
                        <div class="a2">
                            <a href="##" class="btn btn-sm btn-default btn-outline btn-round">提现</a>
                            <p>帐户余额</p>
                            <div class="amount"><span>¥</span><b>99,99000</b></div>
                            <div class="cumulative">
                                <span>累计收入</span>
                                <span>1999,99900</span>
                            </div>
                        </div>
                    </div>
                    <div class="card_right circle-orange">
                        <a href="#" class="a">
                            <p>近7日收入</p>
                            <div class="amount"><span>¥</span><b>16690</b></div>
                            <div class="cumulative">
                                <span>累计收入</span>
                                <span>1999,99900</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="index_top_right">
                <div class="title">
                    <span>保证金</span>
                    <a href="#" class="tips">什么是保证金</a>
                </div>
                <div class="bond_box">
                    <div class="brand_bond">
                        <p>品牌保证金</p>
                        <div class="amount"><span>¥</span><b>20000</b></div>
                        <div class="btn_bottom">
                            <div class="btn-group btn-group-sm">
                                <a href="recharge.html" class="btn btn-outline btn-default">充值</a>
                                <a href="#" class="btn btn-outline btn-default">退保证金</a>
                            </div>
                        </div>
                    </div>
                    <div class="activity_bond">
                        <p>活动保证金</p>
                        <div class="amount"><span>¥</span><b>0</b></div>
                        <div class="btn_bottom">
                            <div class="btn-group btn-group-sm">
                                <a href="recharge.html" class="btn btn-outline btn-default">充值</a>
                                <a href="#" class="btn btn-outline btn-default">提现</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-15">
            <a href="#"><img src="${basePath}/static/images/banner.jpg" style="width:100%"></a>
        </div>

        <div class="index_body_info">
            <div class="index_por_info">
                <div class="right_bg mb-15">
                    <div class="title"><span>订单提醒</span></div>
                    <div class="order_icon_box">
                        <ul>
                            <li><a href="#"><i class="coolc icon-gerenzhong"><b>5</b></i><span>待付款</span></a></li>
                            <li><a href="#"><i class="coolc icon-daifahuo"><b>10</b></i><span>待发货</span></a></li>
                            <li><a href="#"><i class="coolc icon-icon3"></i><span>待收货</span></a></li>
                            <li><a href="#"><i class="coolc icon-pingjia"></i><span>待评价</span></a></li>
                            <li><a href="#"><i class="coolc icon-shouhou"></i><span>售后订单</span></a></li>
                            <li><a href="#"><i class="coolc icon-more"></i><span>全部订单</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="right_bg mb-15">
                    <div class="title">
                        <span>最新审核产品</span>
                        <a href="">更多<i class="coolc icon-jiantouright"></i></a>
                    </div>
                    <div class="to_new_product">
                        <ul>
                            <li>
                                <a href="#" class="pic_box"><img src="${basePath}/static/images/000.jpg"><em class="btn btn-danger btn-round">查看产品</em></a>
                                <a href="#">
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pic_box"><img src="${basePath}/static/images/000.jpg"><em class="btn btn-danger btn-round">查看产品</em></a>
                                <a href="#">
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pic_box"><img src="${basePath}/static/images/000.jpg"><em class="btn btn-danger btn-round">查看产品</em></a>
                                <a href="#">
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pic_box"><img src="${basePath}/static/images/000.jpg"><em class="btn btn-danger btn-round">查看产品</em></a>
                                <a href="#">
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="right_bg">
                    <div class="title">
                        <span>平台公告</span>
                    </div>
                    <div class="notice_platform">
                        <ul>
                            <li><a href=""><span>平台治理表态ezbuy事件：黄牛行为伤害消费者和商家权益<i class="badge badge-outline badge-round badge-info">置顶</i><i class="badge badge-outline badge-round badge-danger">NEW</i></span><em>2017-12-08 22:25</em></a></li>
                            <li><a href=""><span>马云：中国将迎来三大发展机遇 未来经济不可限量<i class="badge badge-outline badge-round badge-warning">HOT</i></span><em>2017-12-08 22:25</em></a></li>
                            <li><a href=""><span>无可替代的个性消费潮：人民为什么需要淘宝双12？</span><em>2017-12-08 22:25</em></a></li>
                            <li><a href=""><span>最潮大叔三个月涨粉66万，淘宝成男性消费第一平台</span><em>2017-12-08 22:25</em></a></li>
                        </ul>
                    </div>
                    <div class="notice_btn">
                        <a href="" class="btn btn-inverse btn-round">更多公告<i class="coolc icon-jiantouright"></i></a>
                    </div>
                </div>
            </div>

            <div class="right_baner_ranking">
                <div class="right_bg mb-15">
                    <div class="title">
                        <span>销售品牌</span>
                    </div>
                    <div class="baner_logo"><a href="#"><img src="${basePath}/static/images/baner_logo.jpg"></a></div>
                    <div class="baner_data">
                        <ul>
                            <li class="li1"><span>店铺收藏</span><b>1159</b></li>
                            <li class="li2"><span>上架产品</span><b>159</b></li>
                            <li class="li3"><span>待评价订单</span><b>9</b></li>
                            <li class="li4"><span>待审产品</span><b>6</b></li>
                        </ul>
                    </div>
                </div>
                <div class="right_bg">
                    <div class="title">
                        <span>销售排行榜</span>
                    </div>
                    <div class="ranking_list">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="${basePath}/static/images/000.jpg">
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="${basePath}/static/images/000.jpg">
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="${basePath}/static/images/000.jpg">
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="${basePath}/static/images/000.jpg">
                                    <span>百达翡丽PATEK PHILIPPE-复杂功能计时系列 5180/1G-010 机械男表</span>
                                    <p><b>￥730800</b><del>￥730800</del></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<#include "/footer.html"/>


</body></html>