<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>

    <!-- Fav Icons -->
    <link rel="shortcut icon" href="${basePath}/static/images/favicon.png" type="image/x-icon">
    
    <!-- StyleSheets -->
    <link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
</head>

<body>
    <!--   HEADER PART START   -->
    <header>

        <!-- Navber -->
        <nav class="navbar navbar-expand-lg navbar-light main-nav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="${basePath}/static/images/logo.png" class="w-100" alt="" />
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-custom">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Practice</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="practicearea.html">Practices</a></li>
                                <li><a class="nav-link" href="practicedetails.html">Practice Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="gallery.html">Gallery</a></li>
                                <li><a class="nav-link" href="attorneys.html">Attorney</a></li>
                                <li><a class="nav-link" href="clients.html">Clients</a></li>
                                <li><a class="nav-link" href="questions.html">Questions</a></li>
                                <li><a class="nav-link" href="bookappoinment.html">Appoinment</a></li>
                                <li><a class="nav-link" href="error.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Blog</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="blogpost.html"> Blogs</a></li>
                                <li><a class="nav-link" href="blogdetails.html"> Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"> Contact</a>
                        </li>
                    </ul>
                    <a href="contact.html" class="nav-btn">Free Consultation</a>
                </div>
            </div>
        </nav>

        <!-- Navber End -->
    </header>
    <!--   HEADER PART END   -->

   
    <!-- HERO BANNER PART START -->

    <div class="banner-slider">
        <div class="hero-banner-part">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-content text-center">
                            <h1>With our recognized leadership in applying legal service and technology.</h1>
                            <a href="contact.html" class="theme-btn">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-banner-part">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-content text-center">
                            <h1>Prisons are built with stones of law brothels with the bricks religion.</h1>
                            <a href="contact.html" class="theme-btn">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HERO BANNER PART END -->

    <!-- PRACTICE AREA PART START -->
    <div class="practice-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="section-heading-content text-center">
                        <h2>Practise Area</h2>
                        <span>Incommode so intention defective at convinced.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/practice/family.svg" alt="" />
                        <h3><a href="practicedetails.html">Family Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/choose/time.svg" alt="" />
                        <h3><a href="practicedetails.html">Financial Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/choose/criminal.svg" alt="" />
                        <h3><a href="practicedetails.html">Criminal Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/choose/broken.svg" alt="" />
                        <h3><a href="practicedetails.html">Divorce Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/practice/relationship.svg" alt="" />
                        <h3><a href="practicedetails.html">Employment Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="grid-practice-area">
                        <img src="${basePath}/static/images/practice/briefcase.svg" alt="" />
                        <h3><a href="practicedetails.html">Trade Mark Law</a></h3>
                        <p>Improve himmr believe opinion offered amemet and endmi cheered forbade mrnendly asem des stronge speedily by recurred on interest.</p>
                        <a href="practicedetails.html" class="read-more-btn">Read More <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PRACTICE AREA PART END -->

   
    <!-- FOOTER TOP PART START -->
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="footer-column">
                        <div class="footer-logo">
                            <a href="index.html"><img src="${basePath}/static/images/logo.png" alt="" /></a>
                        </div>
                        <p>Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred sonint erest wandered sir addition.</p>
                        <p class="personal-info">
                            <i class="fas fa-envelope"></i>
                            <span><a href="mailto:emailhere24@gmail.com">emailhere24@gmail.com</a></span>
                        </p>
                        <p class="personal-info">
                            <i class="fas fa-phone-alt"></i>
                            <span><a href="callto:+00856554863">+00 856 - 554 - 863</a></span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-column">
                        <h3>Latest News</h3>
                        <div class="news-blog d-flex align-items-center">
                            <a href="blogdetails.html"><img src="${basePath}/static/images/news-blog-img1.png" class="img-fluid" alt="" /></a>
                            <a href="blogdetails.html" class="news-blog-title">Child abuse cases are our first priority</a>
                        </div>
                        <div class="news-blog d-flex align-items-center">
                            <a href="blogdetails.html"><img src="${basePath}/static/images/news-blog-img2.png" class="img-fluid" alt="" /></a>
                            <a href="blogdetails.html" class="news-blog-title">Child abuse cases are our first priority</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <div class="footer-column">
                        <h3>Our Practise</h3>
                        <ul>
                            <li><a href="practicedetails.html">Family Law</a></li>
                            <li><a href="practicedetails.html">Financial Law</a></li>
                            <li><a href="practicedetails.html">Criminal Law</a></li>
                            <li><a href="practicedetails.html">Admirally Law</a></li>
                            <li><a href="practicedetails.html">Employment Law</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER TOP PART END -->

    <!-- FOOTER BOTTOM PART START -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text-center text-sm-left">
                    <div class="copy-right-text mb-sm-0 mb-2">
                        <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-sm-right">
                    <div class="copy-right-text">
                        <p>Designed by <i class="fas fa-heart"></i> Gashforing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BOTTOM PART END -->



    <!-- Javascript File -->
    <script src="${basePath}/static/js/jquery-3.6.0.min.js"></script>
    <script src="${basePath}/static/js/bootstrap.min.js"></script>
    <script src="${basePath}/static/js/slick.min.js"></script>
    <script src="${basePath}/static/js/jquery.waypoints.min.js"></script>
    <script src="${basePath}/static/js/jquery.counterup.min.js"></script>
    <script src="${basePath}/static/js/jquery.magnific-popup.min.js"></script>
    <script src="${basePath}/static/js/main.js"></script>
    </body>

    </html>