<!DOCTYPE html>
<html lang="en">


<head>



    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>免费开店</title>

    <!-- Fav Icons -->
    <link rel="shortcut icon" href="${basePath}/static/images/favicon.png" type="image/x-icon">

    <!-- StyleSheets -->
    <link rel="stylesheet" href="${basePath}/static/css/slick.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${basePath}/static/css/magnific-popup.min.css">
    <link rel="stylesheet" href="${basePath}/static/css/font-awesome-5.15.1.min.css" />

    <!-- Custom css File -->
    <link rel="stylesheet" href="${basePath}/static/css/style.css" />
    <link rel="stylesheet" href="${basePath}/static/css/style2.css" />
    <link rel="stylesheet" href="${basePath}/static/css/responsive.css" />
    <script src="${basePath}/static/js/jquery-3.6.0.min.js"></script>

    <#include "/common_js.html"/>

    <style>
        a.index_shop_regist:hover{
            color:#fff;
        }
    </style>


</head>
<body>


<!--Begin Header Begin-->
<div class="soubg">
    <#include "/top.html"/>
</div>

<#include "/title.html"/>

<!-- HERO BANNER PART START -->

<div id="content">
    <div class="i_bg bg_color">
        <div class="banner-slider">
            <div class="hero-banner-part">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-content text-center">
                                <h1>犀鸟商城免费开店</h1>
                                <a href="${basePath}/page/user/shop/regist" class="theme-btn index_shop_regist" >个人申请</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="${basePath}/login" class="theme-btn index_shop_regist">企业申请(暂不支持)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HERO BANNER PART END -->

        <!-- PRACTICE AREA PART START -->
        <div class="practice-area" >
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8">
                        <div class="section-heading-content text-center">
                            <h2>现在开店，立享新商家专属免费权益</h2>
                            <span>加入犀鸟商城，一起走向致富之路</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="grid-practice-area">
                            <img src="${basePath}/static/images/TB1AF2hXnM11u4jSZPxXXahcXXa-124-124.png" alt="" />
                            <h3><a href="practicedetails.html">免费开店</a></h3>
                            <p>0元入驻，免费开店</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="grid-practice-area">
                            <img src="${basePath}/static/images/TB1ZmaaI.T1gK0jSZFrXXcNCXXa-124-124.png" alt="" />
                            <h3><a href="practicedetails.html">海量用户</a></h3>
                            <p>上亿平台消费者，不愁没订单</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="grid-practice-area">
                            <img src="${basePath}/static/images/TB1_M5eI1L2gK0jSZFmXXc7iXXa-124-124.png" alt="" />
                            <h3><a href="practicedetails.html">新商家成长扶持</a></h3>
                            <p>官方交流群，带你快速破单晋级</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 内容部分结束 -->
<!-- 底部页面开始 -->

<#include "/footer.html"/>
<script src="${basePath}/static/js/main.js"></script>

<!-- 底部页面结束 -->

</body></html>