<ul>
    <li class="nav-item "  >
        <a href="${basePath}/page/shop/info"><i class="coolc nav-icon icon-kongzhitai"></i><span>控制台主页</span></a>
    </li>
    <li class="nav-item ">
        <a href="javascript:;"><i class="coolc nav-icon icon-fahuo"></i><span>发货管理</span><i class="coolc nav-more"></i></a>
        <ul style="display: none;">
            <li><a href="order.html"><span class="menu-item-cls">订单列表</span></a></li>
            <li><a href="to_order.html"><span class="menu-item-cls">待发货订单</span></a></li>
            <li><a href="freight.html"><span class="menu-item-cls">运费模板</span></a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;"><i class="coolc nav-icon icon-shouhou"></i><span>售后管理</span><i class="coolc nav-more"></i></a>
        <ul style="display: none;">
            <li><a href="refund.html"><span class="menu-item-cls">退款/售后</span></a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;"><i class="coolc nav-icon icon-shangpin"></i><span>商品管理</span><i class="coolc nav-more"></i></a>
        <ul style="">
            <li><a href="goods_edit.html"><span class="menu-item-cls">发布商品</span></a></li>
            <li><a href="goods_list.html"><span class="menu-item-cls">商品列表</span></a></li>
            <li><a href="goods_data.html"><span class="menu-item-cls">商品数据</span></a></li>
            <li><a href="comment_list.html"><span class="menu-item-cls">评价管理</span></a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;"><i class="coolc nav-icon icon-gift"></i><span>店铺营销</span><i class="coolc nav-more"></i></a>
        <ul style="">
            <li><a href="activities.html"><span class="menu-item-cls">营销活动</span></a></li>
            <li><a href="group.html"><span class="menu-item-cls">团购活动</span></a></li>
            <li><a href="take_activities.html"><span class="menu-item-cls">可参与的活动</span></a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;"><i class="coolc nav-icon icon-9"></i><span>资金管理</span><i class="coolc nav-more"></i></a>
        <ul style="">
            <li><a href="account.html"><span class="menu-item-cls">帐户余额</span></a></li>
            <li><a href="withdrawal.html"><span class="menu-item-cls">提现明细</span></a></li>
            <li><a href="bank.html"><span class="menu-item-cls">提现银行卡</span></a></li>
            <li><a href="bond.html"><span class="menu-item-cls">保证金管理</span></a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;"><i class="coolc nav-icon icon-shezhi"></i><span>店铺设置</span><i class="coolc nav-more"></i></a>
        <ul style="">
            <#if leftName??&&leftName=="shopSeting">
                <li class="active"><a href="${basePath}/page/shop/edit"><span class="menu-item-cls">店铺设置</span></a></li>
            <#else>
                <li><a href="${basePath}/page/shop/edit"><span class="menu-item-cls">店铺设置</span></a></li>
            </#if>
            <li><a href="renovation.html"><span class="menu-item-cls">店铺装修</span></a></li>
            <li><a href="brand_info.html"><span class="menu-item-cls">品牌资料</span></a></li>
            <li><a href="customer.html"><span class="menu-item-cls">客服设置</span></a></li>
            <li><a href="password.html"><span class="menu-item-cls">修改密码</span></a></li>
            <li><a href="invoice.html"><span class="menu-item-cls">发票管理</span></a></li>
        </ul>
    </li>
</ul>