
<script type="text/javascript" src="${basePath}/static/js/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="${basePath}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${basePath}/static/js/site.js"></script>

<link rel="stylesheet" type="text/css" href="${basePath}/static/css/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/bootstrap/coolc_site.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/animsition/animsition.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/coolcfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/base/base.css">

<script type="text/javascript">
    var basePath = "${basePath}";


</script>