
<style>
    .mnavbar{
        width:70%; min-width:600px; text-align:right;float:left;height:140px;
    }
    .mnavbar a{
        font-size:25px;
    }
    .mnavbar ul{
        margin-top:75px;
        float:right;
    }
    .mnavbar li{
        width:150px;
        float:left;
        padding:2em;
    }
    .mnavbarlogo{
        width:25%; min-width:150px; text-align:left;float:left;
    }
    .navbarcontainer{
        width:100%; min-width:1200px;text-align:left;
    }
</style>

<!--   HEADER PART START   -->
<header>

    <!-- Navber -->
    <nav class="" style="height:140px;">
        <div class="navbarcontainer" >
            <div class="mnavbarlogo">
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="${basePath}/static/images/logo.png" class="w-100" alt="" />
                    </div>
                </a>
            </div>
            <div class="mnavbar">
                <ul>
                    <li >
                        <a  href="index.html">开店教程 </a>
                    </li>
                    <li>
                        <a href="about.html">常见问题</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Navber End -->
</header>
<!--   HEADER PART END   -->

