<div class="head_top">
    <div class="w1200">
        <div class="pull-left">
            <a href="#" class="logo"></a>
            <a href="#" class="btn btn-outline btn-default btn-round">返回商城</a>
        </div>
        <div class="pull-right">
            <ul>
                <li class="text"><a href="">站内信<span>10</span></a></li>
                <li class="text"><a href="">规则中心</a></li>
                <li class="text"><a href="">帮助中心</a></li>
                <li class="photo">
                <span class="avatar avatar-online">
                    <img id="shop_logo"  alt="...">
                    <i></i>
                </span>
                    <div class="info_text">
                        <p id="shop_name">店铺名称</p>
                        <span class="btn btn-xs btn-default btn-outline btn-round" onclick="logout();">退出管理</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<#include "/common_js.html"/>
<script src="${basePath}/static/js/seller/sellerInfo.js"></script>
<script>
    function logout()
    {
        window.location.href=basePath+"/page/user/logout";
    }

</script>