<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.product.mapper.ProductMapper">

    <resultMap id="productMap" type="com.toucan.shopping.modules.product.entity.Product" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="attributes" jdbcType="VARCHAR" property="attributes" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        
    </resultMap>

    <select id="queryAllList" resultMap="productMap" parameterType="com.toucan.shopping.modules.product.entity.Product">
        select * from t_product
    </select>

</mapper>