<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.category.mapper.CategoryHotMapper">

    <resultMap id="categoryHotMap" type="com.toucan.shopping.modules.category.entity.CategoryHot" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="category_sort" jdbcType="INTEGER" property="categorySort" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="categoryHotVOMap" type="com.toucan.shopping.modules.category.vo.CategoryHotVO" extends="categoryHotMap">

    </resultMap>

    <sql id="queryListWhere">

        and t.delete_status = 0

        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="parentId!=null">
            and t.parent_id = #{parentId}
        </if>

        <if test="categoryId!=null">
            and t.category_id = #{categoryId}
        </if>

        <if test="showStatus!=null">
            and t.show_status = #{showStatus}
        </if>


        <if test="idArray!=null ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </sql>



    <select id="queryList" resultMap="categoryHotVOMap" parameterType="com.toucan.shopping.modules.category.vo.CategoryHotVO">
        select tc.name,tc.icon,tc.href,t.* from t_category_hot t left join t_category tc
        on t.category_id = tc.id
        <where>
            1=1
            and tc.show_status = 1
            <include refid="queryListWhere" />

        </where>
    </select>


    <select id="queryCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.category.vo.CategoryHotVO">
        select count(*) from t_category_hot t left join t_category tc
        on t.category_id = tc.id
        <where>
            1=1
            and tc.show_status = 1
            <include refid="queryListWhere" />

        </where>
    </select>


    <select id="findTreeTableByPageInfo" resultMap="categoryHotVOMap" parameterType="com.toucan.shopping.modules.category.page.CategoryHotTreeInfo">

        select * from t_category_hot t
        <where>
            1=1
            <if test="name!=null and name!=''">
                and t.name like concat('%',#{name},'%')

            </if>
            and t.delete_status = 0
        </where>

    </select>



    <insert id="insert" parameterType="com.toucan.shopping.modules.category.entity.CategoryHot" useGeneratedKeys="true" keyProperty="id" >
        insert into t_category_hot(id,parent_id,category_id,category_sort,show_status,create_date,update_date,create_admin_id,update_admin_id)
        values(#{id},#{parentId},#{categoryId},#{categorySort},#{showStatus},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId})
    </insert>



</mapper>