<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.category.mapper.CategoryMapper">

    <resultMap id="categoryMap" type="com.toucan.shopping.modules.category.entity.Category" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="notice_tips" jdbcType="INTEGER" property="noticeTips" />
        <result column="category_sort" jdbcType="INTEGER" property="categorySort" />
        <result column="href" jdbcType="VARCHAR" property="href" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
        <result column="update_admin_id" jdbcType="VARCHAR" property="updateAdminId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="categoryVOMap" type="com.toucan.shopping.modules.category.vo.CategoryVO" extends="categoryMap">

    </resultMap>

    <sql id="queryListWhere">

        and t.delete_status = 0

        <if test="id!=null">
            and t.id = #{id}
        </if>

        <if test="parentId!=null">
            and t.parent_id = #{parentId}
        </if>

        <if test="type!=null">
            and t.type = #{type}
        </if>

        <if test="showStatus!=null">
            and t.show_status = #{showStatus}
        </if>


        <if test="idArray!=null and idArray.length>0 ">
            and t.id in
            <foreach item="item" index="index" collection="idArray" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>


        <if test="name!=null and name!=''">
            and t.name = #{name}
        </if>
    </sql>

    <select id="queryList" resultMap="categoryMap" parameterType="com.toucan.shopping.modules.category.vo.CategoryVO">
        select t.* from t_category t
        <where>
            1=1

            <include refid="queryListWhere" />

        </where>
    </select>


    <select id="queryListByIdList" resultMap="categoryMap">
        select * from t_category t  where 1=1 and t.delete_status = 0
        and t.id in
        <foreach item="item" index="index" collection="ids" open="("  close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.category.entity.Category">
        select count(*) from t_category t
        <where>
            1=1
            <include refid="queryListWhere" />

        </where>
    </select>



    <select id="queryPcIndexList" resultMap="categoryMap" parameterType="com.toucan.shopping.modules.category.vo.CategoryVO">
        select t.* from t_category t
        <where>
            1=1
            and t.show_status = 1
            and t.type = 1
            and t.delete_status = 0
        </where>
        order by t.category_sort desc
    </select>


    <insert id="insert" parameterType="com.toucan.shopping.modules.category.entity.Category" useGeneratedKeys="true" keyProperty="id" >
        insert into t_category(id,parent_id,icon,name,href,app_code,category_sort,show_status,type,notice_tips,remark,create_date,update_date,create_admin_id,update_admin_id)
        values(#{id},#{parentId},#{icon},#{name},#{href},#{appCode},#{categorySort},#{showStatus},#{type},#{noticeTips},#{remark},#{createDate},#{updateDate},#{createAdminId},#{updateAdminId})
    </insert>



    <insert id="inserts"  useGeneratedKeys="true" keyProperty="id" >
        insert into t_category(id,parent_id,icon,name,href,app_code,category_sort,show_status,type,notice_tips,remark,create_date,update_date,create_admin_id,update_admin_id)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.parentId},#{entity.icon},#{entity.name},#{entity.href},#{entity.appCode},#{entity.categorySort},#{entity.showStatus},#{entity.type},
            #{entity.noticeTips},#{entity.remark},#{entity.createDate},#{entity.updateDate},#{entity.createAdminId},#{entity.updateAdminId})
        </foreach>

    </insert>



    <select id="queryById" resultMap="categoryMap" parameterType="java.lang.Long">
        select * from t_category where id=#{categoryId} and delete_status=0
    </select>


    <update id="deleteById">
        update t_category  set delete_status=1 where id=#{id}   and delete_status=0
    </update>


    <update id="update" parameterType="com.toucan.shopping.modules.category.entity.Category">
        update t_category set name=#{name},href=#{href},remark=#{remark},show_status=#{showStatus},type=#{type},
        app_code=#{appCode},icon=#{icon},parent_id=#{parentId},notice_tips=#{noticeTips},
        update_admin_id=#{updateAdminId},update_date=#{updateDate}
          where id=#{id}
    </update>

    <select id="queryByParentId" resultMap="categoryMap" >
        select t.* from t_category t
         where 1=1 and t.parent_id=#{parentId}   and t.delete_status=0 order by t.category_sort desc

    </select>


    <select id="findCountByParentId" resultType="java.lang.Long" >
        select count(*) from t_category t
         where 1=1 and t.parent_id=#{parentId}   and t.delete_status=0

    </select>


    <select id="findTreeTableByPageInfo" resultMap="categoryVOMap" parameterType="com.toucan.shopping.modules.category.page.CategoryTreeInfo">

        select * from t_category t
        <where>
            1=1
            <if test="name!=null and name!=''">
                and t.name like concat('%',#{name},'%')

            </if>
            and t.delete_status = 0
        </where>

    </select>



    <select id="queryOneChildCountByPid" resultType="java.lang.Long" >
        select count(*) from t_category t
        <where>
            1=1 and t.parent_id = #{pid}  and t.delete_status = 0
        </where>
    </select>

</mapper>