<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.order.mapper.OrderStatisticMapper">

    <resultMap id="orderStatisticMap" type="com.toucan.shopping.modules.order.vo.OrderStatisticVO" >
        <result column="totalMoney" jdbcType="DECIMAL" property="totalMoney" />
        <result column="todayMoney" jdbcType="DECIMAL" property="todayMoney" />
        <result column="curMonthMoney" jdbcType="DECIMAL" property="curMonthMoney" />
        <result column="curYearMoney" jdbcType="DECIMAL" property="curYearMoney" />
    </resultMap>

    <select id="queryTotalMoney" resultType="java.math.BigDecimal">
        select sum(t.order_amount) from t_order t where  t.delete_status=0 and t.trade_status=3
    </select>


</mapper>