<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.order.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.toucan.shopping.modules.order.entity.Order" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="pay_status" jdbcType="SMALLINT" property="payStatus" />
        <result column="pay_method" jdbcType="SMALLINT" property="payMethod" />
        <result column="trade_status" jdbcType="SMALLINT" property="tradeStatus" />
        <result column="pay_type" jdbcType="SMALLINT" property="payType" />
        <result column="outer_trade_no" jdbcType="VARCHAR" property="outerTradeNo" />
        <result column="best_date" jdbcType="TIMESTAMP" property="bestDate" />
        <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>



    <insert id="insert" parameterType="com.toucan.shopping.modules.order.entity.Order"  >
        insert into t_order(order_no,user_id,order_amount,pay_amount,total_amount,
        pay_status,trade_status,pay_type,pay_method,outer_trade_no,best_date,pay_date,remark,create_date,app_code,create_user_id,delete_status)

         values(#{orderNo},#{userId},#{orderAmount},#{payAmount},#{totalAmount},#{payStatus},
         #{tradeStatus},#{payType},#{payMethod},#{outerTradeNo},#{bestDate},#{payDate},#{remark},#{createDate},#{appCode},#{createUserId},#{deleteStatus})

    </insert>

    <update id="finishOrder" parameterType="com.toucan.shopping.modules.order.entity.Order">
        update t_order set pay_status=1 , outer_trade_no=#{outerTradeNo} , pay_date=#{payDate}  where order_no=#{orderNo} and user_id=#{userId} and delete_status=0
    </update>


    <update id="cancelOrder" parameterType="com.toucan.shopping.modules.order.entity.Order">
        update t_order set trade_status=2 ,pay_status=4  where order_no=#{orderNo} and app_code=#{appCode} and delete_status=0
    </update>


    <select id="queryOrderListByPayTimeout" resultMap="orderMap" parameterType="com.toucan.shopping.modules.order.entity.Order">
        select bo.* from t_order bo
        where 1=1 and bo.delete_status=0 and bo.pay_method=1 and bo.app_code=#{appCode} and pay_status=0 and trade_status=0
         <![CDATA[
            and bo.create_date<#{createDate}
         ]]>
    </select>



</mapper>