<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.order.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.toucan.shopping.modules.order.entity.Order" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="main_order_no" jdbcType="VARCHAR" property="mainOrderNo" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
        <result column="red_package_amount" jdbcType="DECIMAL" property="redPackageAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="pay_status" jdbcType="SMALLINT" property="payStatus" />
        <result column="pay_method" jdbcType="SMALLINT" property="payMethod" />
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="trade_status" jdbcType="SMALLINT" property="tradeStatus" />
        <result column="pay_type" jdbcType="SMALLINT" property="payType" />
        <result column="outer_trade_no" jdbcType="VARCHAR" property="outerTradeNo" />
        <result column="best_date" jdbcType="TIMESTAMP" property="bestDate" />
        <result column="pay_date" jdbcType="TIMESTAMP" property="payDate" />
        <result column="payment_deadline_time" jdbcType="TIMESTAMP" property="paymentDeadlineTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="cancel_date" jdbcType="TIMESTAMP" property="cancelDate" />
        <result column="cancel_remark" jdbcType="VARCHAR" property="cancelRemark" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    </resultMap>


    <resultMap id="orderVOMap" type="com.toucan.shopping.modules.order.vo.OrderVO" extends="orderMap">

    </resultMap>




    <sql id="queryByVOWhere">
        and t.delete_status = 0

        <if test="id!=null  ">
            and t.id = #{id}
        </if>

        <if test="orderNo!=null and orderNo!='' ">
            and t.order_no = #{orderNo}
        </if>

        <if test="userId!=null and userId!='' ">
            and t.user_id = #{userId}
        </if>

    </sql>


    <sql id="queryOrderListByPayTimeoutPageWhere">
         and t.delete_status=0
         and t.pay_method=1
         and t.app_code=#{appCode}
         and t.pay_status=0
         and t.trade_status=0

        <if test="userId!=null">
            and t.user_id = #{userId}
        </if>

        <if test="appCode!=null">
            and t.app_code = #{appCode}
        </if>

         <![CDATA[
            and t.payment_deadline_time<#{createDate}
         ]]>
    </sql>


    <sql id="queryListPageWhere">

        <if test="userId!=null and userId!=''">
            and t.user_id = #{userId}
        </if>

        <if test="shopId!=null and shopId!=''">
            and t.shop_id = #{shopId}
        </if>

        <if test="mainOrderNo!=null and mainOrderNo!=''">
            and t.main_order_no = #{mainOrderNo}
        </if>

        <if test="orderNo!=null and orderNo!=''">
            and t.order_no = #{orderNo}
        </if>

        <if test="appCode!=null">
            and t.app_code = #{appCode}
        </if>

        <if test="payStatus!=null and payStatus!=-1">
            and t.pay_status = #{payStatus}
        </if>

        <if test="tradeStatus!=null and tradeStatus!=-1 ">
            and t.trade_status = #{tradeStatus}
        </if>

        and delete_status = 0

    </sql>

    <insert id="insert" parameterType="com.toucan.shopping.modules.order.entity.Order"  >
        insert into t_order(id,order_no,main_order_no,user_id,src_type,order_amount,pay_amount,payment_deadline_time,total_amount,freight_amount,red_package_amount,coupon_amount,
        pay_status,trade_status,pay_type,pay_method,outer_trade_no,best_date,pay_date,remark,create_date,app_code,delete_status,shop_id)

         values(#{id},#{orderNo},#{mainOrderNo},#{userId},#{srcType},#{orderAmount},#{payAmount},#{paymentDeadlineTime},#{totalAmount},#{freightAmount},#{redPackageAmount},#{couponAmount},#{payStatus},
         #{tradeStatus},#{payType},#{payMethod},#{outerTradeNo},#{bestDate},#{payDate},#{remark},#{createDate},#{appCode},#{deleteStatus},#{shopId})

    </insert>

    <update id="finishOrder" parameterType="com.toucan.shopping.modules.order.entity.Order">
        update t_order set pay_status=1 , outer_trade_no=#{outerTradeNo} , pay_date=#{payDate}  where order_no=#{orderNo} and user_id=#{userId} and delete_status=0
    </update>


    <update id="cancelOrder" parameterType="com.toucan.shopping.modules.order.entity.Order">
        update t_order set trade_status=2 ,pay_status=4,cancel_date=sysdate()  where order_no=#{orderNo} and app_code=#{appCode} and delete_status=0
    </update>


    <select id="queryOrderListByPayTimeout" resultMap="orderMap" parameterType="com.toucan.shopping.modules.order.entity.Order">
        select t.* from t_order t
        where 1=1 and t.delete_status=0 and t.pay_method=1 and t.app_code=#{appCode} and t.pay_status=0 and t.trade_status=0
         <![CDATA[
            and t.create_date<#{createDate}
         ]]>
    </select>



    <insert id="insertByVoList" parameterType="com.toucan.shopping.modules.order.vo.OrderVO"  >
        insert into t_order(id,order_no,main_order_no,user_id,src_type,order_amount,payment_deadline_time,pay_amount,total_amount,freight_amount,red_package_amount,coupon_amount,
        pay_status,trade_status,pay_type,pay_method,outer_trade_no,best_date,pay_date,remark,create_date,app_code,delete_status,shop_id)
        values
        <foreach collection="entitys" item="entity" separator=",">
            (#{entity.id},#{entity.orderNo},#{entity.mainOrderNo},#{entity.userId},#{entity.srcType},#{entity.orderAmount},#{entity.paymentDeadlineTime},#{entity.payAmount},#{entity.totalAmount},#{entity.freightAmount},#{entity.redPackageAmount},#{entity.couponAmount},#{entity.payStatus},
            #{entity.tradeStatus},#{entity.payType},#{entity.payMethod},#{entity.outerTradeNo},#{entity.bestDate},#{entity.payDate},#{entity.remark},#{entity.createDate},#{entity.appCode},#{entity.deleteStatus},#{entity.shopId})
        </foreach>

    </insert>



    <update id="cancelNoPayOrderByMainOrderNo" >
        update t_order set trade_status=2 ,pay_status=4,cancel_date=sysdate()  where main_order_no=#{mainOrderNo} and user_id=#{userId} and pay_status=0  and delete_status=0
    </update>

    <update id="cancelNoPayOrderByMainOrderNoAndCancelRemark" >
        update t_order set trade_status=2 ,pay_status=4,cancel_date=sysdate(),cancel_remark = #{cancelRemark}  where main_order_no=#{mainOrderNo} and user_id=#{userId} and pay_status=0  and delete_status=0
    </update>



    <select id="queryOrderListByPayTimeoutPage" resultMap="orderVOMap" parameterType="com.toucan.shopping.modules.order.page.OrderPageInfo">
        select t.* from t_order t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryOrderListByPayTimeoutPageWhere" />

        </where>
        limit #{start},#{limit}
    </select>


    <select id="queryOrderListByPayTimeoutPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.order.page.OrderPageInfo">
        select count(*) from t_order t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryOrderListByPayTimeoutPageWhere" />

        </where>

    </select>




    <select id="queryListPage" resultMap="orderVOMap" parameterType="com.toucan.shopping.modules.order.page.OrderPageInfo">
        select t.* from t_order t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />

        </where>
        order by t.id desc
        limit #{start},#{limit}
    </select>



    <select id="queryListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.order.page.OrderPageInfo">
        select count(*) from t_order t
        <where>
            1=1 and t.delete_status = 0

            <include refid="queryListPageWhere" />

        </where>

    </select>

    <select id="findListByMainOrderNo" resultMap="orderMap" parameterType="java.lang.String">
        select t.* from t_order t where 1=1 and t.delete_status=0 and t.main_order_no = #{mainOrderNo}
    </select>

    <select id="queryByMainOrderNo" resultMap="orderMap" >
        select * from t_order where main_order_no=#{mainOrderNo} and app_code=#{appCode} for update
    </select>

    <update id="cancelByMainOrderNo">
        update t_order set trade_status=2 ,pay_status=4,cancel_date=sysdate(),cancel_remark=#{cancelRemark}  where main_order_no=#{mainOrderNo} and app_code=#{appCode} and delete_status=0
    </update>


    <select id="queryOneByVO" resultMap="orderMap" parameterType="com.toucan.shopping.modules.order.vo.OrderVO" >
        select t.* from t_order t
        where 1=1
        <include refid="queryByVOWhere" />

        limit 0,1
    </select>


</mapper>