<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.order.mapper.OrderExpressDeliveryMapper">

    <resultMap id="entityMap" type="com.toucan.shopping.modules.order.entity.OrderExpressDelivery" >
        <id column="id" jdbcType="BIGINT"  property="id" />
        <result column="company_type_code" jdbcType="VARCHAR" property="companyTypeCode" />
        <result column="company_type_name" jdbcType="VARCHAR" property="companyTypeName" />
        <result column="courier_number" jdbcType="VARCHAR" property="courierNumber" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="buyer_user_main_id" jdbcType="BIGINT" property="buyerUserMainId" />
        <result column="seller_user_main_id" jdbcType="BIGINT" property="sellerUserMainId" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="app_code" jdbcType="VARCHAR" property="appCode" />
        <result column="sharding_date" jdbcType="TIMESTAMP" property="shardingDate" />

    </resultMap>


    <resultMap id="entityVOMap" type="com.toucan.shopping.modules.order.vo.OrderExpressDeliveryVO">

    </resultMap>


    <insert id="insert" parameterType="com.toucan.shopping.modules.order.entity.OrderExpressDelivery" useGeneratedKeys="true" keyProperty="id">
         insert into t_order_express_delivery(id,company_type_code,company_type_name,courier_number,order_id,
         buyer_user_main_id,seller_user_main_id,remark,create_date,app_code,delete_status,sharding_date)
         values(#{id},#{companyTypeCode},#{companyTypeName},#{courierNumber},#{orderId},
         #{buyerUserMainId},#{sellerUserMainId},#{remark},#{createDate},#{appCode},#{deleteStatus},#{shardingDate})
    </insert>

    <update id="update" parameterType="com.toucan.shopping.modules.order.entity.OrderExpressDelivery">
        update t_order_express_delivery set company_type_code=#{companyTypeCode} , company_type_name=#{companyTypeName} , courier_number=#{courierNumber}
        where order_id=#{orderId} and id=#{id} and delete_status=0
    </update>

    <select id="queryByOrderId" parameterType="java.lang.Long" resultMap="entityMap">
        select * from t_order_express_delivery where order_id=#{orderId} and delete_status=0
    </select>


</mapper>