<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toucan.shopping.modules.order.mapper.OrderStatisticMapper">

    <resultMap id="orderStatisticMap" type="com.toucan.shopping.modules.order.vo.OrderStatisticVO" >
        <result column="totalMoney" jdbcType="DECIMAL" property="totalMoney" />
        <result column="todayMoney" jdbcType="DECIMAL" property="todayMoney" />
        <result column="curMonthMoney" jdbcType="DECIMAL" property="curMonthMoney" />
        <result column="curYearMoney" jdbcType="DECIMAL" property="curYearMoney" />
    </resultMap>


    <resultMap id="orderHotSellVOMap" type="com.toucan.shopping.modules.order.vo.OrderHotSellStatisticVO">
        <result column="sku_id" jdbcType="BIGINT" property="skuId" />
        <result column="sellCount" jdbcType="BIGINT" property="sellCount" />
        <result column="sellTotal" jdbcType="DECIMAL" property="sellTotal" />
    </resultMap>


    <sql id="queryHotSellListPageWhere">


    </sql>

    <select id="queryTotalMoney" resultType="java.math.BigDecimal">
        select sum(t.order_amount) from t_order t where  t.delete_status=0 and t.trade_status=3
    </select>

    <select id="queryTodayMoney" resultType="java.math.BigDecimal">
        select sum(t.order_amount) from t_order t where  t.delete_status=0 and t.trade_status=3
       <![CDATA[
             AND t.pay_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 00:00:00')
             AND t.pay_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>

    <select id="queryCurMonthMoney" resultType="java.math.BigDecimal">
        select sum(t.order_amount) from t_order t where  t.delete_status=0 and t.trade_status=3
          <![CDATA[
             AND t.pay_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m'),'-01 00:00:00')
             AND t.pay_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>

    <select id="queryCurYearMoney" resultType="java.math.BigDecimal">
        select sum(t.order_amount) from t_order t where  t.delete_status=0 and t.trade_status=3
          <![CDATA[
             AND t.pay_date>=CONCAT(DATE_FORMAT(SYSDATE(), '%Y'),'-01-01 00:00:00')
             AND t.pay_date<=CONCAT(DATE_FORMAT(SYSDATE(), '%Y-%m-%d'),' 23:59:59')
         ]]>
    </select>




    <select id="queryHotSellListPage" resultMap="orderHotSellVOMap" parameterType="com.toucan.shopping.modules.order.page.OrderHotSellPageInfo">
        select t.sku_id,sum(t.order_item_amount) as sellTotal,count(t.sku_id) as sellCount  from t_order_item t
        <where>
            1=1 and t.delete_status=0 and t.buyer_status=1
            <include refid="queryHotSellListPageWhere" />
        </where>
        group by t.sku_id
        order by sellTotal desc
        limit #{start},#{limit}
    </select>


    <select id="queryHotSellListPageCount" resultType="java.lang.Long" parameterType="com.toucan.shopping.modules.order.page.OrderHotSellPageInfo">
        select count(*)  from t_order_item t
        <where>
            1=1 and t.delete_status=0 and t.buyer_status=1
            <include refid="queryHotSellListPageWhere" />
        </where>
        group by t.sku_id

    </select>


</mapper>